<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="closeModal()">
			<img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
		</button>
		<h1 class="title bar-follower-font">发布风采</h1>
		<button class="button button-icon " ng-click="save()" ng-disabled="newNewsForm.$invalid">
			<img src="img/icon/icon-submit.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
		</button>
	</ion-header-bar>
	<form name="newNewsForm" novalidate >
		<ion-content style="padding: 15px;">

			<div class="spacer" style="height: 20px;"></div>
			<label class="item item-input">
				<input name="ip_title" type="text" placeholder="请输入标题" ng-model="selected.title" maxlength="30" required>
			</label>

			<div class="spacer" style="height: 20px;"></div>
			<label class="item item-input">
				<textarea placeholder="请输入内容" style="height: 100px;" ng-model="selected.text" maxlength="2000" required></textarea>
			</label>
			<div class="spacer" style="height: 20px;"></div>

			<div class="item item-divider" id="item-style">
				风采类型
			</div>
			<div class="item item-text-wrap" style="padding: 5px !important;" id="item-text">
				<button class="button"  ng-repeat="btn in newsTypeSelectable" ng-click="selected.key=btn.key" ng-class="selected.key==btn.key?'btn-text_style':'btn-type'" style="margin: 2px 5px;">
					{{btn.name}}
				</button>
			</div>

			<div class="spacer" style="height: 20px;"></div>

			<div class="row flex-row" style="padding: 0;margin-top: 2px;">
				<div class="col pic-grid" ng-repeat="item in attachments track by $index" style="position: relative;">
					<img style="position:absolute;right: 2px;top: 2px;height: 20px;width: 20px;"
						 src="img/icon/fail_03.png" ng-click="removeImg($index, $event)"/>
					<img ng-src="{{item.data?item.data:item}}" style="max-width: 100%" ng-click="preViewImages($index)"/>
				</div>
				<div class="col pic-grid" style="text-align: center;padding-top: 30px;" ng-if="attachments.length < 9">
					<a class="button icon ion-plus-round border-btn-add" style="color: #888" ng-click="selectImg()"></a>
				</div>

				<input type="file" accept="image/*"   id="capture" name="file" class="mFileInput"   style="display:none;"  onchange="angular.element(this).scope().getFile(this.files)" />
			</div>

			<div class="spacer" style="height: 30px;"></div>

		</ion-content>
	</form>
</ion-modal-view>
