<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">宝宝视频</h1>
    </ion-header-bar>
    <ion-content style="background:#f3f4f6;">
        <ion-list>
            <div class="item" style="margin:10px;border:none;border-radius:5px;padding:10px 13px;" ng-repeat="item in videoList" ng-click="onVideClick(item)">
            <h2 class="list-title-set">{{item.cameraName}}</h2>
            <div style="margin-top:8px;font-size:15px;color:#666;white-space: normal;width:calc(100% - 50px);">{{item.babyVideoTimeIntervalStr}}</div></div>
        </ion-list>
        <div class="empty-list-tip" style="margin-top:40%" ng-if="videoList&&videoList.length===0">
            <img src="img/icon/noData.png" />
            <p style="margin-top:15px;font-size:17px;">暂无数据</p>
        </div>
    </ion-content>
</ion-view>