<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="closeModal('edit')">
			<img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
		</button>
		<h1 class="title bar-follower-font">{{modalTitle}}</h1>
		<a class="button button-clear" style="color:white;font-weight: 400;" ng-click="saveConversation()"> 确定 </a>
	</ion-header-bar>
	<ion-content style="padding: 15px;">

		<div class="item item-input no-border-radius" style="margin-bottom: 5px;">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="text" placeholder="搜索联系人" ng-model="sel.add_search" maxlength="20" class="input"/><img ng-if="sel.add_search.length>0" src="img/icon/close.png" ng-click="sel.add_search='';" style="width: 16px;height: 16px;margin-right: 10px;"/>
		</div>

		<div ng-repeat="group in addModeContactTree | filter: {isGroup: false}" >
			<div class="item" style="padding: 8px 8px 8px 16px;border: 0;border-radius: 0;margin-top: 1px;" ng-click="toggle(group, filtered.length);">
				<img ng-class="group.show?'people-select-triangle-open':'people-select-triangle-close'"
					 ng-src="{{group.show?'img/icon/triangle_down.png':'img/icon/triangle_right.png'}}">
				<h2 style="margin-left: 20px;">{{group.name}} <span style="float: right;margin-right: 10px;color: #333333;font-size: small">{{filtered.length}}</span></h2>
			</div>

			<ion-checkbox class="item" style="padding: 8px 8px 8px 48px;border-radius: 0;" ng-repeat="contact in filtered = (group.list | filter: {Name: sel.add_search} | filter: {Member_Account: '!' + userID} | filter: editFilter)" ng-model="contact.isChecked" ng-if="group.show" ng-click="selectionChanged(contact)">
				<img style="float: left" class="chat_avatar" src="img/icon/person.png" ng-src="{{contact.Icon}}" >
				<h2 ng-if="contact.Name" style="margin-left: 60px;margin-top: 10px;">{{contact.Name}}</h2>
				<h2 ng-if="!contact.Name" style="margin-left: 60px;margin-top: 10px;">{{contact.Member_Account}}</h2>
			</ion-checkbox>

		</div>

		<div ng-if="emptyContacts" style="display: block;padding: 5% 10%">
			• 未找到联系人
		</div>

		<div class="spacer" style="height: 30px;"></div>

	</ion-content>
</ion-modal-view>
