<ion-view>
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="goBack()">
			<img src="img/icon/icon-arrow_left.png"  style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
		</button>
		<h1 class="title bar-follower-font" >新消息通知设置</h1>
	</ion-header-bar>
	<ion-content padding="true" class="has-header">
		<ul class="list">

			<li class="item item-toggle"  style="border-radius: 5px;">
				接收新消息通知
				<label class="toggle toggle-success">
					<input type="checkbox" ng-model="revStatus.checked" ng-change="pushNotificationChange()" ng-disabled="!isAndroid()"/>
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>
			<div class="spacer" style="height: 20px;"></div>

			<div ng-if="revStatus.checked && isAndroid()">
				<p style="padding: 5px;">为了不打扰您休息, 22:00 - 07:00 期间将进行静默提醒。</p>
				<li class="item item-toggle"  style="border-radius: 5px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">
					声音提醒
					<label class="toggle toggle-success">
						<input type="checkbox" ng-model="revStatus.soundChecked" ng-change="pushNotificationBehaveChange()">
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</li>

				<li class="item item-toggle" style="border-radius: 5px; border-top-right-radius: 0; border-top-left-radius: 0;">
					震动提醒
					<label class="toggle toggle-success">
						<input type="checkbox" ng-model="revStatus.vibrateChecked" ng-change="pushNotificationBehaveChange()">
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</li>
				<a ng-click="goInstruction()" class="button button-positive button-clear" style="float: left;margin-top: 20px;">收不到消息提醒?</a>
			</div>

			<div ng-if="!isAndroid()">
				<p style="padding: 5px;">如果你要关闭或开启小跟班的新消息通知，请在iPhone的“设置” - “通知”功能中，找到应用程序“小跟班”进行更改。</p>
			</div>
		</ul>
	</ion-content>
</ion-view>
