<ion-view hide-nav-bar="true" cache-view="true" class="global-view">
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">报修记录</h1>
    </ion-header-bar>
    <a class="button icon button-balanced ion-plus-round float-button" ng-click="openModal()" style="bottom: 50px;"></a>

    <ion-content style="background-color: #F3F5F4;">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="refreshData()">
        </ion-refresher>
        <div class="row row-wrap" style="background-color: white;height:57px; ">
            <div class="col col-50" style="text-align: center;padding-top:4px;padding-bottom:0px;border-right: solid 1px #ddd;" 
                ng-click="selectTypeClick(1)">
                <div style="font-size: 20px;" ng-style="{'color':selectType==1?'#2bcab2':'black'}">{{repairData.unclosedSize?repairData.unclosedSize:0}}</div>
                <div style="font-size: 14px;margin-top: -3px;"  ng-style="{'color':selectType==1?'#2bcab2':'#666'}">待解决</div>
            </div>
            <div class="col col-50" style="text-align: center;padding-top:4px;"
                ng-click="selectTypeClick(2)">
                <div style="font-size: 20px;" ng-style="{'color':selectType==2?'#2bcab2':'black'}">{{repairData.closedSize?repairData.closedSize:0}}</div>
                <div style="font-size:14px;margin-top: -3px;" ng-style="{'color':selectType==2?'#2bcab2':'#666'}">已关闭</div>
            </div>
        </div>
        <ion-list>

            <div class="spacer" style="width: 100%; height: 10px;"></div>
            <ion-item class="item" style="padding:10px 12px;border-radius: 5px;border: none;margin:10px;" ng-repeat="item in repairList"
                ng-click="goToDetail(item.id,item.readStatus)">
                <div style="position: relative;top:-10px;right: -12px;float: right;" ng-if="item.readStatus==0">
                    <img src="img/repair/unread.png" style="width: 50px;height: 50px;" />
                </div>
                <h2 style="white-space: nowrap;overflow: hidden;text-overflow : ellipsis;margin-top: 5px;margin-bottom: 5px;" class="list-title-set"> {{item.terminalAddress}}&nbsp;</h2>
                <div style="width:100%; background-color:  #ddd;height: 1px;margin-top: 8px;"></div>
                <div style="font-size: small;color: #999;margin-top: 6px;">{{item.name}}
                    <span style="color:#6c99e7;" ng-style="{'margin-left':item.name?'5px':'0px'}">{{item.orderTime.substr(5,11)}}</span>
                </div>
                <div style="margin-top: 5px;overflow: hidden;white-space: nowrap;overflow: hidden;text-overflow : ellipsis;" class="list-content-set">{{item.orderDescribe}}</div>
                <div style="background-color: #ddd;width: 100%;height: 1px;margin-top: 8px;" ng-if="item.assetNumber"></div>
                <div style="font-size:small;color:#666;margin-top:8px;" ng-if="item.assetNumber"> 
                    <img src="img/repair/assetsId.png" style="width:16px;height:14px;margin-top: 2px;float:left;"/>
                    <div style="font-size:small;float:left;margin-left:5px;">{{item.assetNumber}}</div>
                </div>
            </ion-item>

            <div class="empty-list-tip" ng-if="repairList.length==0">
                <img src="img/repair/no_repair.png">
                <p ng-if="selectType==1" style="margin-top:10px;">暂无待解决报修记录</p>
                <p ng-if="selectType==2" style="margin-top:10px;">暂无已关闭报修记录</p>
            </div>
        </ion-list>
        <ion-infinite-scroll ng-if="isMoreData" on-infinite="loadMore()" immediate-check="false" distance="0.5%"></ion-infinite-scroll>
        <div class="load_no_more" ng-if="!isMoreData&&repairList.length>9">没有更多了</div>

    </ion-content>


</ion-view>