<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar bar-header bar-follower">
       <back-btn></back-btn>
        <h1 class="title bar-follower-font">{{rankTitle}}</h1>
    </ion-header-bar>

    <ion-content class="has-header">

        <div class="item item-input no-border-radius" ng-if="type=='usage'">
            <div class="input-label" style="width: 15%">
                统计：
            </div>
            <button class="button" ng-click="onSelectedUsedOrOnline(0)" ng-class="selected.type==0?'btn-text_style':'btn-type'">
                设备使用率
            </button>
            <button class="button" ng-click="onSelectedUsedOrOnline(1)" ng-class="selected.type==1?'btn-text_style':'btn-type'">
                设备上课率
            </button>
        </div>

        <div class="item item-input no-border-radius">
            <div class="input-label" style="width: 15%">
                时间：
            </div>
            <button class="button" ng-click="onSelectedDayChange(7)" ng-class="selected.days==7?'btn-text_style':'btn-type'">
                最近7天
            </button>
            <button class="button" ng-click="onSelectedDayChange(30)" ng-class="selected.days==30?'btn-text_style':'btn-type'">
                最近30天
            </button>
        </div>

        <div class="item item-input no-border-radius" ng-if="cityChoosable || areaChoosable">
            <div class="input-label" style="width: 15%">
                范围：
            </div>
            <select class="button btn-type" ng-model="selected.city" ng-options="item.id as item.areaName for item in cities" ng-change="onSelectionChange(true)" ng-if="cityChoosable" style="min-width: 91px;max-width: 110px;">
                <option value="" selected>市</option>
            </select>
            <select class="button btn-type" ng-model="selected.area" ng-options="item.id as item.areaName for item in areas" ng-change="onSelectionChange()" ng-if="cityChoosable || areaChoosable" style="min-width: 91px;max-width: 110px;">
                <option value="" selected>县区</option>
            </select>
        </div>
        <div class="spacer xView-grey" style="height: 10px;"></div>

        <div ng-hide="emptyContent" ng-style="{height: chartHeight+ 'px'}" rank-chart e-data="data"></div>

        <div ng-if="emptyContent" class="empty-list-tip" style="margin-top: 10%">
            <img src="img/empty_content.png">
            <p>暂无数据</p>
        </div>

        <p class="chart-remark" ng-if="!emptyContent && type==='class'">注：统计值是各班级中设备累计使用时长(小时)</p>
        <p class="chart-remark" ng-if="!emptyContent && type==='teacher'">注：统计值是各教师的设备累计使用时长(小时)，最多显示排名前50名的教师，如需查看更多请使用电脑登录后台。</p>
        <p class="chart-remark" ng-if="!emptyContent && type==='time'">注：统计值是学校设备平均使用时长（小时），最多显示排名前50所学校，如需查看更多请使用电脑登录后台。</p>
        <p class="chart-remark" ng-if="!emptyContent && type==='usage'">注：统计值是学校设备使用率，计算公式：有使用过的设备数/总设备数。设备上课率计算公式：统计时段内全部上学日使用设备上课的总课程数/学校统计时段内上学日的总课程数，要求学校课程表需要正确设置教师和学科信息。最多显示排名前50所学校，如需查看更多请使用电脑登录后台。</p>
        <p class="chart-remark" ng-if="!emptyContent && type==='teacherUseTime'">注：统计值是学校教师平均使用时长（小时），最多显示排名前50所学校，如需查看更多请使用电脑登录后台。</p>

    </ion-content>
</ion-view>
