<div style="color:#666;font-size:15px;padding:10px;">
        <div>您的账号权限将于<span style="color:#2bcab2;font-weight:bold;">{{authDateMsg.substr(0,10)}}</span>过期</div>
        <div>过期后对应模块在APP及网页端均不能再使用，续期请联系<span style="color:#2bcab2;font-weight:bold;">QQ客服(1833025389)</span>或小跟班业务员</div>
        <div class="button" ng-click="closeAuthAlert()" style="height:30px;width:calc(100% - 80px);margin-left:40px;margin-top:15px;background:#2bcab2;color:white;">知道了</div>
</div>