<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <div class="button-bar" style="padding-left: 14%;padding-right: 22%">
            <button class="button tab-button tab-btn" ng-click="switchView(true)" ng-class="chartView?'activated_btn_green':''">时长</button>
            <button class="button tab-button tab-btn" ng-click="switchView(false)" ng-class="chartView?'':'activated_btn_green'">截图</button>
        </div>
    </ion-header-bar>
    <ion-content class="has-header">

        <div ng-if="chartView">

            <div class="item item-input no-border-radius">
                <div class="input-label" style="width: 15%">
                    时间：
                </div>
                <button class="button" ng-click="onSelectedDayChange(7)" ng-class="selected.days==7?'btn-text_style':'btn-type'">
                    最近7天
                </button>
                <button class="button" ng-click="onSelectedDayChange(30)" ng-class="selected.days==30?'btn-text_style':'btn-type'">
                    最近30天
                </button>
            </div>

            <div style="height:200px;" terminal-use-chart="" e-data="data"></div>

            <div class="row main-row no-border-radius border-b border-t">
                <div class="col-50 main-item border-r" style="text-align: center">
                    <p>累计使用时长</p>
                    <span class="color-positive">{{totalTime}}</span>
                </div>
                <div class="col-50 main-item" style="text-align: center">
                    <p>日平均使用时长</p>
                    <span class="color-xgenban">{{avaTime}}</span>
                </div>
            </div>

        </div>

        <ion-refresher
                pulling-text="下拉刷新..."
                on-refresh="getScreenShots(true)">
        </ion-refresher>

        <div ng-if="!chartView">

            <div class="item item-input no-border-radius">
                <div class="input-label" style="width: 15%">
                    日期：
                </div>
                <a class="button btn-type" ng-click="showDatePicker()" style="padding: 7px 15px;">{{selected.date}}</a>
            </div>

            <div class="row main-row no-border-radius">
                <div ng-repeat="item in list" class="col-50 terminal-list-item" style="text-align: center"
                     ng-click="viewImg(item.picture)">
                    <img ng-src="{{item.thumbnail}}" style="width: 100%" />
                    <h5 class="terminal-online">{{item.updateTime.substr(11,8)}}</h5>
                </div>
            </div>

            <div ng-if="!loading && list.length === 0" class="empty-list-tip" style="margin-top: 10%">
                <img src="img/empty_content.png">
                <p>暂无数据</p>
            </div>
            <div class="spacer" style="width: 300px; height: 20px;"></div>

            <ion-infinite-scroll
                    spinner="spiral"
                    ng-if="listHasMore"
                    on-infinite="getScreenShots()"
                    distance="10%">
            </ion-infinite-scroll>

        </div>


    </ion-content>
</ion-view>
