<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">演练管理</h1>
    </ion-header-bar>
    <a class="button icon button-balanced ion-plus-round float-button" ng-click="addExerciseModalFunc()"
    style="bottom: 50px;"></a>
    <ion-content style="background:#f3f4f6;">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="refreshData()">
        </ion-refresher>
        <ion-list>
            <div class="item" ng-repeat="item in list"
                style="border:none;border-radius:5px;margin:10px;padding-bottom: 0px !important;">
                <h2 style="white-space: nowrap;overflow: hidden;text-overflow : ellipsis;margin-top: 7px;margin-bottom: 5px;"
                    class="list-title-set">{{item.title}}</h2>
                <div style="width:100%; background-color:  #ddd;height: 1px;margin-top: 8px;"></div>
                <div style="margin-top:7px;color:#999;font-size:13px;">{{item.insertman}}&nbsp;&nbsp;{{item.createTime.substr(0,10)}}&nbsp;&nbsp;{{item.createTime.substr(11,5)}}</div>
                <div style="margin-top:10px;">
                    <img src="img/others/time.jpg" style="width:20px;height:20px;float: left;" />
                    <div style="position: relative;left:10px">
                        <span style="color:#999;">时间:</span>
                        <span style="color:#333;margin-left:5px;">{{item.drillTime}}</span>
                    </div>
                </div>
                <div style="margin-top:10px;">
                    <img src="img/others/address.png" style="width:20px;height:20px;float: left;" />
                    <div style="position: relative;left:10px;white-space: nowrap;overflow: hidden;text-overflow : ellipsis;top:0px;">
                        <span style="color:#999;">地点:</span>
                        <span style="color:#333;margin-left:5px;">{{item.address}}</span>
                    </div>
                </div>
                <div class="row" style="padding:5px 0px 5px 0px;border-top:1px solid #ddd;margin-top:13px;">
                    <div class="col col-50" ng-click="goToNextPage('detail',item)"
                        style="text-align: center;border-right: 1px solid #ddd;">
                        <img src="img/others/detail.png" style="width:24px;height:24px;position: relative;top:0px;" />
                        <span style="color:#2bcab2;position: relative;top:2px;">详情</span>
                    </div>
                    <div class="col col-50" ng-click="goToNextPage('record',item)" style="text-align: center;">
                        <img src="img/others/record.png" style="width:24px;height:24px;position: relative;top:0px;" />
                        <span style="color:orange;position: relative;top:2px;">记录</span>
                    </div>
                </div>
            </div>

        </ion-list>

        <div class="empty-list-tip"
            ng-if="!list||(list&&list.length===0)">
            <img src="img/empty_content.png">
            <p>暂无数据</p>
        </div>

        <ion-infinite-scroll ng-if="!isMoreData" on-infinite="loadMore()" immediate-check="false" distance="0.5%">
        </ion-infinite-scroll>
        <div class="load_no_more" ng-if="isMoreData&&list&&list.length>9"> 没有更多了</div>
    </ion-content>
</ion-view>