<ion-view>
        <ion-header-bar class="bar bar-header bar-follower">
            <back-btn></back-btn>
            <h1 class="title bar-follower-font">上报隐患</h1>
        </ion-header-bar>
        <form name="reportForm" novalidate>
            <ion-content style="padding:16px;">
                <div class="item item-input" style="border:0px;border-bottom: 1px solid #ddd;margin-top:10px;">
                    <!-- <img src="img/repair/location.png" style="width: 18px;height:27px;"/> -->
                    <input name="ip_title" type="text" placeholder="隐患标题,必填,限20字"
                        style="font-size: 16px;margin-left: 0px;margin-right: 20px;border:none;" ng-model="select.title" maxlength="20"
                        required>
                </div>
    
                <label class="item item-input" style="border:0px;border-bottom: 1px solid #ddd;margin-top: 7px;">
                    <img src="img/repair/location.png" style="width: 18px;height:27px;" />
                    <input name="ip_title" type="text" placeholder="隐患地点,必填,限20字" style="font-size: 16px;margin-left: 10px;border:none;"
                        ng-model="select.location" maxlength="20" required>
                </label>
    
                <div class="spacer" style="height: 20px;"></div>
    
                <div style="background-color:#F3F4F6;border-radius:8px;padding:0px;">
                    <textarea placeholder="隐患描述,必填,限200字"
                        style="width:100%;height: 140px;padding: 8px 9px;background-color:#F3F4F6;font-size:16px;border-radius: 8px; "
                        ng-model="select.message" maxlength="200" required></textarea>
                </div>
                <div class="spacer" style="height: 20px;"></div>
    
                <div class="row flex-row" style="padding: 0;margin-top: 2px;">
                    <div class="col pic-grid" ng-repeat="item in reportImgs track by $index" style="position: relative;">
                        <img style="position:absolute;right: 2px;top: 2px;height: 20px;width: 20px;"
                            src="img/icon/fail_03.png" ng-click="removeImg($index, $event)" />
                        <img ng-src="{{item.data?item.data:item}}" style="max-width: 100%"
                            ng-click="preViewImages($index)" />
                    </div>
                    <div class="col pic-grid" style="text-align: center;padding-top: 30px;" ng-click="selectImg()"
                        ng-if="reportImgs.length < 9">
                        <!-- <a class="button icon ion-plus-round border-btn-add" style="color: #888" ng-click="selectImg()"></a> -->
                        <div class="button icon"><img src="img/others/Camera.png"
                                style="width:24px;height:24px;margin-top:0px;" /></div>
                    </div>
                    <input type="file" accept="image/*" id="capture101" name="file" class="mFileInput" style="display:none;"
                    onchange="angular.element(this).scope().getFile(this.files)" />      
                </div>
    
                <div class="item" style="margin-top:13px;border: none;font-size: 16px;">
                    <span style="color:#333;">指派给:</span>
                    <div class="row flex-row" style="padding: 0;margin-top: 2px;">
                        <div class="col person-grid" ng-if="select.selectManName&&select.selectManName!==''"
                            style="position: relative;">
                            <div class="name-tab">
                                {{select.selectManName.length>4?select.selectManName.substr(1,4):select.selectManName}}
                            </div>
                            <img style="position: absolute;right: 12px;top: 0px;height: 21px;width: 21px;z-index:9999;"
                                src="img/icon/approval_delete.png" on-tap="removeMan($index)" />
                        </div>
    
                        <div ng-if="!select.selectManName" class="col pic-grid"
                            style="text-align: left;padding-top: 5px;padding-left:15px;width: 80px;height: 80px;">
                            <a class="button icon ion-plus-round border-btn-add"
                                style="color: #888;border-radius:50%;min-width:50px;height:50px;padding-top: 2px;"
                                ng-click="selectMan()"></a>
                        </div>
                    </div>
                </div>
    
                <div class="button"
                    style="width:calc(100% - 110px);margin-left: 55px;margin-top:20px;height: 40px;line-height: 40px;min-height: 40px;border:1px solid #DDDDDD;border-radius: 20px;font-size:17px;background-color:#DDDDDD;color:#9D9D9D;font-weight: 500;"
                    ng-if="reportForm.$invalid||isLoading">保存</div>
                <div class="button" ng-click="commitTrouble()"
                    style="width:calc(100% - 110px);margin-left: 55px;margin-top:20px;height: 40px;line-height: 40px;min-height: 40px;border-radius: 20px;font-size:17px;background-color:#FEB736 ;color:white;font-weight: 500;border:none;"
                    ng-if="!reportForm.$invalid&&!isLoading">保存</div>
    
                <div class="spacer" style="height: 30px;"></div>
            </ion-content>
        </form>
    
    </ion-view>