<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">{{news.title}}</h1>
    </ion-header-bar>

    <ion-content   class="abnormal_notice_bg" scroll="false">
        

        <div class="abnormal_notice_time">
         <img src="img/noticeClock.png" style="width: 20px;margin-left: 18px;margin-top: 15px;float: left;" />
         <div style="font-size: 17px;margin-left:15px;color:#ff8a36;font-weight: 500; float: left;">{{news.createTime}}</div>
        </div>

        <div class="abnormal_notice_content">
            <div class="abnormal_notice_text">{{::noticeContent}}</div>
        </div>
    </ion-content>
</ion-view>
