<ion-view>
	<ion-header-bar class="bar bar-header bar-follower">
		<back-btn></back-btn>
		<h1 class="title bar-follower-font">预览</h1>
	</ion-header-bar>
	<ion-content scroll="false">

		<div style="height: 100vh;width: 100vw">
			<pdfjs-viewer data="pdfdata"></pdfjs-viewer>
		</div>

	</ion-content>
</ion-view>
