<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <button class="button button-icon icon " ng-click="hideNoticenModal()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;"
                alt="" />
        </button>
        <h1 class="title bar-follower-font">发布通知</h1>
    </ion-header-bar>

    <ion-content style="background: #f3f4f6;">
        <div class="item" style="border: none;height:55px;font-size: 17px;">
            <span style="color: #333;">类别：</span>
            <span ng-click="chooseNoticeType(0)"
                ng-style="{'color':select.noticeType===0?'orange':'#666','border-bottom':select.noticeType===0?'3px solid orange':'none'}"
                style="padding:11px 8px;margin-left: 10px;">文本</span>
            <span ng-click="chooseNoticeType(1)"
                ng-style="{'color':select.noticeType===1?'orange':'#666','border-bottom':select.noticeType===1?'3px solid orange':'none'}"
                style="padding:11px 8px;height: 44px;color:#666;margin-left: 20px;">图片</span>
        </div>


        <div class="item" ng-click="chooseNoticeTime()" style="border: none;height:55px;font-size: 17px;margin-top:10px;color:#333;">
            <span>时效：</span>
            <span style="margin-left:10px;font-size: 16px;"
                ng-style="{'color':select.noticeTime?'#333':'#999'}">{{select.noticeTime?select.noticeTime.substr(0,16):'请选择时效'}}</span>
        </div>

        <form name="infoForm" novalidate>
            <div class="list" ng-if="select.noticeType===0">
                <div class="item" style="border: none;height:55px;margin-top:10px;color:#333;padding-top:8px;">
                    <input type="text" style="color:#666;text-align: left;width: 100%;font-size: 16px;" maxlength="20"
                        ng-model="select.title" placeholder="最输入标题，不超过20字" required>
                </div>

                <div class="item" style="border: none;height:150px;margin-top:10px;color:#333;">
                    <textarea style="width:100%;height: 100px;color:#666;font-size: 16px;" placeholder="请输入内容，不超过250字"
                        maxlength="200" ng-model="select.content" required>
                  </textarea>
                </div>
            </div>

        </form>

        <div class="list" ng-if="select.noticeType===1" style="background: white;margin-top:10px;">
            <div
                style="width:240px;height:180px;margin-left: calc(50% - 120px);margin-top: 30px;margin-bottom: 30px;background: #f3f4f6;border:dashed 1px #ddd;">
                <div ng-if="!select.imageUrl"   ng-click="selectImg()">
                    <img style="margin-top:45px;width:60px;height: 60px;margin-left: 90px;"
                        src="img/switch_photo.png" />
                    <div style="width: 100%;text-align: center;font-size: 18px;color:#666;">请选择图片</div>
                </div>
        
                <div ng-if="select.imageUrl">
                    <img ng-src="{{select.imageUrl}}"  style="width: 100%;height:180px;"/>
                    <img style="position:absolute;right: calc(50% - 133px);top: 15px;height: 33px;width: 33px;"
						src="img/icon/fail_03.png" ng-click="removeImg($index, $event)" />
                </div>

                <input type="file" accept="image/*" id="capture" name="file" class="mFileInput"
                style="display:none;" onchange="angular.element(this).scope().getFiles(this.files)" />
            </div>
        </div>

        <div style="margin-top:50px;margin-left: calc(50% - 95px);">
            <div class="button" ng-click="publishNotice()" ng-disabled="infoForm.$invalid"
                style="min-height: 40px;height:40px;line-height:40px;width: 80px;border-radius: 5px;background: #2bcab2;color:white;">
                确定</div>
            <div class="button" ng-click="hideNoticenModal()"
                style="min-height: 40px;height:40px;line-height:40px;width: 80px;border-radius: 5px;background: #ddd;color:#333;margin-left:30px;">
                取消</div>
        </div>

    </ion-content>
</ion-modal-view>