<ion-scroll scrollX="false" scrollY="true" scrollbar-y="false" direction="y" class="list">
<div style="color:#333;margin:25px 20px 10px 20px;font-size:16px;">
该操作后，选中的设备将被远程关机，只有手动启动后才能继续使用。
</div>
<div style="color:tomato;font-size:15px;margin:0px 20px ;">
    说明： 由于网络环境不同，设备关机时间会有不同程度的延迟，请耐心等待。
</div>
<div class="row" style="margin-top: 25px;margin-bottom: 20px;">
    <div class="button"  ng-click="confirmShutDown()" style="height:40px;background:#2bcab2;color:white;width:100px;border-radius:5px;margin-left:calc(50% - 115px);">确定关机</div>
        <div class="button" ng-click="cancelShutDown()" style="height:40px;background:#ddd;color:#555;width:100px;border-radius:5px;margin-left:30px ;">取消</div>
</div>
</ion-scroll>