<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <!-- <button class="button button-icon icon " ng-click="hideAddExerciseModal()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;"
                alt="" />
        </button> -->
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">发起演练</h1>

    </ion-header-bar>
    <form name="exerciseForm" novalidate>
        <ion-content style="background:#f3f4f5">
            <div ng-click="goToProgramDetail()" style="border:none;font-size:16px;white-space: normal;padding:13px 8px;" class="item item-icon-right">
                <div style="color:#666;float: left;width:75px;text-align:right;padding:4px 0px;">演练预案:</div>
                <div style="color:orange;margin-left:80px;padding:4px 0px;width:calc(100% - 105px);">{{selected.programName}}</div>
                <i class="icon ion-ios-arrow-right"></i>
            </div>

            <div style="border:none;font-size:16px;white-space: normal;padding:13px 8px;margin-top:10px;height:55px;"
                class="item">
                <div style="color:#666;float: left;width:75px;text-align:right;margin-top:5px;">标题:</div>
                <input ng-model="selected.title"
                    style="color:#333;width:calc(100% - 85px);left:5px;font-size:16px;position: relative;top:2px;padding:4px 0px;border:none;"
                    placeholder="必填，限25字" maxlength="25"  required/>
            </div>

            <div style="border:none;font-size:16px;white-space: normal;padding:13px 8px;margin-top:10px;height:55px;"
                class="item">
                <div style="color:#666;float: left;width:75px;text-align:right;margin-top:5px;">地点:</div>
                <input ng-model="selected.address"
                    style="color:#333;width:calc(100% - 85px);left:5px;font-size:16px;position: relative;top:2px;padding:4px 0px;border:none;"
                    placeholder="必填，限20字"  maxlength="20" required/>
            </div>

            <div style="border:none;font-size:16px;white-space: normal;padding:13px 8px;margin-top:10px;" ng-click="selectExerciseTime($event)" class="item">
                <div style="color:#666;float: left;width:75px;text-align:right;padding:4px 0px;">演练时间:</div>
                <div style="margin-left:80px;padding:4px 0px;" ng-style="{'color':selected.exerciseTime?'#333':'#999'}">{{selected.exerciseTime?selected.exerciseTime:'请选择'}}</div>
            </div>

            <div class="item" style="border:none;margin-top:10px;padding:13px 8px;margin-bottom: 15px;">
                    <div style="color:#666;float: left;width:75px;text-align:right;margin-top:5px;">备注:</div>
                    <textarea maxlength="100" placeholder="限100字" ng-model="selected.content" style="width:calc(100% - 95px); height:120px;border-radius:5px;border:1px solid #ddd;position: relative;top:0px;padding:7px;left:10px;" ></textarea>
            </div>

            <div class="button"
                style="width:calc(100% - 110px);margin-left: 55px;margin-top:60px;height: 40px;line-height: 40px;min-height: 40px;border:1px solid #DDDDDD;border-radius: 20px;font-size:17px;background-color:#DDDDDD;color:#9D9D9D;font-weight: 500;"
                ng-if="exerciseForm.$invalid">保存</div>
            <div class="button" ng-click="saveExercise()"
                style="width:calc(100% - 110px);margin-left: 55px;margin-top:60px;height: 40px;line-height: 40px;min-height: 40px;border-radius: 20px;font-size:17px;background-color:#FEB736 ;color:white;font-weight: 500;border:none;"
                ng-if="!exerciseForm.$invalid">保存</div>
        </ion-content>
    </form>
</ion-view>