<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">记录</h1>
    </ion-header-bar>
    <ion-content>
        <ion-refresher pulling-text="下拉刷新..." on-refresh="refreshData()">
        </ion-refresher>
        <ion-list>
            <div class="item" style="border:none;font-size: 16px;">
                <div style="margin-top:3px;height:28px;">
                    <span style="color:#999;">实际开始时间:</span>
                    <span style="color:#333;margin-left:6px;">{{startTime}}</span>
                    <img ng-click="selectTime('start')" src="img/others/edit.png"
                        style="width:20px;height:20px;position: relative;left:5px;top:-3px;" />
                </div>
                <div style="margin-top:3px;height:28px;">
                    <span style="color:#999;">实际结束时间:</span>
                    <span style="color:#333;margin-left:6px;">{{endTime}}</span>
                    <img ng-click="selectTime('end')" src="img/others/edit.png"
                        style="width:20px;height:20px;position: relative;left:5px;top:-3px;" />
                </div>
                <div style="margin-top:3px;height:28px;">
                    <span style="color:#999;margin-left:6px;">总耗时/分钟:</span>
                    <span style="color:#333;margin-left:6px;">{{intervalTime}}</span>
                </div>
            </div>
            <div style="height:10px;width:100%;background:#f3f4f5;"></div>
            <div class="item" ng-repeat="item in list"
                style="border:none;font-size:16px;white-space: normal;border-bottom: 10px solid #f3f4f5;margin-top:1px;">
                <h2 style="margin-top: 7px;margin-bottom: 5px;" class="list-title-set">{{item.author.type===1?item.author.username:item.author.chname}}<span
                        style="color:#999;margin-left:5px;" ng-if="item.author.phoneNumber">({{item.author.phoneNumber}})</span></h2>
                <div style="width:100%; background-color:  #ddd;height: 1px;margin-top: 8px;"></div>
                <div style="margin-top:7px;color:#999;font-size:13px;">{{item.createTime}}</div>
                <div style="margin-top:7px;color:#333;" class="short-text-main">{{item.remarks}}</div>
                <ion-gallery id="gallery-img" style="margin-top: 10px;margin-bottom: 6px;" ion-gallery-items="item.picUrls"
                    ion-gallery-row="3" ion-gallery-toggle="true" ng-if="item.picUrls.length>0"></ion-gallery>
            </div>

        </ion-list>

        <div class="empty-list-tip" style="margin-top:10%!important;"
        ng-if="!list||(list&&list.length===0)">
            <img src="img/empty_content.png">
            <p>暂无演练记录</p>
        </div>

        <ion-infinite-scroll ng-if="!isMoreData" on-infinite="loadMore()" immediate-check="false" distance="0.5%">
        </ion-infinite-scroll>
        <div class="load_no_more" ng-if="isMoreData&&list&&list.length>5"> 没有更多了</div>
        <div style="height:56px;width:100%;"></div>
    </ion-content>
    <div class="bar bar-footer bar-light" style="height:55px;padding: 0px;background:#f3f4f6;">
        <div ng-click="addRecordModal()"
            style="width:100%;font-size:17px;color:gray;text-align: center;margin:auto;font-weight: 500;">
            添加记录</div>
    </div>
</ion-view>