<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">{{title}}</h1>
    </ion-header-bar>
    <ion-content style="background:#f3f4f6;">
        <ion-list>
            <div style="border:none;font-size:16px;background:white;">
                <div 
                    style="border:none;font-size:16px;white-space: normal;padding:13px 8px 0px 8px;position:relative;"
                    class="item item-icon-right">
                    <div style="color:#999;float: left;width:72px;text-align: right;">演练方案:</div>
                    <div style="color:#333;margin-left:80px;width:calc(100% - 85px);">{{selected.programName}}</div>
                    <!-- <i class="icon ion-ios-arrow-right" style="color:#333;position: absolute;top:25%;right:0px;"></i> -->
                </div>

                <div style="border:none;font-size:16px;white-space: normal;padding:10px 10px 0px 10px;" class="item">
                    <img src="img/others/time.jpg" style="width:18px;height:18px;margin-left:3px;" />
                    <span style="color:#999;width:72px;text-align: right;position: relative;top:2px;">&nbsp;时间:</span>
                    <span
                        style="margin-left: 6px;color:#333;position: relative;top:2px;">{{selected.detail.drillTime}}</span>
                </div>

                <div style="border:none;font-size:16px;white-space: normal;padding:10px 10px 0px 10px;" class="item">
                    <div style="float: left;">
                        <img src="img/others/address.png" style="width:18px;height:18px;margin-left:3px;" />
                        <span
                            style="color:#999;width:72px;text-align: right;position: relative;top:2px;">&nbsp;地点:</span>
                    </div>
                    <div style="margin-left: 78px;width: calc(100% - 75px);position: relative;top:2px;">
                        <span style="color:#333;">{{selected.detail.address}}</span>
                    </div>
                </div>

                <div style="border:none;font-size:16px;white-space: normal;padding:10px 10px 13px 10px;white-space: normal;"
                    class="item">
                    <div style="float: left;text-align: right;">
                        <img src="img/others/edit.png" style="width:18px;height:18px;margin-left:3px;" />
                        <span
                            style="color:#999;width:72px;text-align: right;position: relative;top:2px;">&nbsp;备注:</span>
                    </div>
                    <div style="margin-left: 6px;color:#333;margin-left:80px;width:calc(100% - 85px);margin-top:2px;">
                        {{selected.detail.remarks?selected.detail.remarks:'--'}}</div>
                </div>
            </div>

            <div
                style="border:none;font-size:16px;white-space:normal;padding:0px 13px;background:white;margin-top:13px;">
                <pre><div class="text-main" style="padding: 5px;margin-bottom: 5px;margin-top: 5px;" ng-bind-html='selected.detail.tempDrillPlanContent'></div></pre>
                <!-- <h2 style="white-space: nowrap;overflow: hidden;text-overflow : ellipsis;margin-top: 7px;margin-bottom: 5px;"
                    class="list-title-set">演练目的</h2>
                <div style="width:100%; background-color:  #ddd;height: 1px;margin-top: 8px;"></div>
                <div style="margin-top:8px;color:#666;text-indent:32px;">
                    大家都哈将打火机发动机发快递房间号卡卡的饭卡空间大反馈卡的房间爱卡的返回键阿京东方就安定回复爱德华福建安徽分阿卡多发好看卡的房间啊搭建好多次</div> -->
            </div>

            <!-- <div class="item" style="border:none;font-size:16px;white-space:normal;margin-top: 13px;">
                <h2 style="white-space: nowrap;overflow: hidden;text-overflow : ellipsis;margin-top: 7px;margin-bottom: 5px;"
                    class="list-title-set">演前准备</h2>
                <div style="width:100%; background-color:  #ddd;height: 1px;margin-top: 8px;"></div>
                <div style="margin-top:8px;color:#666;text-indent:32px;">
                    大家都哈将打火机发动机发快递房间号卡卡的饭卡空间大反馈卡的房间爱卡的返回键阿京东方就安定回复爱德华福建安徽分阿卡多发好看卡的房间啊搭建好多次</div>
            </div> -->
        </ion-list>
    </ion-content>
</ion-view>