<ion-view class="xView-grey">
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">{{pageTitle}}</h1>

    </ion-header-bar>

    <ion-content>
        <form name="infoForm" novalidate>
            <label class="item item-input" style="border: none;height:50px;font-size: 17px;">
                <span class="input-label" style="color: #333;width: 85px;text-align: right;">直播标题：</span>
                <input type="text" style="font-size:16px;color:#666;text-align: left;" maxlength="20"
                    ng-model="select.title" placeholder="请输入直播课题" required>
            </label>
            <label class="item item-input" style="border: none;height:50px;font-size: 17px;margin-top: 10px;">
                <span class="input-label" style="color: #333;width: 85px;text-align: right;">主讲人：</span>
                <input type="text" style="font-size:16px;color:#666;text-align: left;" maxlength="10"
                    ng-model="select.teacherName" placeholder="请输入主讲老师" required>
            </label>
        </form>

            <div class="item item-input" style="border: none;height:50px;font-size: 17px;margin-top: 10px;">
                <span class="input-label" style="color: #333;width: 85px;text-align: right;">直播日期：</span>
                <span  ng-click="selectDate()" style="width: 200px;" ng-style="{'color':!select.createDate||select.status===1||select.status===2?'#999':'#666'}">{{select.createDate?select.createDate:'请选择日期'}}</span> 
            </div>

            <div class="item item-input" style="border: none;height:50px;font-size: 17px;margin-top: 10px;">
                <span class="input-label" style="color: #333;width: 85px;text-align: right;">直播时间：</span>
                <span ng-click="selectTime('start')" ng-style="{'color':!select.startTime||select.status===1||select.status===2?'#999':'#666'}">{{select.startTime?select.startTime:'开始时间'}}</span> 
                <span style="margin-left: 10px;">至</span>
                <span  ng-click="selectTime('end')" style="margin-left: 10px;" ng-style="{'color':!select.endTime||select.status===1||select.status===2?'#999':'#666'}">{{select.endTime?select.endTime:'结束时间'}}</span>
            </div>


            <div class="item item-input" style="border: none;height:50px;font-size: 17px;margin-top: 10px;">
                <span class="input-label" style="color: #333;width: 85px;text-align: right;">支持回看：</span>
                <img ng-if='!select.status||select.status===0' style="width: 30px;height: 30px;" ng-click="select.isReview=!select.isReview" ng-src="{{select.isReview?'img/select_box.png':'img/unselect_box.png'}}"/>
                <img ng-if='select.status===1||select.status===2'  style="width: 30px;height: 30px;"  ng-src="{{select.isReview?'img/select_box.png':'img/unselect_box.png'}}"/>
            </div>


            <div style="width: 100%;margin-top: 50px;">
                <div   ng-click="commit()" ng-disabled="infoForm.$invalid" class="button" style="background-color: #2bcab2;width: 85px;border-radius: 5px;color:white;margin-left:calc(50% - 100px)">确定</div>
                <div  ng-click="cancel()" class="button" style="background-color: #ddd;width: 85px;border-radius: 5px;color:#666;margin-left: 30px;">取消</div>

            </div>


     

    </ion-content>
</ion-view>