<ion-view class="xView-grey">
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">云直播</h1>
        <!-- <button class="button button-icon " style="color: white;font-size: 15px;padding-top: 3px;"
        ng-click="addLive()"> 
        <img src="img/add.png" style="width: 28px;height: 28px;"/>
     </button> -->
    </ion-header-bar>
    <a class="button icon button-balanced ion-plus-round float-button" ng-click="addLive()" style="bottom: 50px;"></a>
    <div ng-style="{'top':getDeviceType()==='iphoneX'?'88px':getDeviceType()==='iphone'?'64px':'44px'}"
        style="padding-top:0px;border-top-width:0px;position: relative;height: 50px;background-color: white;">
        <div ng-click="selectDate()" style="color: #333;font-size: 17px;margin-left: 10px;padding-top: 15px;">
            <span>日期：</span>
            <span ng-style="{'color':select.createDate?'#666':'#999'}" style="margin-left: 5px;"> {{select.createDate?select.createDate:'请选择日期'}}</span>
        </div>
    </div>
    <ion-content ng-style="{'margin-top': '50px'}">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="refreshData()">
        </ion-refresher>
        <div class="item" ng-click="goToDetail(item)" ng-repeat = "item in list" style="margin:10px;border: none;">
            <img ng-src="{{item.status===0?'img/live_unstart.png':item.status===1?'img/live_ing.png':'img/live_end.png'}}" style="width: 30px;height: 63px;position: absolute;left:15px;top:0px;"/>
            <h2 style="font-size: 17px;white-space: nowrap;overflow: hidden;text-overflow : ellipsis;margin-left:50px;">{{item.title}}</h2>
            <div style="color:#999;font-size: 15px;margin-top: 7px;margin-left:50px;">
                <span >{{item.speaker}}</span>
                <span style="margin-left: 10px;">{{item.startTime.substr(0,5)}}-{{item.endTime.substr(0,5)}}</span>
            </div>
            <div style="position: absolute;right: 20px;top:25px">
                <img style="width: 30px;height: 30px;" src="img/arrow_right.png">
            </div>
        </div>
        <div  class="empty-list-tip" ng-if="list.length==0">
            <img src="img/empty_content.png">
            <p >暂无数据</p>
        </div>
        <ion-infinite-scroll ng-if="!isMoreData" on-infinite="loadMore()" immediate-check="false" distance="0.5%" ></ion-infinite-scroll>
        <div class="load_no_more" ng-if="isMoreData&&list.length>9">没有更多了</div>
    </ion-content>
</ion-view>