<ion-scroll scrollX="false" scrollY="true" scrollbar-y="false" direction="y" class="list">
<div style="font-size:15px;">
    <div class="item" ng-click="selectStartOrEndDate(0)"
        style="border:none;border-bottom: 1px solid #ddd;margin:0px;color:#333;">
        <div style="float:left;">开始时间:</div>
        <div style="float:right;" ng-style="{'color':selected.startDate?'#333':'#999'}">
            {{selected.startDate?selected.startDate:'请选择'}}</div>
    </div>

    <div class="item" ng-click="selectStartOrEndDate(1)"
        style="border:none;border-bottom: 1px solid #ddd;margin:0px;color:#333;">
        <div style="float:left;">结束时间:</div>
        <div style="float:right;" ng-style="{'color':selected.endDate?'#333':'#999'}">
            {{selected.endDate?selected.endDate:'请选择'}}</div>
    </div>
</div>
<div class="item item-input" style="border: none;margin: 0px;border-bottom: 1px solid #ddd;color:#333;margin:3px 0px;">
    <div style="text-align:right;font-size:15px;padding-right:0px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;标题:</div>
    <input type="text" id="apprailId"
        style="padding-left:2px;padding-right:13px;height:36px;position:reletive;margin-left:6px;font-size:15px;border-radius:5px;text-align: right;"
        placeholder="请输入评比标题" ng-model="selected.title">

</div>
</ion-scroll>