<ion-view hide-nav-bar="true" cache-view="true">
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">{{title}}</h1>
    </ion-header-bar>

    <div class="float-scroll" ng-style="{'top':getDeviceType()==='iphoneX'?'88px':getDeviceType()==='iphone'?'64px':'44px'}" style="height: 54px;padding-top:0px;border-top-width:0px;"
        ng-if="hasSetVote">
        <div style="width:100%;height:1px;background-color:#ddd;position:absolute;top:40px;"></div>
        <ion-scroll delegate-handle="small" direction="x" scrollbar-x="false" on-scroll="scroll()" style="height: 54px;position: absolute;top:4px;left:8px;  width: calc(100% - 16px);"
            class="exam_scroll_view">
            <a id="grade-btn" class="button button-clear" ng-repeat="t in grades track by $index"  ng-style="{'color':gradeSelected===$index?'orange':'black'}"
                style="font-size: 15px;margin-top:0px; " ng-click="switchGrade(t,$index)">{{t.name}}
                <div style="height: 2.5px;background-color: orange;  position: absolute; top:35px; margin-left: 2px;width:calc(100% - 20px);z-index: 9999; "
                    ng-if="gradeSelected===$index"></div>
            </a>  
        </ion-scroll>
       
       
    </div>

    <ion-content  ng-style="{'margin-top': '40px'}">
        <ion-list >
            <div ng-if="hasSetVote">
                <div class="item item-divider" style="color:#A9ADB4;border-radius: 0px !important;border-top-width:0px !important;" ng-if="hasPassArr.length!=0">
                    {{hasPassArr.length}}个班级已录入评比
                </div>
                <ion-item ng-style="{'border-top-width': $index==0?'0px':'1.0px'}" style="border-radius: 0px !important;" ng-repeat="passItem in hasPassArr track by $index">
                    <div>
                        <img src="img/classAppraisal/office.png" style="width:15px;height:19px;top:-6px;position: relative;" />
                        <span style="font-size: 16px;margin-left:4px;position: relative;top:-3px;">{{::passItem.className}}</span>
                        <div class="button button-light;" style="min-width: 70px;line-height: 30px;min-height:30px;height:30px;border:1px solid #CFCFCF;color:#666666;background-color:white;"
                            ng-click="addGradedOrFix(1,passItem)" item-end>修改</div>
                    </div>

                    <div style="margin-top:6px;margin-left:-2px;">
                        <img src="img/classAppraisal/star_orange.png" style="width:18px;height:18px;top:-6px;position: relative;" />
                        <span style="color:#A9ADB4;position: relative;top:-3px;"> 总分 :
                            <span ng-style="{'color':passItem.totalScore?'#EC3E41':'#A9ADB4'}">{{::passItem.totalScore?passItem.totalScore:'--'}}</span>
                        </span>
                    </div>

                    <div class="row row-wrap" style="padding-top: 0px;margin-left:-10px;">
                        <div class="col col-33" style="font-size: 16px;" ng-repeat="item in passItem.voteItemScore">
                            <span style="color:#A5AAB0;">{{::item.name}}: </span>
                            <span>{{::item.value?item.value:'--'}} </span>

                        </div>
                    </div>

                </ion-item>
            </div>
            <div ng-if="hasSetVote">
                <div class="item item-divider" style="color:#A9ADB4;border-radius: 0px !important;border-top-width:0px !important;" ng-if="unPassArr.length!=0"> {{unPassArr.length}}个班级未录入评比 </div>
                <ion-item ng-repeat="unPassItem in unPassArr track by $index" ng-style="{'border-top-width': $index===0?'0px':'0.8px'}" style="border-radius: 0px !important;">
                    <div>
                        <img src="img/classAppraisal/office.png" style="width:15px;height:19px;top:-6px;position: relative;" />
                        <span style="font-size: 16px;margin-left:4px;position: relative;top:-3px;">{{::unPassItem.className}}</span>
                        <div class="button button-light;" style="min-width: 70px;line-height: 30px;min-height:30px;height:30px;border:1px solid #2bcab2;color:#2bcab2;background-color:white;border-width-bottom:2px orange;"
                            ng-click="addGradedOrFix(2,unPassItem)" item-end>评分</div>
                    </div>
                    <div style="margin-top:10px;color:#A5AAB0;text-align:center;">未录入评比结果</div>
                </ion-item>
            </div>

            <div class="empty-list-tip" ng-if="hasSetVote==true&&(allList.length===0||allList==null)">
                <img src="img/empty_content.png">
                <p>暂无评比</p>
            </div>

            <div class="empty-list-tip" ng-if="hasSetVote==false">
                <img src="img/empty_content.png">
                <p ng-if="!hasSetVote">当前还未设置评比维度，请登录管理后台处理!</p>
            </div>
        </ion-list>
    </ion-content>
</ion-view>