<ion-view hide-nav-bar="true" cache-view="true">
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">班级评比</h1>
    </ion-header-bar>
    <a class="button icon button-balanced ion-plus-round float-button" ng-click="openModal()" style="bottom: 50px;"></a>
    
    <ion-content delegate-handle="delegateHandler" style="background-color: #F3F4F5;">
            <ion-refresher pulling-text="下拉刷新..." on-refresh="refreshData()">
            </ion-refresher>
    <ion-list>
        
        <div class="" style="background-color: rgb(216,217,219);color: rgb(84,84,84);padding:auto auto;font-size:small;margin-top:20px;width:230px;height: 30px;line-height: 30px;border-radius: 15px;margin-left: calc(50% - 115px);text-align:center !important;" ng-if="startDate&&endDate">{{startDate}} ~ {{endDate}}</div>
        <div class="spacer" style="width: 100%; height: 10px;"></div>
        <ion-item  class="item" style="color: #666;border:none;border-radius: 5px;margin: 10px;" ng-repeat="item in voteList" ng-click="goToDetail(item.id,item.title)"  >
            <img src="img/classAppraisal/medal.png" style="width: 30px;height:37px;position: absolute;right: 0px;top:0px;" />
            <h2 style="overflow: hidden; white-space:nowrap;text-overflow:ellipsis;font-size:17px; color:#333;" >
             {{::item.title}}
            </h2>
            <div style="margin-top: 3px;font-size: small;color:#999;"> {{::item.createTime}}</div>
            <div style="height: 1px;background-color: #ddd;width: 100%;margin-top: 6px;margin-right: 0px!important;"></div>
            <div style="font-size: 15px;margin-top: 6px;">
                <img src="img/classAppraisal/clock.png" style="width: 18px;height: 18px;position: relative;top: -2px;"/>
                <span style="text-align: right;width: 70px;margin-left:2px;">评比时段:</span>
                <span style="margin-left: 6px;color:#333; ">{{item.startDate.substr(5,5)}} 至 {{item.endDate.substr(5,5)}}</span>
            </div>
            <div style="font-size: 1.06em !important; margin-top: 6px;">
                    <img src="img/classAppraisal/star_orange.png" style="width: 19px;height: 18px;position: relative;top: -2px;"/>
                    <span style="text-align: right;width: 70px;margin-left:2px;">已评比班级数:</span>
                    <span style="margin-left: 6px;color: #333;">{{::item.votedClassNum}}</span>
            </div>

            <div style="font-size: 1.06em;margin-top: 6px;">
                   <img src="img/classAppraisal/star_gray.png" style="width: 19px;height: 18px;position: relative;top: -2px;"/>
                    <span style="text-align: right;width: 70px;margin-left:2px;">未评比班级数:</span>
                    <span style="margin-left: 6px;color: #333;">{{::item.unvotedClassNum}}</span>
            </div>
            
            <ion-option-button class="button-assertive" ng-click="deleteItem(item, $event)"> 删除
               </ion-option-button>
        </ion-item>
        
    </ion-list>
      
        <div  class="empty-list-tip" ng-if="voteList.length==0">
            <img src="img/empty_content.png">
            <p >暂无评比</p>
        </div>
        <ion-infinite-scroll ng-if="isMoreData" on-infinite="loadMore()" immediate-check="false" distance="0.5%" ></ion-infinite-scroll>
        <div class="load_no_more" ng-if="!isMoreData&&voteList.length>9">没有更多了</div>

    </ion-content>
</ion-view>