<ion-scroll scrollX="false" scrollY="true" scrollbar-y="false" direction="y" class="list"></ion-scroll>
<ion-list>
    <div ng-repeat="voteItem in voteItems" style="max-height: 100%;">
        <label class="item-input" style="padding-left:0px !important;">
            <span class="input-label" style="width:70px;text-align:right;margin-top: 7px"> {{voteItem.name}}:</span>
            <input type="number" pattern="[0-9]*" oninput="if(value.length>3)value=value.slice(0,3)"
                style="border:1px solid #CFCFCF;padding-left:4px;padding-right:5px;height:36px;margin-top:10px;border-radius:5px;"
                placeholder="1-100" ng-model="voteItem.value" ng-if="isIOS">
            <input type="number" oninput="if(value.length>3)value=value.slice(0,3)"
                style="border:1px solid #CFCFCF;padding-left:4px;padding-right:5px;height:36px;margin-top:10px;border-radius:5px;"
                placeholder="1-100" ng-model="voteItem.value" ng-if="!isIOS">
            <span style="margin-left:10px;margin-right:40px;margin-top: 7px;">分</span>
        </label>
    </div>
</ion-list>
</ion-scroll>