<ion-view hide-nav-bar="true" cache-view="true">
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">报修详情</h1>
    </ion-header-bar>

    <ion-content style="background-color: #FCFCFC;">
        <ion-list>
            <div style="padding: 13px;">
                <h2 style="padding:2px 0px;" class="text-title">{{repairDetail.terminalAddress}}</h2>
                
                <div style="width:100%; background-color:  #ddd;height: 1px;margin-top: 7px;"></div>
                <div class="short-text-main">{{repairDetail.orderDescribe}}</div>
                <ion-gallery style="margin-top: 10px;margin-bottom: 6px;" ion-gallery-items="picUrls" ion-gallery-row="3" ion-gallery-toggle="true"
                    ng-if="picUrls.length>0"></ion-gallery>
            </div>

            <div style="width: 100%;background-color: #F3F4F6;height: 15px;" ng-if="repairDetail.assetNumber"></div>
            <div style="font-size:15px;margin-top: 6px;margin-left:13px;height:44px;line-height: 44px;" ng-if="repairDetail.assetNumber" class="selectable"> 
              <span style="color:#333;">资产ID: </span>
              <span style="color:#666;">{{repairDetail.assetNumber}}</span>
            </div>
            <div style="width: 100%;background-color: #F3F4F6;height: 15px;"></div>
            <div style="padding: 13px;">
                <img src="img/repair/group.png" style="margin-left: 4px;margin-top: 2px;width:22px;height:19px;" />
                <span style="font-size: 16px;font-weight: 500;color: #0072FE;position: relative;top: 1px;">进度</span>
                <div style="width: 100%;background-color: #ddd;margin-top: 12px;height: 1px;"></div>

                <timeline id="repair_timeline">
                    <timeline-event ng-repeat="event in events" side="right">
                        <div style="margin-top: 28px;text-align: right;max-width: 45px;">
                            <div style="font-size: 13px;color:#333;">{{event.date}}</div>
                            <div style="font-size: 12px;color:#999;">{{event.time}}</div>
                        </div>
                        <timeline-badge class="{{event.badgeClass}}">
                            <i class="statueIcon{{event.statue}}">
                                <img src="{{event.iconImg}}" style="width: 26px;height: 26px;"/>
                            </i>
                        </timeline-badge>
                        <timeline-panel style="margin-top: -45px;">
                            <div style="color:#222;font-size: 16px;">{{event.title}}</div>
                            <div style="color:#666;font-size: 15px;margin-top: 4px;">{{event.operateMan}}
                                <a   ng-href="tel:{{event.operatePhone}}" ng-if="event.operatePhone" style="font-size: 14px;">({{event.operatePhone}})</a>
                            </div>
                            <div id="timeline-content" style="color:#666;font-size: 15px;margin-top: 4px;">{{event.text}}</div>

                        </timeline-panel>
                    </timeline-event>
                </timeline>
            </div>

            <div style="height: 55px;width: 100%;"></div>
        </ion-list>
    </ion-content>

    <div class="bar bar-footer " style="height: 50px;background-color: #F8f8f8;border-top: 1px #e5e5e5 solid;font-size:17px;" ng-if="isClose">
        <div ng-if="isIos" class="button button-clear button-full" style="color: #222;margin-top: 3px;width:100%;"
            ng-click="fixRepairProgress()">增加进度</div>
        <div ng-if="!isIos" style="width: 100%;">
            <a class="button button-clear  button-full" style="color: #222;margin-top: 3px;width: 50%;float: left;border-right: 1px solid #ddd;"
                ng-href="tel:">联系售后</a>
            <div class="button button-clear  button-full" style="color: #222;margin-top: 3px;width: 50%;float: left;"
                ng-click="fixRepairProgress()">增加进度</div>
        </div>
    </div>
</ion-view>