<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="closeModal()">
			<img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
		</button>
		<h1 class="title bar-follower-font">聊天信息</h1>
	</ion-header-bar>
	<ion-content>

		<label class="item item-input no-border-radius" ng-if="groupInfo.Type!='Private'">
			<Usernamespan class="input-label">群名称</Usernamespan>
			<span>{{groupInfo.Name}}</span>
		</label>

		<label class="item item-input no-border-radius item-icon-right" ng-click="changeGroupName()" ng-if="groupInfo.Type=='Private'">
			<Usernamespan class="input-label">群名称</Usernamespan>
			<span>{{groupInfo.Name}}</span>
			<i class="icon ion-ios-arrow-right" style="font-size: 25px"></i>
		</label>

		<label class="item item-input no-border-radius" ng-if="groupInfo.Introduction.length > 0">
			<Usernamespan class="input-label">班级</Usernamespan>
			<span> {{groupInfo.Introduction}} </span>
		</label>
		<div class="spacer" style="height: 20px;" ng-if="groupInfo.Introduction.length > 0"></div>

		<label class="item item-input no-border-radius">
			<Usernamespan class="input-label">群成员</Usernamespan>
			<span> {{groupInfo.MemberNum}} 人</span>
		</label>

		<div class="row flex-row" style="padding: 15px;">
			<div class="col-25" style="text-align: center;margin-top: 5px;" ng-click="viewProfile(item.Member_Account)" ng-repeat="item in groupInfo.MemberList">
				<img src="img/icon/person.png" ng-src="{{getC2CImage(item.Member_Account)}}" style="width:45px; height:45px; overflow:hidden;display:block; margin:auto;border-radius: 50%;" />
				<span>{{getC2CName(item.Member_Account)}}</span>
			</div>

			<div class="col-25" style="text-align: center;padding-top: 10px;">
				<a class="button icon button-light ion-plus-round col-25" ng-click="showEditMode('add')" ng-if="groupInfo.Type=='Private'"></a>
			</div>
			<div class="col-25" style="text-align: center;padding-top: 10px;">
				<a class="button icon button-light ion-minus-round col-25" ng-click="showEditMode('delete')" ng-if="groupInfo.Type=='Private' && isGroupAdmin && groupInfo.MemberList.length > 0"></a>
			</div>
		</div>

		<div class="spacer" style="height: 30px;"></div>

	</ion-content>
	<ion-footer-bar class="bar-light" style="text-align: center" ng-if="groupInfo.Type=='Private'">
		<button class="button button-clear button-assertive" style="width: 100%;font-size: large" ng-click="quitGroup()">退出群聊</button>
	</ion-footer-bar>
</ion-modal-view>
