<ion-view id="userMessagesView" cache-view="false">
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="goBack()">
			<img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
		</button>
		<h1 class="title bar-follower-font">{{SessionName}}</h1>
		<button ng-if="SessionType=='GROUP'" class="button button-icon icon"
				ng-click="openModal()">
			<img src="img/icon/conversation_group.png" alt="" style="max-width: 20px; padding-top: 8px;"/>
		</button>

	</ion-header-bar>

	<div class="loader-center" ng-if="!doneLoading">
		<ion-spinner class="loader" icon="spiral"></ion-spinner>
	</div>

	<ion-content has-bouncing="true" class="has-header has-footer"
				 delegate-handle="userMessageScroll">

		<ion-refresher
			pulling-text="下拉加载更多聊天记录(七天内).."
			on-refresh="loadMore()">
		</ion-refresher>

		<div ng-repeat="message in messages" style="text-align: center;padding-top: 10px">

			<span ng-if="message.timeLabel"
				  style="color: #8f8f8f;border-radius: 5px;padding: 2px 15px 2px 15px;">{{message.timeLabel}}</span>

			<div ng-if="message.fromAccount == '@TIM#SYSTEM'"
				  style="color: #8f8f8f;padding: 2px 15px 2px 15px;margin-top: 5px;font-size: small" ng-bind-html="convertMsgtoHtml(message)"></div>

			<div class="message-wrapper" on-hold="onMessageHold($event, $index, message)">
				<div ng-if="user.identifier != message.fromAccount && message.fromAccount != '@TIM#SYSTEM'" style="text-align: left">

					<img ng-click="viewProfile(message.fromAccount)" class="profile-pic left" src="img/icon/person.png"
						 ng-src="{{getC2CImage(message.fromAccount)}}" />

					<div class="chat-username left" ng-if="SessionType=='GROUP'">
						{{getC2CName(message.fromAccount, 20)}}
					</div>
					<div class="chat-bubble left">
						<div class="message" compile="convertMsgtoHtml(message)">
						</div>
					</div>
				</div>

				<div ng-if="user.identifier == message.fromAccount" style="text-align: left">

					<img ng-click="viewProfile(message.fromAccount)" class="profile-pic right" src="img/icon/person.png"
						 ng-src="{{user.image}}"/>

					<div class="chat-bubble right">
						<div class="message" compile="convertMsgtoHtml(message)">
						</div>
					</div>
				</div>
			</div>

			<div class="cf"></div>

		</div>
	</ion-content>

	<form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate>
		<div class="bar bar-footer bar-light item-input-inset" keyboard-attach resize-foot-bar style="padding-right: 3px;padding-left: 3px;">
			<div class="item item-input" style="width: 100%;padding: 0">
				<textarea   name="chatInput" class="item-input chat-input" msd-elastic ng-model="input.message" placeholder="输入消息" required minlength="1" maxlength="1500"></textarea>
				<div class="buttons">
					<button style="color:#999;" class="chat-emotions-footer-btn button button-icon icon ion-happy-outline" ng-click="showEmotions($event)" type="button"></button>
				</div>
			</div>
			<div class="footer-btn-wrap">
				<button ng-if="input.message.length > 0" class="button button-balanced footer-btn" type="submit"
						ng-disabled="!input.message || input.message === ''" style="margin-left: 3px;">发送
				</button>
				<button ng-if="!input.message || input.message === ''" class="button button-icon icon ion-android-image footer-btn" ng-click="selectImg()">
				</button>
			</div>
		</div>
	</form>

</ion-view>
