<ion-view hide-nav-bar="true" cache-view="false">
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="goBack()">
			<img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
		</button>
		<h1 class="title bar-follower-font">详细资料</h1>
	</ion-header-bar>
	<ion-content padding="false" class="has-header">
		<div style="text-align: center;width: 100%;padding-top: 15px;background-color: #2bcab2;">
			<img src="img/icon/person.png" ng-src="{{SessionImage}}"
				 style="width:106px; height:106px; border-radius:50%; overflow:hidden;display:block; margin:auto; border: 3px solid rgba(255,255,255,.5);"/>
			<div class="spacer" style="width: 300px; height: 15px;"></div>
			<span style="font-size: 20px; color: #ffffff;">{{SessionNick}} <small style="margin-left: 3px;font-weight: normal;">{{rolename}}</small></span>
			<div class="spacer" style="width: 300px; height: 10px;"></div>
		</div>

		<div class="spacer" style="width: 300px; height: 20px;"></div>
		<a ng-href="tel:{{phone}}" class="item item-icon-left no-border-radius" style="padding-left: 45px; color: #666;">
			<img class="icon " src="img/icon/contact_phone.png" style="max-width:30px;max-height:22px; margin-top: 12px;"  alt=""/>
			手机号码
			<span style="float: right;color: #0a9dc7">{{phone}}</span>
		</a>
		<a href="" class="item item-icon-left no-border-radius" style="padding-left: 45px; color: #666;">
			<img class="icon " src="img/icon/sex.png" style="max-width:30px;max-height:22px; margin-top: 12px;"  alt=""/>
			性别
			<span style="float: right">{{sex}}</span>
		</a>

		<div ng-if="children.length>0">
			<a href="" class="item item-icon-left no-border-radius" style="padding-left: 45px; color: #666;">
				<img class="icon " src="img/icon/baby-info.png" style="max-width:30px;max-height:22px; margin-top: 12px;"  alt=""/>
				子女信息
			</a>
			<a class="item" style="padding: 8px 8px 8px 44px;border-radius: 0;" ng-repeat="child in children">
				<span style="margin-left: 10px;">{{child.student_name}}（{{child.classno.className}}）</span>
			</a>
		</div>

		<div ng-if="families.length>0">
			<a href="" class="item item-icon-left no-border-radius" style="padding-left: 45px; color: #666;">
				<img class="icon " src="img/icon/baby-info.png" style="max-width:30px;max-height:22px; margin-top: 12px;"  alt=""/>
				家长信息
			</a>
			<a class="item" style="padding: 8px 8px 8px 44px;border-radius: 0;">
				<span ng-repeat="p in families" style="margin-left: 10px;">{{p.familyName}} </span>
			</a>
		</div>

		<div ng-if="subjects.length>0">
			<a href="" class="item item-icon-left no-border-radius" style="padding-left: 45px; color: #666;">
				<img class="icon " src="img/icon/baby-info.png" style="max-width:30px;max-height:22px; margin-top: 12px;"  alt=""/>
				任教科目
			</a>
			<a class="item" style="padding: 8px 8px 8px 44px;border-radius: 0;">
				<span ng-repeat="item in subjects" style="margin-left: 10px;">{{item.name}} </span>
			</a>
		</div>

		<div ng-if="classes.length>0">
			<a href="" class="item item-icon-left no-border-radius" style="padding-left: 50px; color: #666;">
				<img class="icon " src="img/icon/contact_school.png" style="max-width:20px;max-height:24px; margin-top: 12px;"  alt=""/>
				任教班级
			</a>
			<a class="item" style="padding: 8px 8px 8px 44px;border-radius: 0;">
				<span ng-repeat="item in classes" style="margin-left: 10px;">{{item.className}} </span>
			</a>
		</div>

		<div class="spacer" style="width: 300px; height: 20px;"></div>
	</ion-content>
	<ion-footer-bar class="btn-follower" ng-if="showSendBtn">
		<button class="button button-outline" style="width: 100%;font-size: large;color: white" ng-click="goChat()">发送消息</button>
	</ion-footer-bar>
</ion-view>
