<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">疫情防控</h1>
    </ion-header-bar>
    <ion-content style="background:#f3f4f6;padding: 10px 20px;">
            <p style="font-size: large;">今日情况</p>
            <div style="color:#666;margin-top:6px;font-size:15px;background-color: white;border-radius: 5px;padding: 15px 10px;">
                <p style="border-bottom: 1px solid #eee;padding-bottom: 15px;"> 
                    <span style="color: #2bcab2;">&#9635 </span>全校总人数<span style="color: #2bcab2;">{{summary.totalNum}}</span>人
                    <span style="color: #3b72cf;margin-left: 20px;">&#9635 </span>到校人数<span style="color: #3b72cf;">{{summary.attendanceNum}}</span>人
                </p>
                <svg xmlns="http://www.w3.org/200/svg" height="110" width="110" style="margin: 20px">
                    <circle cx="55" cy="55" r="50" fill="none" stroke="#33cd5f" stroke-width="7" stroke-linecap="round"/>
                    <circle class="circle-process" id="circle-process" cx="55" cy="55" r="50" fill="none" stroke="orange" stroke-width="7"/>
                </svg>
                <div style="display: inline-block;position: absolute;margin-top: 35px;margin-left: 5px;">
                    <p><div style="background: #33cd5f;border-radius: 10px;width: 18px;height: 8px;display: inline-block;margin-right: 10px;"> </div>体温正常人数：{{summary.normalNum}}</p>
                    <p><div style="background: orange;border-radius: 10px;width: 18px;height: 8px;display: inline-block;margin-right: 10px;"> </div>体温异常人数：{{summary.abnormalNum}}</p>
                </div>
                
            </div>

            <p style="font-size: large;margin-top: 15px;">最近七天异常人数</p>
            <div style="color:#666;margin-top:6px;font-size:15px;background-color: white;border-radius: 5px;padding: 25px 15px;display: flex;text-align: center;overflow:auto">
                
                <div style="position: relative;" ng-repeat="item in warningCounts">

                    <span class="warning-count-item" >{{item.count}}</span>

                    <div style="position:absolute; bottom: 24px;width: 6px;height: 6px;border-radius: 45%;background: orange;left: 50%;right: 50%;transform: translate(-50%, -50%);"></div>

                    <div style="line-height: 30px;border-top: 1px solid #eee;left: 0;right: 0;margin: auto;margin-top: 50px;min-width: 50px;">{{item.day}}</div>

                </div>
                
            </div>


            <p style="font-size: large;margin-top: 10px;">体温异常告警名单</p>
            <div style="color:#666;margin-top:6px;font-size:15px;background-color: white;border-radius: 5px;padding: 15px 10px;">
                <div style="border-bottom: 1px solid #eee;padding-bottom: 15px;padding-left: 15px;overflow:auto"> 
                    <button class="button btn-selector" ng-click="changeFilter('all')" id="btn-all"
					        ng-class="activeTab=='all'?'activated_btn_orange':''">全部
                    </button>
                    <button class="button btn-selector" ng-click="changeFilter('pending')"
                            ng-class="activeTab=='pending'?'activated_btn_orange':''" >跟进中
                    </button>
                    <button class="button btn-selector" ng-click="changeFilter('clear')" id="btn-clear"
                            ng-class="activeTab=='clear'?'activated_btn_orange':''">已解除告警
                    </button>
                </div>

                <a class="item item-thumbnail-left box-border" ng-repeat= "item in filtered = (warningList | filter: {status: selectedStatus}) " ng-click="goFunction('covidWarningDetail', item)" style="border:0;">
                    <img src="img/icon/person.png" alt="" style="border-radius: 40%;" ng-src="{{item.faceThumbUrl?item.faceThumbUrl:item.faceUrl}}" >
                    <h2 style="margin-top: 10px;"> {{item.userName}} <span style="font-size: small;color: #666;margin-left: 10px;" > {{item.className}} </span></h2>
                    <p style="margin-top: 5px;">{{item.reportDateTime.substr(0,16)}}</p>
                    <span style="background: #ffe4b5;position: absolute;right: 10px;padding: 7px 12px;margin-top: -40px;color: #fd4b14;border-radius: 5px;">{{item.bodyTemperature}}°C</span>
                </a>

                <div ng-if="filtered.length == 0" class="empty-list-tip" style="margin-top: 10%;">
                    <img src="img/empty_content.png">
                    <p>暂无数据</p>
                </div>
                
            </div>
        
    </ion-content>
</ion-view>