<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <button class="button button-icon icon " ng-click="hideAddProgressModal()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;"
                alt="" />
        </button>
        <h1 class="title bar-follower-font">增加进度</h1>

    </ion-header-bar>
    <form name="progressForm" novalidate>
        <ion-content style="margin:0px 12px;">
            <div style="margin-top:20px;">
                <div style="font-size:16px;color:#333;float:left; width:50px;margin-top:18px;">进度 :</div>
                <div class="row"
                    style="padding:0px 5px!important;width:calc(100% - 60px);margin-left:55px;margin-top:-15px;">
                    <div class="col-26" style="position:relative;margin-left: 0px;margin-top: 15px;text-align: center;">
                        <div class="button repair_statue"
                            ng-style="{'background-color':select.status==2?'#377EF5':'white','color':select.status==2?'white':'#377EF5'}"
                            ng-click="select.status=2">处理中</div>
                    </div>

                    <div class="col-26"
                        style="position:relative;margin-left: 15px;margin-top: 15px;text-align: center;">
                        <div class="button repair_statue"
                            ng-style="{'background-color':select.status==3?'#377EF5':'white','color':select.status==3?'white':'#377EF5'}"
                            ng-click="select.status=3">关闭</div>
                    </div>
                </div>
            </div>
            </div>

            <div style="border-radius: 10px;background-color:#F3F4F6; margin-top: 22px;">
                <textarea name="chatInput"
                    style="width:100%;height: 160px;padding: 7px 8px;background-color:#F3F4F6;font-size:16px;border-radius: 10px;"
                    placeholder="说明,必填,限100字" maxlength="100" required ng-model="select.content">
                        </textarea>
            </div>
            <!-- <div  style="color:#333;font-size:16px;">指派给:</div> -->
            <div class="item" style="margin-top:13px;border: none;font-size: 16px;" ng-if="select.status===2">
                <span style="color:#333;">指派给:</span>
                <div class="row flex-row" style="padding: 0;margin-top: 2px;">
                    <div class="col person-grid" ng-if="select.selectManName&&select.selectManName!==''"
                        style="position: relative;">
                        <div class="name-tab">
                            {{select.selectManName.length>4?select.selectManName.substr(1,4):select.selectManName}}
                        </div>
                        <img style="position: absolute;right: 12px;top: 0px;height: 21px;width: 21px;z-index:9999;"
                            src="img/others/approval_delete.png" on-tap="removeMan($index)" />
                    </div>

                    <div ng-if="!select.selectManName" class="col pic-grid"
                        style="text-align: left;padding-top: 5px;padding-left:15px;width: 80px;height: 80px;">
                        <a class="button icon ion-plus-round border-btn-add"
                            style="color: #888;border-radius:50%;min-width:50px;height:50px;padding-top: 2px;"
                            ng-click="selectMan()"></a>
                    </div>
                </div>
            </div>

            <div class="button"
                style="width:calc(100% - 110px);margin-left: 55px;margin-top:60px;height: 40px;line-height: 40px;min-height: 40px;border:1px solid #DDDDDD;border-radius: 20px;font-size:17px;background-color:#DDDDDD;color:#9D9D9D;font-weight: 500;"
                ng-if="progressForm.$invalid">保存</div>
            <div class="button" ng-click="saveProgress()"
                style="width:calc(100% - 110px);margin-left: 55px;margin-top:60px;height: 40px;line-height: 40px;min-height: 40px;border-radius: 20px;font-size:17px;background-color:#FEB736 ;color:white;font-weight: 500;border:none;"
                ng-if="!progressForm.$invalid">保存</div>
        </ion-content>
    </form>
</ion-modal-view>