<img src="img/others/cancel.png" style="float:right;position:absolute;top:10px;right:10px;width:24px;height:24px;"
    ng-click="cancelChoose()">
<ion-scroll scrollX="false" scrollY="true" scrollbar-y="false" direction="y" class="list">
    <div class="list">
        <div style="margin-bottom:25px;width:100%;">
            <div ng-click="addExerciseProgram(item)" ng-repeat="item in programList"
                style="margin-top:15px;min-height:35px;padding:5px 2px;width:calc(100% - 50px);margin-left:25px;background:#2bcab2;color:white;font-size:16px;text-align:center;border-radius:5px; ">
                {{item.drillName}}</div>
        </div>
    </div>
</ion-scroll>