<ion-view hide-nav-bar="true">
	<ion-header-bar class="bar bar-header bar-follower">
		<div class="button-bar" style="padding-left: 22%;padding-right: 10%">
			<button class="button tab-button tab-btn" ng-click="switchView(false)" ng-class="contactView?'':'activated_btn_green'">会话</button>
			<button class="button tab-button tab-btn" ng-click="switchView(true)" ng-class="contactView?'activated_btn_green':''">通讯录</button>
		</div>
		<button class="button button-icon icon ion-ios-plus-outline" ng-class="contactView?'bar-button-hide':''" ng-click="openModal()" style="color: white"></button>
	</ion-header-bar>
	<ion-content class="has-header">
		<ion-refresher
			pulling-text="下拉刷新..."
			on-refresh="refreshContacts(contactView)">
		</ion-refresher>

		<div ng-if="contactView" class="list">
			<div class="item item-input" id="item-search" style="margin: 10px 10px;border-radius: 21px !important;">
				<i class="icon ion-search placeholder-icon" id="search-icon"></i>
				<input type="text" placeholder="搜索联系人" ng-model="sel.search" maxlength="20" class="input" style="margin: 0 auto;"/><img ng-if="sel.search.length>0" src="img/icon/close.png" ng-click="sel.search='';" style="width: 16px;height: 16px;margin-right: 10px;"/>
			</div>

			<div ng-repeat="group in ContactTree" >
				<div class="item" style="padding: 8px 8px 8px 16px;border: 0;border-radius: 0;margin-top: 1px;" ng-click="toggle(group, filtered.length);">
					<img ng-class="group.show?'people-select-triangle-open':'people-select-triangle-close'"
						 ng-src="{{group.show?'img/icon/triangle_down.png':'img/icon/triangle_right.png'}}" >
					<h2 style="margin-left: 20px;">{{group.name}} <span style="float: right;margin-right: 10px;color: #333333;font-size: small">{{filtered.length}}</span></h2>
				</div>

				<a class="item" style="padding: 8px 8px 8px 28px;border-radius: 0;" ng-repeat="contact in filtered = (group.list | filter: {Name: sel.search} | filter: {Member_Account: '!' + userID} | orderContactBy: 'SortField' : false)" ng-click="conversationDetail(contact)" ng-if="group.show">
					<img ng-if="group.isGroup" style="float: left" class="chat_avatar" src="img/icon/group.png" ng-src="{{contact.FaceUrl}}">
					<img ng-if="!group.isGroup" style="float: left" class="chat_avatar" src="img/icon/person.png" ng-src="{{contact.Icon}}" >
					<h2 ng-if="contact.Name" style="margin-left: 60px;margin-top: 10px;">{{contact.Name}}</h2>
					<h2 ng-if="!contact.Name" style="margin-left: 60px;margin-top: 10px;">{{contact.Member_Account}}</h2>
				</a>

			</div>

			<div ng-if="emptyContacts" style="display: block;padding: 5% 10%">
				• 未找到联系人
			</div>

		</div>

		<div ng-if="!contactView" class="list">
			<a class="item item-thumbnail-left box-border" ng-repeat="item in conversations | orderBy: 'SessionTime': false" ng-click="conversationDetail(item, true)">
				<img src="img/icon/person.png"  ng-src="{{item.SessionImage}}" style="border-radius: 50%;" ><span class="badge badge-assertive" ng-if="item.UnreadMsgCount>0" style="left: 55px;right: auto;padding: 2px 8px;border-radius: 50%;top: 10px;line-height: inherit">{{item.UnreadMsgCount}}</span>
				<h2 style="margin-top: 10px;">{{item.SessionNick}}<span class="date-label" style="bottom: inherit">{{item.MsgTimeStamp}}</span></h2>
				<p style="margin-top: 5px;">{{item.MsgShow}}</p>
			</a>

			<div ng-if="!conversations || conversations.length == 0" style="display: block;padding: 20% 15%">
				<div ng-if="!loading" style="color: #999; font-size: 14px;">
					<img src="img/communicate.png" ng-src="{{item.communicate.png}}" style="max-width: 140px; margin: 0 auto 10px auto; vertical-align:middle; display:block;" />
					<span style="display: block;text-align: center;">还没有消息，您可以</span>
					<div style="width: 100%;height: 1px;background-color: #aefbef;margin-top: 5px;"></div>

					<p style="margin-top: 15px; color: #999; font-size: 14px;"><img src="img/lump.png" ng-src="{{item.lump.png}}" style="margin: 0px 5px; vertical-align: middle; max-width: 8px;" alt=""/>点通讯录选择联系人或群组聊天</p>
					<p style="color: #999;  font-size: 14px;"><img src="img/lump.png" ng-src="{{item.lump.png}}" style="margin: 0px 5px; vertical-align: middle; max-width: 8px;" alt=""/> 点右上角图标发起群聊</p>
				</div>
				<div ng-if="loading" style="text-align: center;">
					<i class="icon ion-load-c"></i> 加载中请稍后...
				</div>
			</div>

		</div>


	</ion-content>
</ion-view>
