<ion-view hide-nav-bar="true">
	<ion-tabs class="tabs-stable tabs-icon-top tabs-color-active-positive" ng-if="schoolAdmin">
		<ion-tab title="首页" icon-off="notice-off" icon-on="notice-on" ui-sref="tabsController.mainPage">
			<ion-nav-view name="main_tab"></ion-nav-view>
		</ion-tab>
		<ion-tab title="校园" icon-off="school-off" icon-on="school-on" ui-sref="tabsController.schoolPage" badge="campus"
			badge-style="badge-assertive">
			<ion-nav-view name="school_tab"></ion-nav-view>
		</ion-tab>
		<ion-tab title="互动" icon-off="communicate-off" icon-on="communicate-on" ui-sref="tabsController.communicatePage"
			badge="badge" badge-style="badge-assertive">
			<ion-nav-view name="communicate_tab"></ion-nav-view>
		</ion-tab>
		<ion-tab title="设置" icon-off="setting-off" icon-on="setting-on" ui-sref="tabsController.settingPage">
			<ion-nav-view name="setting_tab"></ion-nav-view>
		</ion-tab>
	</ion-tabs>
	<!-- 设备管理和资产管理都开通了-->
	<ion-tabs class="tabs-stable tabs-icon-top tabs-color-active-positive"
		ng-if="!schoolAdmin&&authDeviceManage&&authAssertManage">
		<ion-tab title="设备概况" icon-off="general-off" icon-on="general-on" ui-sref="tabsController.general">
			<ion-nav-view name="general_tab"></ion-nav-view>
		</ion-tab>
		<ion-tab title="使用分析" icon-off="usage-off" icon-on="usage-on" ui-sref="tabsController.usage">
			<ion-nav-view name="usage_tab"></ion-nav-view>
		</ion-tab>

		<ion-tab title="资产概况" icon-off="assets-off" icon-on="assets-on" ui-sref="tabsController.assetsStatistic">
			<ion-nav-view name="assets_tab"></ion-nav-view>
		</ion-tab>
		<ion-tab title="设置" icon-off="setting-off" icon-on="setting-on" ui-sref="tabsController.settingPage">
			<ion-nav-view name="setting_tab"></ion-nav-view>
		</ion-tab>
	</ion-tabs>

	<!-- 设备管理开通了和资产管理未开通-->
	<ion-tabs class="tabs-stable tabs-icon-top tabs-color-active-positive"
		ng-if="!schoolAdmin&&authDeviceManage&&!authAssertManage">
		<ion-tab title="设备概况" icon-off="general-off" icon-on="general-on" ui-sref="tabsController.general">
			<ion-nav-view name="general_tab"></ion-nav-view>
		</ion-tab>
		<ion-tab title="使用分析" icon-off="usage-off" icon-on="usage-on" ui-sref="tabsController.usage">
			<ion-nav-view name="usage_tab"></ion-nav-view>
		</ion-tab>
		<ion-tab title="设置" icon-off="setting-off" icon-on="setting-on" ui-sref="tabsController.settingPage">
			<ion-nav-view name="setting_tab"></ion-nav-view>
		</ion-tab>
	</ion-tabs>

	<!-- 设备管理未开通了和资产管理开通-->
	<ion-tabs class="tabs-stable tabs-icon-top tabs-color-active-positive"
		ng-if="!schoolAdmin&&authAssertManage&&!authDeviceManage">

		<ion-tab title="资产概况" icon-off="assets-off" icon-on="assets-on" ui-sref="tabsController.assetsStatistic">
			<ion-nav-view name="assets_tab"></ion-nav-view>
		</ion-tab>
		<ion-tab title="设置" icon-off="setting-off" icon-on="setting-on" ui-sref="tabsController.settingPage">
			<ion-nav-view name="setting_tab"></ion-nav-view>
		</ion-tab>
	</ion-tabs>

	<ion-tabs class="tabs-stable tabs-icon-top tabs-color-active-positive"
		ng-if="!schoolAdmin&&!authAssertManage&&!authDeviceManage">
		<ion-tab title="设置" icon-off="setting-off" icon-on="setting-on" ui-sref="tabsController.settingPage">
			<ion-nav-view name="setting_tab"></ion-nav-view>
		</ion-tab>
	</ion-tabs>
</ion-view>