<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar bar-header bar-follower">
        <button class="button button-icon icon " ng-click="goBack()" ng-if="schoolAdmin">
            <img src="img/icon/icon-arrow_left.png" class="header-icon" alt=""/>
        </button>
        <h1 class="title bar-follower-font">使用分析</h1>
    </ion-header-bar>

    <ion-content class="has-header">
        <div style="height:200px;" line-chart e-data="data" ng-click="refreshData()"></div>

        <div ng-if="!schoolAdmin" style="margin-top: 15px;">
            <div class="row main-row no-border-radius">
                <div class="col-33 text-style-btn" style="text-align: center" ui-sref="terminalLocation">
                    <img src="img/icon/icon-device-location.png" alt="" style="display: block;width: 50px;margin: auto">
                    <span>设备分布</span>
                </div>
                <div class="col-33 text-style-btn" style="text-align: center" ui-sref="terminalList">
                    <img src="img/icon/icon-usage-detail.png" alt="" style="display: block;width: 50px;margin: auto">
                    <span>设备使用明细</span>
                </div>
                <div class="col-33 text-style-btn" style="text-align: center" ui-sref="rank({type: 'usage'})">
                    <img src="img/icon/icon-device-usage.png" alt="" style="display: block;width: 50px;margin: auto">
                    <span>设备使用率</span>
                </div>
                <div class="col-50 text-style-btn" style="text-align: center" ui-sref="rank({type: 'time'})">
                    <img src="img/icon/icon-device-usage-time.png" alt="" style="display: block;width: 50px;margin: auto">
                    <span>学校设备使用时长排行</span>
                </div>
                <div class="col-50 text-style-btn" style="text-align: center" ui-sref="rank({type: 'teacherUseTime'})">
                    <img src="img/icon/icon-teacher-usage-time.png" alt="" style="display: block;width: 50px;margin: auto">
                    <span>学校教师使用时长排行</span>
                </div>
            </div>
        </div>

        <div ng-if="schoolAdmin" style="margin-top: 15px;">
            <div class="row main-row no-border-radius">
                <div class="col-33 text-style-btn" style="text-align: center" ui-sref="rank({type: 'class'})">
                    <img src="img/icon/icon-device-usage.png" alt="" style="display: block;width: 50px;margin: auto">
                    <span>班级使用统计</span>
                </div>
                <div class="col-33 text-style-btn" style="text-align: center" ui-sref="rank({type: 'teacher'})">
                    <img src="img/icon/icon-teacher-usage-time.png" alt="" style="display: block;width: 50px;margin: auto">
                    <span>教师使用统计</span>
                </div>
                <div class="col-33 text-style-btn" style="text-align: center" ui-sref="terminalList">
                    <img src="img/icon/icon-usage-detail.png" alt="" style="display: block;width: 50px;margin: auto">
                    <span>设备使用明细</span>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
