<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">统计说明</h1>
    </ion-header-bar>

    <ion-content class="has-header" padding="true">
        <div ng-if="!schoolAdmin" style="margin-top: 15px;font-size:small;color: #444">
            <p>应用概况的统计时间范围是最近30天，更多时段统计可从登录管理平台进行统计。下面是建设概况和应用概况各统计项的具体计算方式：</p>
            <p>1、接入学校数：辖区内已有设备的学校数</p>
            <p>2、学校接入率：辖区内已有设备的学校数 / 学校库中辖区内的学校总数</p>
            <p>3、设备使用率 = 辖区内最近30天有使用过的设备数 / 辖区内设备总数</p>
            <p>4、教师使用率 = 辖区内最近30天有使用过设备的教师数 / 辖区内教师总数</p>
            <p>5、设备在线率 = 辖区内已开机正在使用的设备总数 / 辖区内设备总数</p>
            <p>6、已使用设备数：辖区内最近30天有使用过的设备总数</p>
            <p>7、已使用教师数：辖区内最近30天有使用过设备的教师总数</p>
            <p>8、当前在线设备数：辖区内已开机正在使用的设备总数</p>
            <p>9、设备平均使用时长：辖区内所有设备最近30天的累计使用时间/辖区内设备总数</p>
            <p>10、教师平均使用时长：辖区内所有教师最近30天的累计使用时间/辖区内教师总数</p>
        </div>

        <div ng-if="schoolAdmin" style="margin-top: 15px;font-size: small;color: #444">
            <p>应用概况的统计时间范围是最近30天，下面是各项统计的具体计算方式：</p>
            <p>1、设备使用率 = 学校最近30天有使用过的设备数 / 学校设备总数</p>
            <p>2、教师使用率 = 学校最近30天有使用过设备的教师数 / 学校教师总数</p>
            <p>3、设备在线率 = 学校已开机正在使用的设备总数 / 学校设备总数</p>
            <p>4、已使用设备数：学校最近30天有使用过的设备总数</p>
            <p>5、已使用教师数：学校最近30天有使用过设备的教师总数</p>
            <p>6、当前在线设备数：学校已开机正在使用的设备总数</p>
            <p>7、设备平均使用时长：学校所有设备最近30天的累计计使用时间/学校设备总数</p>
            <p>8、教师平均使用时长：学校所有教师最近30天的累计使用时间/学校教师总数</p>
        </div>

    </ion-content>
</ion-view>
