<ion-view>
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">工具箱</h1>
    </ion-header-bar>

    <ion-content class="has-header" style="background-color: #f3f4f5;" padding="true">

        <a class="item item-thumbnail-left market-item" ng-repeat="item in list" ng-click="applyModule(item)">
            <img src="img/icon/person.png" alt="" style="border-radius: 50%;" ng-src="{{item.logo}}" >
            <h2>{{item.name}}</h2>
            <p>{{item.introduce}}</p>
            <span ng-class="item.appStatus==0?'apply':'applied'">{{getStatusText(item.appStatus)}}</span>
        </a>

    </ion-content>
</ion-view>
