<ion-view hide-nav-bar="true" class="xView-grey">
    <ion-header-bar class="bar bar-header bar-follower">
        <h1 class="title bar-follower-font">{{schoolName}}</h1>
        <button class="button button-icon icon icon-market" ng-click="showMarket()"></button>
        <!-- <button>
            <img src="img/main/main_market.png"/>
        </button> -->
    </ion-header-bar>
    <ion-content class="has-header">

        <!-- <div class="color-success-vertical" style="text-align: center;width: 100%;" ng-if="authBanBanTong">

            <div style="height:200px;" pie-chart e-data="data" ng-click="onChartClick()">
                <div
                    style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);background: red;z-index: 999;">
                </div>
            </div>
            <div class="row row-wrap" style="padding:2px 0px 10px 0px !important;max-height: 62px;">
                <div class="col col-50" style="padding:0px !important;" ui-sref="general">
                    <img src="img/main/equipment.png" style="width:28px;height: 24px;" />
                    <div style="color: white;margin-top:5px;font-size:15px;text-align:center; ">设备概况</div>
                </div>

                <div class="col col-50" style="padding:0px !important;" ui-sref="usage">
                    <div style="width: 1px;height: 28px;background-color: white;float: left;margin-top: 15px;"></div>
                    <img src="img/main/useAnalysis.png" style="width: 28px;height: 24px;margin-left:2px;" />
                    <div style="color: white;margin-top:5px;font-size:15px;text-align:center;margin-left:6px; ">使用分析
                    </div>
                </div>
            </div>
        </div> -->
        <ion-slide style="width:100%;height: 180px;">
            <div>
                <img src="img/banner.jpg" style="width: 100%" />
            </div>
        </ion-slide>

        <!-- <div class="color-success-vertical" style="text-align: center;width: 100%;" ng-if="!authBanBanTong">
            <img src="img/default-banner.jpg" style="width: 100%" />
        </div> -->

        <div class="item item-divider no-border-radius main-item-title" style="margin-top: 10px;"
            ng-if="authOA || authTeachingManage || authAssetsManage||authBanPai||safeManage||covidProvent||authBanBanTong||babyVideoManage||cloundLive">
            <div style="width: 3px;height: 100%;background-color: #2bcab2;display: inline-flex; ">
                <span style="margin-left: 10px">管理应用</span>
            </div>
        </div>


        <div class="row row-wrap"
            style="padding:5px 10px 10px 10px !important;background-color: #ffffff;text-align: center"
            ng-if="authOA || authTeachingManage || authAssetsManage||authBanPai||safeManage||covidProvent||authBanBanTong||babyVideoManage||cloundLive">

            <div class="col col-25" style="padding:0px !important;margin-top:10px;" ng-click="goToNextPage('general')"
                ng-if="authBanBanTong">
                <div style="width: 1px;height: 28px;background-color: white;float: left;margin-top: 15px;"></div>
                <img src="img/icon/bbt_manage.png" style="width:32px;height: 32px;" />
                <div style="color: #333;margin-top:3px;font-size:14px;text-align:center;">班班通管理</div>
            </div>

            <div class="col col-25" style="padding:0px !important;margin-top:10px;"
                ng-click="goToNextPage('devicesOnline')" ng-if="authBanBanTong||authBanPai">
                <div style="width: 1px;height: 28px;background-color: white;float: left;margin-top: 15px;"></div>
                <img src="img/icon/shut_down.png" style="width:32px;height: 32px;" />
                <div style="color: #333;margin-top:3px;font-size:14px;text-align:center;">设备关机</div>
            </div>

            <div class="col col-25" style="padding:0px !important; margin-top:10px;" ng-click="classAppraisal()"
                ng-if="authBanPai || authTeachingManage">
                <img src="img/icon/main_bjpb.png" style="width:32px;height: 32px;" />
                <div style="color: #333;margin-top:3px;font-size:14px;text-align:center;">班级评比</div>
                <!-- <span class="badge badge-assertive title-badge" ng-if="voteLength&&voteLength>0&&voteLength<1000">{{voteLength}}</span> -->
            </div>

            <div class="col col-25" style="padding:0px !important;margin-top:10px;" ui-sref="repairRecordList"
                ng-if="authOA">
                <div style="width: 1px;height: 28px;background-color: white;float: left;margin-top: 15px;"></div>
                <img src="img/icon/main_bxjl.png" style="width:32px;height: 32px;" />
                <div style="color: #333;margin-top:3px;font-size:14px;text-align:center;">报修记录</div>
            </div>

            <div class="col col-25" style="padding:0px !important;margin-top:10px;" ui-sref="assetsCheckList"
                ng-if="authAssetsManage">
                <div style="width: 1px;height: 28px;background-color: white;float: left;margin-top: 15px;"></div>
                <img src="img/icon/main_spsl.png" style="width:32px;height: 32px;" />
                <div style="color: #333;margin-top:3px;font-size:14px;text-align:center;">申领审批</div>
                <span class="badge badge-assertive title-badge"
                    ng-if="assetsUnreadCount>0&&assetsUnreadCount<1000">{{assetsUnreadCount}}</span>
                <span class="badge badge-assertive title-badge" ng-if="assetsUnreadCount>999">...</span>
            </div>

            <div class="col col-25" style="padding:0px !important;margin-top:10px;"
                ng-click="goToNextPage('approvalList')" ng-if="authOA">
                <div style="width: 1px;height: 28px;background-color: white;float: left;margin-top: 15px;"></div>
                <img src="img/icon/main_spgl.png" style="width:32px;height: 32px;" />
                <div style="color: #333;margin-top:3px;font-size:14px;text-align:center;">审批管理</div>
            </div>

            <div class="col col-25" style="padding:0px !important;margin-top:10px;"
                ng-click="goToNextPage('hidenTroubleList')" ng-if="safeManage">
                <div style="width: 1px;height: 28px;background-color: white;float: left;margin-top: 15px;"></div>
                <img src="img/icon/main_hiden_trouble_manage.png" style="width:32px;height: 32px;" />
                <div style="color: #333;margin-top:3px;font-size:14px;text-align:center;">隐患管理</div>
            </div>

            <div class="col col-25" style="padding:0px !important;margin-top:10px;"
                ng-click="goToNextPage('exerciseNoticeList')" ng-if="safeManage">
                <div style="width: 1px;height: 28px;background-color: white;float: left;margin-top: 15px;"></div>
                <img src="img/icon/main_exercise_manage.png" style="width:32px;height: 32px;" />
                <div style="color: #333;margin-top:3px;font-size:14px;text-align:center;">演练管理</div>
            </div>
            <!-- <div class="col col-25"  style="padding:0px !important;margin-top:10px;" ng-click="goToNextPage('assetsScanning')"   ng-if="authAssetsManage" >
                <div style="width: 1px;height: 28px;background-color: white;float: left;margin-top: 15px;"></div>
                <img src="img/icon/assets_scan.png" style="width:32px;height: 32px;"/>
                <div style="color: #333;margin-top:3px;font-size:14px;text-align:center;margin-left:6px; ">资产扫码</div>
            </div> -->

            <div class="col col-25" style="padding:0px !important;margin-top:10px;"
                ng-click="goToNextPage('covidDailySummery')" ng-if="covidProvent">
                <div style="width: 1px;height: 28px;background-color: white;float: left;margin-top: 15px;"></div>
                <img src="img/icon/icon-health.png" style="width:32px;height: 32px;" />
                <div style="color: #333;margin-top:3px;font-size:14px;text-align:center;">疫情防控</div>
                <span class="badge badge-assertive title-badge"
                    ng-if="covidWarningBadge>0&&covidWarningBadge<1000">{{covidWarningBadge}}</span>
                <span class="badge badge-assertive title-badge" ng-if="covidWarningBadge>999">...</span>
            </div>

            <div class="col col-25" style="padding:0px !important;margin-top:10px;"
                ng-click="goToNextPage('portraitList')" ng-if="covidProvent || authBanPai">
                <div style="width: 1px;height: 28px;background-color: white;float: left;margin-top: 15px;"></div>
                <img src="img/icon/main_portrait.png" style="width:32px;height: 32px;" />
                <div style="color: #333;margin-top:3px;font-size:14px;text-align:center; ">人像采集</div>
            </div>

            <div class="col-25 main-item" style="padding:0px !important;margin-top:10px;"
                ng-click="goToNextPage('babyVideoList')" ng-if="babyVideoManage">
                <img src="img/icon/main_classroom_monit.png" style="width:32px;height: 32px;" />
                <span style="color: #333;margin-top:3px;font-size:14px;text-align:center;">宝宝视频</span>
            </div>

            <div ng-if="authBanPai" class="col col-25" style="padding:0px !important;margin-top:10px;"
                ng-click="goToNextPage('banpaiList')" ng-if="authBanBanTong||authBanPai">
                <div style="width: 1px;height: 28px;background-color: white;float: left;margin-top: 15px;"></div>
                <img src="img/icon/main_banpai.png" style="width:32px;height: 32px;" />
                <div style="color: #333;margin-top:3px;font-size:14px;text-align:center;">班牌管理</div>
            </div>

            <div ng-if="cloundLive" class="col col-25" style="padding:0px !important;margin-top:10px;"
                ng-click="goToNextPage('cloundLiveList')">
                <div style="width: 1px;height: 28px;background-color: white;float: left;margin-top: 15px;"></div>
                <img src="img/icon/cloundLive.png" style="width:32px;height: 32px;" />
                <div style="color: #333;margin-top:3px;font-size:14px;text-align:center;">云直播</div>
            </div>

        </div>

        <!--<div class="item item-divider no-border-radius main-item-vote" >-->
        <!--<div style="height: 53px;line-height: 53px;width:50%; ">-->
        <!--<span style="margin-left: 0px;color:#666;">班级评比任务总数:-->
        <!--<span style="font-size: 19px;font-weight: 500;color:black;">{{voteLength}}</span>-->
        <!--</span>-->
        <!--</div>-->
        <!--<div class="vote-enter"   ng-click="classAppraisal()" >-->
        <!--<span style="margin-right: 4px;margin-top: 3px;"> 进入</span>-->
        <!--<img src="img/main/enter.png"   style="width: 20px;height: 20px;margin-right: 5px;margin-top: -1px;"/>-->
        <!--</div>-->
        <!--</div>-->

        <div class="item item-divider no-border-radius main-item-title" style="margin-top: 10px;">
            <div style="width: 3px;height: 100%;background-color: #2bcab2;display: inline-flex; ">
                <span style="margin-left: 10px">通知公告</span>
                <!-- <div style="margin-top: 2px;"> -->
                <div class="notice-badge" style="margin-top: 2px;" ng-if="noReadNum>0&&noReadNum<1000">{{noReadNum}}
                </div>
                <div class="notice-badge" style="margin-top: 2px;" ng-if="noReadNum>0&&noReadNum>999">...</div>
                <!-- </div> -->
            </div>
            <div style="float: right;">
                <a class="button btn-text_no_style color-success" ng-click="openModal()">发通知</a>
            </div>
        </div>
        <ion-refresher pulling-text="下拉刷新..." on-refresh="loadData(true)">
        </ion-refresher>

        <ion-list>
            <ion-item class="item global-item" style="margin: 15px;border: none;border-radius: 5px;"
                ng-repeat="item in noticeList " ng-click="goDetail(item)" style="margin-top: 12px;margin-bottom: 12px;">
                <!--<img ng-src="img/icon/notice-icon-school.png">-->
                <div ng-if="item.alreadyRead==false"
                    style="position: absolute; background-color: red;width: 9px;height: 9px;border-radius: 50%; top:18px;left:8px;">
                </div>
                <h2
                    style="margin-top: -3px;margin-left:10px; white-space: nowrap;overflow: hidden !important;max-height: 1.2em;line-height: 1.2em;  text-overflow : ellipsis; ">
                    {{item.title}}</h2>
                <div ng-if="item.roleName!=null&&item.roleName!=''"
                    ng-style="{'background-color':item.roleName==null||item.roleName==''?'':getBgColor(item.role)}"
                    style="color: white;font-size: 13px;margin-left:7px;min-width: 70px;max-width:80px;margin-top:10px;line-height: 20px; height: 20px;border-radius: 10px;text-align: center;font-weight: 500;">
                    {{item.roleName==null||item.roleName==''?'':item.roleName}}</div>
                <div class="main-date-label" style="float: left;font-size:13px;">&nbsp;
                    <!-- <i class = "icon ion-ios-clock-outline"></i> -->
                    <img src="img/classAppraisal/clock.png" style="width: 14px;height:14px;margin-top: -3px;" />
                    &nbsp;<span style="font-size: small;">{{item.time}}</span>
                </div>

                <div style="background-color: #DCDCDC;height: 1.0px;width: calc(100% - 12px);margin-top: 32px;"></div>
                <div style="font-size: 15px;color: #666;max-height:22px;  margin-top: 12px;margin-left: 11px;width:calc(100% - 18px);white-space: nowrap;overflow: hidden;text-overflow : ellipsis; "
                    class="list-content-set">{{removeHTMLTag(item.text)}}</div>
                <ion-option-button class="button-assertive" ng-click="deleteItem(item, $event)"
                    ng-if="item.authorId == userId">
                    删除
                </ion-option-button>
            </ion-item>
        </ion-list>

        <div ng-if="noticeList.length == 0" class="empty-list-tip">
            <img src="img/empty_content.png">
            <p>暂无通知</p>
        </div>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <ion-infinite-scroll spinner="spiral" ng-if="listHasMore" on-infinite="loadData()" distance="10%">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>