<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <button class="button button-icon icon " ng-click="hideAttentionModal()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;"
                alt="" />
        </button>
        <h1 class="title bar-follower-font">采集注意事项</h1>
    </ion-header-bar>

    <ion-content>
        <ion-list class="list">
            <div>
                <img src="img/others/right_sample.png" style="margin: 15px 30px 0px 30px;width:calc(100% - 60px);"
                    on-img-cache />
                <div style="width:100%;color:#666;font-size:15px;text-align:center;">请确保图片清晰且主体为正脸</div>
            </div>

            <div class="row main-row" style="border-bottom:1px solid #ddd;">
                <div class="col col-25 main-item" ng-repeat="item in sampleImgs">
                    <img ng-src="{{item.url}}" style="width:60px;height:60px;" on-img-cache />
                    <span style="font-size:13px;color:#666;">{{item.lab}}</span>
                    <img src="img/others/group_error.png"
                        style="width:16px;height:16px;position:absolute;right:12px;bottom:24px;" />
                </div>
            </div>

            <div style="position: relative;top:15px;">
                <img src="img/others/group_title.png" style="width:160px;margin-left:calc(50% - 80px);" />
                <div
                    style="font-size:14px;position: absolute;width:100%;text-align: center;top:5px;color:white;font-weight: 500;">
                    人像采集要求</div>
            </div>

            <div style="color:#666;font-size:14px;padding:1px 10px;margin-top:25px;">
                1. 在室内采集人像，室内要求光线明亮，不要有强背光。
            </div>
            <div style="color:#666;font-size:14px;padding:1px 10px;">
                2. 人像采集需免冠，脱帽，不得遮挡面部的情况
            </div>
            <div style="color:#666;font-size:14px;padding:1px 10px;">
                3. 女士请尽量避免头发遮挡面部，尽量不要化浓妆。
            </div>
            <div style="color:#666;font-size:14px;padding:1px 10px;">
                4. 如果平时戴眼镜，可戴眼镜采集人像，眼镜最好不要反光，不要要变色眼镜。建议最好带眼镜框（无玻璃）做人像采集。
            </div>
            <div style="color:#666;font-size:14px;padding:1px 10px;">
                5. 正面人脸进行采集，面部正对摄像头，左右偏转小于15度，上下偏转小于15度
            </div>
            <div style="color:#666;font-size:14px;padding:1px 10px;">
                6. 左右、上下人像采集，面度左右偏转大于30度，小于45度，上下偏转大于15度，小于25度（范围较宽，可个人估计）
            </div>
            <div style="color:#666;font-size:14px;padding:1px 10px;">
                7. 人像照片成像应清晰，无虚化现象，头像应占照片空间2/3区域，注意防抖。
            </div>
            <div style="color:#666;font-size:14px;padding:1px 10px;">
                8. 当面部发生变化，例如整形，受伤，变瘦，变胖，请申请重新进行人脸信息登记。
            </div>
        </ion-list>
        <!-- <div class="button" ng-click="haveKnow()" style="color:white;font-size:15px;font-weight:500;background:#2bcab2;border-radius:5px;width:140px;margin-left:calc(50% - 70px);margin-top:30px;min-height:35px;height:35px;line-height:35px;">我知道了</div>
         <div style="top:5px;text-align: center;width:100%;position: relative;">
             <ion-checkbox id="intro-checkbox" ng-model="selected.isChecked" ng-class="isIos?'intro-box-ios':'intro-box-android'" style="position: absolute;left:calc(50% - 62px) !important;border: none;top:-2px;"></ion-checkbox>
             <div style="font-size:13px;color:#666;position: absolute;width:84px;left:calc(50% - 26px);top:3px;">下次不再提醒</div>
         </div> -->
        <div style="width:100%;height:60px;"></div>

    </ion-content>

</ion-modal-view>