<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <h1 class="title bar-follower-font">资产概况</h1>
    </ion-header-bar>
    <ion-content >
        <ion-list>

            <div class="row"
                style="font-size:14px;color:#666;border-bottom: 1px solid #ddd;background:white;padding:8px 0px;">
                <div class="col col-50" style="text-align:center;border-right:1px solid #ddd;">
                    <div style="color:#2bcab2;font-size:20px;">{{detail.normalSize}}</div>
                    <div>正常资产总数</div>
                </div>
               
                <div class="col col-50" style="text-align:center;">
                    <div style="color:#2bcab2;font-size:20px;">{{detail.disposeSize}}</div>
                    <div>处置资产总数</div>
                  
                </div>
            </div>
            <div class="row" style="font-size:14px;color:#666;background:white;padding:8px 0px;margin-top:0px;">
                <div class="col col-33" style="text-align:center;border-right:1px solid #ddd;">
                    <div style="color:#2bcab2;font-size:20px;">{{detail.useSize}}</div>
                    <div>在使用</div>
                  
                </div>
                <div class="col col-33" style="text-align:center;border-right:1px solid #ddd;">
                    <div style="color:#2bcab2;font-size:20px;">{{detail.maintainSize}}</div>
                    <div>维修中</div>
                   
                </div>
                <div class="col col-33" style="text-align:center;">
                    <div style="color:#2bcab2;font-size:20px;">{{detail.storeSize}}</div>
                    <div>在库</div>
                    
                </div>
            </div>
            <div style="background:#f3f4f6;width:100%;height:10px;"></div>
            <div style="width:100%;background:white;padding:13px 0px;margin-top:0px;">
                <ion-row class="row row-wrap"
                    style="font-size: 15px;border-bottom: 1px solid #ddd;position: relative;">
                    <ion-col class="col col-50" style="text-align:center;" ng-click="tab1Click(0)">
                        <div style="white-space: nowrap;overflow: hidden;text-overflow : ellipsis;"
                            ng-style="{'color':select.selectIndex1==0?'orange':'#333'}">学校资产数排行前10</div>
                        <div style="background-color:orange;height:2px;position:absolute;top:40px;width:35%;left:calc(8% - 6px);"
                            ng-if="select.selectIndex1==0"></div>
                    </ion-col>
                    <ion-col class="col col-50" style="text-align:center;" ng-click="tab1Click(1)">
                        <div style="white-space: nowrap;overflow: hidden;text-overflow : ellipsis;"
                            ng-style="{'color':select.selectIndex1==1?'orange':'#333'}">厂家资产数排行前10</div>
                        <div style="background-color:orange;height:2px;position:absolute;top:40px;width:35%;right:calc(8% - 6px);"
                            ng-if="select.selectIndex1==1"></div>
                    </ion-col>
                </ion-row>

                <!-- <div style="text-align: center;color:orange;font-size:17px;margin-top:10px;height:18px;line-height: 18px;">TOP10</div> -->

                <div ng-hide="emptyContent" ng-style="{height: chartHeight+ 'px'}" rank-chart e-data="data"></div>
                <div ng-if="emptyContent" class="empty-list-tip" style="margin-top: 10%">
                    <img src="img/empty_content.png">
                    <p>暂无数据</p>
                </div>
            </div>


        </ion-list>
    </ion-content>
</ion-view>