<ion-view hide-nav-bar="true" class="xView-grey">
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">在线设备</h1>
    </ion-header-bar>
    <ion-content class="has-header" overflow-scroll="true">
        <ion-refresher
                pulling-text="下拉刷新..."
                on-refresh="loadData()">
        </ion-refresher>

        <ion-checkbox class="item checkbox-energized" style="padding: 3px 3px 3px 38px;border-radius: 5px !important;margin: 10px;border-color:#fff !important;" ng-repeat="item in list" ng-model="item.isChecked" ng-click="onCheckedChange(item)">
            <h2 style="margin-left: 20px;margin-top: 10px;color: #333;font-size: 17px;font-weight: 500">{{item.sn}} <span style="float: right;margin-right: 10px;color: green;font-size: small" ng-if="item.processing">关机中...</span></h2>
            <div class="row" style="padding: 0.7em 1.4em;font-size: 14px;color: #666">
                <div class="col-50" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">
                    <img src="img/icon/icon-building.png" style="width: 15px;margin-right: .2em;vertical-align: middle;margin-top: -2px;">
                    {{item.className.length>0?item.className:item.siteName}}
                </div>
                <div class="col-50" ng-if="item.autoShutdownTime && item.autoShutdownTime.length>0">
                    <img src="img/icon/icon_shutdown.png"
                         style="height: 16px;margin-left: 1em;margin-right: .2em;vertical-align: middle;margin-top: -2px;">
                    {{item.autoShutdownTime}}自动关机
                </div>
            </div>
        </ion-checkbox>

        <div ng-if="list.length == 0" class="empty-list-tip">
            <img src="img/empty_content.png">
            <p>暂无在线设备</p>
        </div>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
    </ion-content>
    <ion-footer-bar ng-if="list.length > 0">

        <ion-checkbox class="checkbox-energized" style="position: absolute;font-size: 16px;border: 0;top: 6px; padding: 5px 5px 7px 50px;color: #333" ng-click="selectAll()" id="selectAllBtn" ng-model="selected.all">全选</ion-checkbox>

        <div style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);font-size: 17px;color: #333">
            已选设备 <span style="color: #ff9b05">{{selected.num}}</span> / {{list.length}}
        </div>

        <button class="button btn-follower" style="position: absolute;right: 0;top: 0;height: 100%;width: 80px;border-radius: 0;font-size: 19px;" ng-click="confirmShutdown()" ng-disabled="selected.num===0">
            关机
        </button>

    </ion-footer-bar>
</ion-view>
