<ion-view hide-nav-bar="true" class="xView-grey">
	<ion-header-bar class="bar bar-header bar-follower">
		<h1 class="title bar-follower-font">设置</h1>
	</ion-header-bar>
	<ion-content padding="false" class="has-header" overflow-scroll="true">
		<div style="text-align: center;width: 100%;padding-top: 15px;background-color: #2bcab2;" ui-sref="user_profile" ng-click="hideTip()">
			<img ng-src="{{user.logo}}" id="focusItem"
				 style="width:106px; height:106px; border-radius:50%; overflow:hidden;display:block; margin:auto; border: 2px solid #FFFFFF7F;" />
			<div class="spacer" style="width: 300px; height: 15px;"></div>
			<span style="font-size: 18px; color: #ffffff;">{{user.name}}</span><img class="icon setting-icon" src="img/icon/icon-edit.png" style="margin-left: 5px;padding-top: 3px;"/>
			<p style="margin-top: 7px;font-size: 16px;color: #ffffff"> 账号: {{userAccount}}</p>
			<div class="spacer" style="width: 300px; height: 10px;"></div>
		</div>

		<div style="padding: 0 0 0 10px;margin-top: 10px;background-color: #FFFFFF">
			<ion-item class="item-icon-left item-icon-right no-border-radius no_border_top" ng-click="openEditView('children')"
					  ng-if="isParent">
				<img class="icon setting-icon" src="img/icon/setting_child.png"/>我的孩子
				<i class="icon" style="right: 24px;"><span style="font-size: 16px;">{{childName}} <i class="ion-ios-arrow-right"></i></span></i>
			</ion-item>
			<ion-item class="item-icon-left item-icon-right no-border-radius" ui-sref="order" ng-if="isParent && needCardFee">
				<img class="icon setting-icon" src="img/icon/setting_order.png"/>我的订单
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>
			<ion-item class="item-icon-left item-icon-right no-border-radius no_border_bottom" ui-sref="notification_setting" ng-class="isParent?'':'no_border_top'">
				<img class="icon setting-icon" src="img/icon/setting_notify.png"/>通知设置
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>
		</div>
		<div style="padding: 0 0 0 10px;margin-top: 10px;background-color: #FFFFFF">
			<ion-list>
				<ion-item class="item-icon-left item-icon-right no-border-radius no_border_top" ui-sref="suggest">
					<img class="icon setting-icon" src="img/icon/setting_feedback.png" />意见反馈
					<div style="margin-right: 10px;" class="notice-badge"  ng-if="noReadNum>0&&noReadNum<1000" item-end>{{::noReadNum}}</div>
					<div style="margin-right: 10px;" class="notice-badge"  ng-if="noReadNum>999" item-end>...</div>
					<i class="icon ion-ios-arrow-right"></i>
				</ion-item>
			
				<ion-item class="item-icon-left item-icon-right no-border-radius" ui-sref="versionIntroduce">
					<img class="icon setting-icon" src="img/icon/setting_version.png" /> 版本说明
					<div style="margin-top: 8px; width:10px;height: 10px;background-color: red;border-radius: 5px;" ng-if="!isRead" item-end></div>
					<i class="icon ion-ios-arrow-right"></i>
				</ion-item>
			
				<ion-item class="item-icon-left item-icon-right no-border-radius no_border_bottom" ng-if="isAndroid" ng-click="checkUpdate()">
					<img class="icon setting-icon" src="img/icon/setting_update.png" />检查更新
					<i class="icon ion-ios-arrow-right"></i>
				</ion-item>
			
				<ion-item class="item-icon-left item-icon-right no-border-radius" ng-click="clearCache()">
					<img class="icon setting-icon" src="img/icon/delete.png" />清除缓存
					<i class="icon ion-ios-arrow-right"></i>
				</ion-item>

				<ion-item class="item-icon-left item-icon-right no-border-radius no_border_bottom" ui-sref="userProtocol">
					<img class="icon setting-icon" src="img/icon/setting_protocol.png" />用户协议
					<i class="icon ion-ios-arrow-right"></i>
				</ion-item>

				<ion-item class="item-icon-left item-icon-right no-border-radius no_border_bottom" ui-sref="privacyPolicy">
					<img class="icon setting-icon" src="img/icon/setting_privacyPolicy.png" />隐私政策
					<i class="icon ion-ios-arrow-right"></i>
				</ion-item>
			
				<ion-item class="item-icon-left item-icon-right no-border-radius no_border_bottom" ui-sref="about">
					<img class="icon setting-icon" src="img/icon/setting_about.png" />关于我们
					<i class="icon ion-ios-arrow-right"></i>
				</ion-item>
			</ion-list>
		</div>
		<div class="spacer" style="width: 100%; height: 20px;"></div>
		<div style="width: 100%;text-align: center">
			<button class="button out" ng-click="doLogout()" style="width: 70%;">退出当前账号</button>
		</div>
		<div class="spacer" style="height: 20px;"></div>
	</ion-content>
</ion-view>
