<ion-view hide-nav-bar="true" class="xView-grey">
    <ion-header-bar class="bar bar-header bar-follower">
        <button class="button button-icon icon " ng-click="goBack()" ng-if="schoolAdmin">
            <img src="img/icon/icon-arrow_left.png" class="header-icon" alt="" />
        </button>
        <h1 class="title bar-follower-font">{{pageTitle}}</h1>
       
    </ion-header-bar>

    <div class="row row-wrap" ng-style="{'top':getDeviceType()==='iphoneX'?'88px':getDeviceType()==='iphone'?'64px':'44px'}" style="background-color: white;height:50px;position: relative; ">
        <div class="col col-50"
            style="text-align: center;padding-top:4px;padding-bottom:0px;border-right: solid 1px #ddd;"
            ng-click="selectTypeClick(1)">
            <div style="font-size: 16px;margin-top: 6px;" ng-style="{'color':selectType==1?'#2bcab2':'#666'}">设备概况
            </div>
        </div>
        <div class="col col-50" style="text-align: center;padding-top:4px;" ng-click="selectTypeClick(2)">
            <div style="font-size:16px;margin-top: 6px;" ng-style="{'color':selectType==2?'#2bcab2':'#666'}">使用分析
            </div>
        </div>
    </div>
    <ion-content overflow-scroll="true" ng-style="{'margin-top': '44px'}">
        <div style="background: #f3f4f6;height:10px;width:100%;"></div>
        <ion-list ng-if="selectType==1">
            <div class="item item-divider no-border-radius main-item-title">
                <div style="width: 3px;height: 100%;background-color: #2bcab2"><span
                        style="margin-left: 10px">应用概况</span>
                </div>
                <button class="button button-icon  icon" style="position: absolute;right:15px;top:-4px;width:32px;height:32px;" ui-sref="generalAbout">
                    <img src="img/icon/about_mini.png" style="width:24px;height:24px;"  />
                </button>
            </div>
            <div class="row main-row no-border-radius border-b">
                <div class="col-33 main-item border-r" style="text-align: center">
                    <h4>{{terminalUseRate}}</h4>
                    <span>设备使用率</span>
                </div>
                <div class="col-33 main-item border-r" style="text-align: center">
                    <h4>{{teacherUseRate}}</h4>
                    <span>教师使用率</span>
                </div>
                <div class="col-33 main-item" style="text-align: center">
                    <h4>{{terminalOnlineRate}}</h4>
                    <span>设备在线率</span>
                </div>
            </div>
            <div class="row main-row no-border-radius border-b">
                <div class="col-33 main-item border-r" style="text-align: center">
                    <h4>{{terminalUseNum}}</h4>
                    <span>已使用设备数</span>
                </div>
                <div class="col-33 main-item border-r" style="text-align: center">
                    <h4>{{teacherUseNum}}</h4>
                    <span>已使用教师数</span>
                </div>
                <div class="col-33 main-item" style="text-align: center">
                    <!-- <img src="img/switch_camera.png" style="width: 20px;height:20px;position: relative;right: 5px;top:-10px;float:right;"/> -->
                    <h4>{{terminalOnlineNum}}</h4>
                    <span>当前在线设备数</span>
                </div>
            </div>
            <div class="row main-row no-border-radius">
                <div class="col-50 main-item border-r" style="text-align: center">
                    <h4>{{terminalAvgTime}}</h4>
                    <span>设备平均使用时长(小时)</span>
                </div>
                <div class="col-50 main-item" style="text-align: center">
                    <h4>{{teacherAvgTime}}</h4>
                    <span>教师平均使用时长(小时)</span>
                </div>
            </div>


            <div ng-if="!schoolAdmin" style="margin-top: 15px;">
                <div class="item item-divider no-border-radius main-item-title">
                    <div style="width: 3px;height: 100%;background-color: #2bcab2"><span
                            style="margin-left: 10px">建设信息</span></div>
                </div>
                <div class="row main-row no-border-radius border-b">
                    <div class="col-33 main-item border-r" style="text-align: center">
                        <h4 class="color-orange">{{terminalNum}}</h4>
                        <span>台设备</span>
                    </div>
                    <div class="col-33 main-item border-r" style="text-align: center">
                        <h4 class="color-orange">{{schlJoinNum}}</h4>
                        <span>所接入学校</span>
                    </div>
                    <div class="col-33 main-item" style="text-align: center">
                        <h4 class="color-orange">{{schlJoinRate}}</h4>
                        <span>学校接入率</span>
                    </div>
                </div>
                <div class="row main-row no-border-radius">
                    <div class="col-33 main-item border-r" style="text-align: center">
                        <h4 class="color-orange">{{classNum}}</h4>
                        <span>个班级</span>
                    </div>
                    <div class="col-33 main-item border-r" style="text-align: center">
                        <h4 class="color-orange">{{teacherNum}}</h4>
                        <span>名教师</span>
                    </div>
                    <div class="col-33 main-item" style="text-align: center">
                        <h4 class="color-orange">{{studentNum}}</h4>
                        <span>名学生</span>
                    </div>
                </div>
            </div>

            <div ng-if="schoolAdmin" style="margin-top: 15px;">
                <div class="item item-divider no-border-radius main-item-title">
                    <div style="width: 3px;height: 100%;background-color: #2bcab2"><span
                            style="margin-left: 10px">学校信息</span></div>
                </div>
                <div class="row main-row no-border-radius border-b">
                    <div class="col-50 main-item border-r" style="text-align: center">
                        <h4 class="color-orange">{{terminalNum}}</h4>
                        <span>台设备</span>
                    </div>
                    <div class="col-50 main-item" style="text-align: center">
                        <h4 class="color-orange">{{classNum}}</h4>
                        <span>个班级</span>
                    </div>
                </div>
                <div class="row main-row no-border-radius">
                    <div class="col-50 main-item border-r" style="text-align: center">
                        <h4 class="color-orange">{{teacherNum}}</h4>
                        <span>名教师</span>
                    </div>
                    <div class="col-50 main-item" style="text-align: center">
                        <h4 class="color-orange">{{studentNum}}</h4>
                        <span>名学生</span>
                    </div>
                </div>
            </div>
        </ion-list>


        <ion-list ng-if="selectType==2">
            <div style="height:200px;" line-chart e-data="data" ng-click="refreshData()"></div>
            <div ng-if="!schoolAdmin" style="margin-top: 15px;">
                <div class="row main-row no-border-radius">
                    <div class="col-33 text-style-btn" style="text-align: center" ui-sref="terminalLocation">
                        <img src="img/icon/icon-device-location.png" alt=""
                            style="display: block;width: 50px;margin: auto">
                        <span>设备分布</span>
                    </div>
                    <div class="col-33 text-style-btn" style="text-align: center" ui-sref="terminalList">
                        <img src="img/icon/icon-usage-detail.png" alt=""
                            style="display: block;width: 50px;margin: auto">
                        <span>设备使用明细</span>
                    </div>
                    <div class="col-33 text-style-btn" style="text-align: center" ui-sref="rank({type: 'usage'})">
                        <img src="img/icon/icon-device-usage.png" alt=""
                            style="display: block;width: 50px;margin: auto">
                        <span>设备使用率</span>
                    </div>
                    <div class="col-50 text-style-btn" style="text-align: center" ui-sref="rank({type: 'time'})">
                        <img src="img/icon/icon-device-usage-time.png" alt=""
                            style="display: block;width: 50px;margin: auto">
                        <span>学校设备使用时长排行</span>
                    </div>
                    <div class="col-50 text-style-btn" style="text-align: center"
                        ui-sref="rank({type: 'teacherUseTime'})">
                        <img src="img/icon/icon-teacher-usage-time.png" alt=""
                            style="display: block;width: 50px;margin: auto">
                        <span>学校教师使用时长排行</span>
                    </div>
                </div>
            </div>

            <div ng-if="schoolAdmin" style="margin-top: 15px;">
                <div class="row main-row no-border-radius">
                    <div class="col-33 text-style-btn" style="text-align: center" ui-sref="rank({type: 'class'})">
                        <img src="img/icon/icon-device-usage.png" alt=""
                            style="display: block;width: 50px;margin: auto">
                        <span>班级使用统计</span>
                    </div>
                    <div class="col-33 text-style-btn" style="text-align: center" ui-sref="rank({type: 'teacher'})">
                        <img src="img/icon/icon-teacher-usage-time.png" alt=""
                            style="display: block;width: 50px;margin: auto">
                        <span>教师使用统计</span>
                    </div>
                    <div class="col-33 text-style-btn" style="text-align: center" ui-sref="terminalList">
                        <img src="img/icon/icon-usage-detail.png" alt=""
                            style="display: block;width: 50px;margin: auto">
                        <span>设备使用明细</span>
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>