<!-- <ion-view>
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="goBack()">
			<img src="img/icon/icon-arrow_left.png"  style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
		</button>
		<h1 class="title bar-follower-font" >意见反馈</h1>
		<button class="button button-icon icon" ng-click="send()" ng-disabled="suggest.text.length<1">
			<img src="img/icon/icon-submit.png" alt="" style="max-width: 20px; padding-top: 6px;"/>
		</button>
	</ion-header-bar>
	<ion-content padding="true" class="has-header">
		<div class="spacer" style="height: 10px;"></div>
		<span>意见反馈</span>
		<textarea name="suggest_area" id="" cols="30" rows="10" style="width: 100%; border:1px solid silver;border-radius:10px; margin-top: 10px;padding: 10px;" ng-model="suggest.text"></textarea>
	</ion-content>
</ion-view> -->



<ion-view id="userMessagesView" cache-view="false">
	<ion-header-bar class="bar bar-header bar-follower">
		<back-btn></back-btn>
		<h1 class="title bar-follower-font">意见反馈</h1>
		<!-- <button class="button button-icon icon" ng-click="send()" ng-disabled="suggest.text.length<1">
			<img src="img/icon/icon-submit.png" alt="" style="max-width: 20px; padding-top: 6px;"/>
		</button> -->
	</ion-header-bar>
	<ion-content has-bouncing="true" class="has-header has-footer" style="background-color: #f3f4f5;position: absolute;bottom:305px;"
		delegate-handle="userMessageScroll" ng-click="hideFootView()">

		<!-- <ion-refresher pulling-text="下拉加载更多聊天记录(七天内).." on-refresh="loadMore()">
		</ion-refresher> -->

		<!-- <a compile="convertMsgtoHtml('你好啊http://192.168.1.65:8101/#/ta11/home')"></a> -->



		<div class="message-wrapper" ng-repeat="message in feedBackList track by $index ">

			<div style="width: 100%;float: left;padding-top:8px;" class="feedback-left" ng-if="message.msgType==1">
				<div class="feedback-time left" ng-if="message.timeLabel||$index==0">{{::message.timeLabel}}</div>
				<div style="background-color:#f3f4f5;border-width: 0px;width:100%;">
					<img class="feedback-pic left" src="img/icon/customer_service.png"
						ng-src="{{message.msgType==1?'img/icon/customer_service.png':message.userHead}}" />
					<div class="feedback-username left">{{::message.userName}}</div>
					<div class='feedback-message left' ng-if="message.contentType==0"
						compile="convertMsgtoHtml(message.textContent)"></div>
					<img ng-src="{{message.imgContent[0].url}}" class="feedback-message leftPic"
						ng-if="message.contentType==1" ng-click="viewImages( message.imageUrls, $index,$event)"
						on-img-cache />
				</div>
			</div>

			<div style="padding-top:16px; width: 100%;float: right;" class="feedback-right" ng-if="message.msgType==0">
				<div class="feedback-time right" ng-if="message.timeLabel||$index==0">{{::message.timeLabel}}</div>
				<div style="border-width: 0px;width:100%;">
					<img class="feedback-pic right" src="img/icon/person.png" ng-src="{{message.userHead}}" />
					<div class="feedback-message right" style="color: white;" ng-if="message.contentType==0"
						compile="convertMsgtoHtml(message.textContent)"></div>
					<img ng-src="{{message.imgContent[0].url}}" src="{{message.imgContent[0].thumb}}"
						class="feedback-message rightPic" ng-if="message.contentType==1"
						ng-click="viewImages( message.imageUrls, $index,$event)" on-img-cache />
				</div>
			</div>
		</div>
		<div class="item" ng-style="{'height':isShow?'105px':emotionShow?'200px':'20px'}"
			style="width: 100%;border-width: 0px;background-color:#f3f4f5;line-height: 20px; "></div>
	</ion-content>

	<form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate>
		<!-- <popup-key-board-show> -->
			<div id="inputId" class="bar bar-footer bar-light item-input-inset" 
				keyboard-attach resize-foot-bar style="padding-right: 3px;padding-left: 3px;width: 100%;">
				<div class="item item-input" style="padding: 0;position:relative;"
					ng-style="{'bottom':isShow?'95px':emotionShow?'0px':'0px','width': input.message.length>0?'calc(100% - 63px)':'calc(100% - 45px)'}">
					<textarea  id='suggestTextinput' name="chatInput"
						class="item-input chat-input" msd-elastic ng-model="input.message" placeholder="输入消息" required
						minlength="1" maxlength="1500"></textarea>
					<div class="buttons">
						<button style="color:#999;"
							class="chat-emotions-footer-btn button button-icon icon ion-happy-outline"
							ng-click="showEmotions($event)" type="button"></button>
					</div>
				</div>
				<div class="footer-btn-wrap" style="border-bottom-width: 0px;">
					<button class="button button-balanced feedback-footer-btn"
						ng-disabled="!input.message || input.message === ''" type="submit"
						style="margin-left: 18px !important;" ng-if="input.message.length > 0"
						ng-style="{'bottom':isShow?'95px':emotionShow?'0px':'0.5px'}">发送
					</button>
					<div style="background-color: white;position: absolute;width: 60px;height: 35px; padding-left: 5px!important;padding-top:2px;"
						ng-style="{'bottom':isShow?'95px':emotionShow?'0px':'0px'}">
						<button ng-if="!input.message || input.message === ''"
							class="button button-icon icon ion-android-image footer-btn " ng-click="selectImg()">
							<!-- <img src="img/image_add.png" width="30px;height:30px; " /> -->
						</button>
					</div>
				</div>

				<!-- <div class="feedback-foot" ng-if="isShow">
				<div class="row row-warp" style="padding: 15px;">
					<div style="width: 50px !important;margin-left: 1px;" ng-click="switchPhoto(1)">
						<div class="d-switch">
							<img class="img-switch" src="img/switch_photo.png">
						</div>
						<h6 style="font-size:1.0rem;margin-top: 0.6rem;margin-left: 6px;">相册</h6>
					</div>

					<div style="width: 50px;margin-left: 20px;" ng-click="switchPhoto(0)">
						<div class="d-switch">
							<img class="img-switch" src="img/switch_camera.png">
						</div>
						<h6 style="font-size:1.0rem;margin-top: 0.6rem;margin-left: 6px;">拍照</h6>
					</div>
				</div>
			</div>

			<emotion-picker ng-if="emotionShow" style="position: absolute;bottom:0px;width:100%;height:195px;background-color: #f3f4f5;"></emotion-picker> -->
			</div>
		<!-- </popup-key-board-show> -->
	</form>
</ion-view>