<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">直播详情</h1>
        <!-- <div style="width: 100%;height:100%;background-color: rgba(0, 0, 0, 0.5);position: absolute;left:0px;top:0px;">
        </div> -->
    </ion-header-bar>

    <!-- <a class="liveMenu"
        style="position: absolute;bottom: 30px;left: calc(50% - 90px); height:50px;width: 180px;border-radius: 25px;z-index: 9997; ">
        <div class="button" ng-click="editLive(1)"
            style="background: none;min-height: 30px;line-height:30px;height:30px;margin-top: 7px;margin-left: 18px;">
            <img src="img/edit_live.png" style="width: 26px;height: 26px;" />
        </div>
        <div class="button"
            style="min-width: 1px;width: 1px;min-height: 28px;line-height:28px;height:28px;background-color: #f3f4f6;padding: 0px;margin-left: 15px;margin-top: 11px;">
        </div>
        <div class="button" ng-disabled="status!=0" ng-click="editLive(2)"
            style="background: none;min-height: 30px;line-height:30px;height:30px;margin-top: 7px;margin-left: 10px;">
            <img src="img/delete_live.png" style="width: 26px;height: 26px;" />
        </div>
    </a> -->
    <ion-content>
        <div class="list">
            <div class="item" style="font-size: 18px;font-weight: 500;border: none;height: 50px;">
                {{details.title}}
            </div>
            <!-- <div ng-if="status===1"> -->
                <!-- <video   x5-video-player-fullscreen="true"  preload="auto"
                    autoplay="autoplay" style="width: 100%;margin:10px 0px;" controls>
                    <source ng-src="{{mobLiveUrl}}" type="application/x-mpegURL" />
                </video> -->
                <div  class="prism-player" id="J_prismPlayer" ></div>
            <!-- </div> -->


            <div ng-if="status!==1" style="width: 100%;margin:10px 0px;height: 188px;background-color: #444;">
                <div style="color: white;font-size: 22px;height:28px;text-align: center;padding-top: 80px;">
                    {{status===0?"直播未开始":"直播已结束"}}</div>
            </div>

            <div style="margin-top: 5px;border: none;" class="item">
                <div style="font-size: 15px;color: #999;">
                    <span>{{details.liveDay}}</span>
                    <span
                        style="margin-left: 10px;">{{details.startTime.substr(0,5)}}-{{details.endTime.substr(0,5)}}</span>
                </div>
                <div style="color: #333;font-size: 16px;margin-top: 7px;">
                    <span>{{schoolName}}</span>
                    <span style="margin-left: 10px;">{{details.speaker}}</span>
                </div>
                <div ng-if="details.islookBack===1"
                    style="color:#444;background-color: #ddd;width: 90px;height: 30px;line-height:30px;border-radius: 15px;margin-top: 15px;font-size: 15px;min-height: 30px;text-align: center;">
                    支持回看
                </div>

            </div>
            <div ng-if="status===2" style="width: 100%;height:calc(100% + 64px);margin-top: 30px;">
                <!-- <div
                    style="color:#454545;font-size: 20px;font-weight: 500;margin-top: 30px;width: 100%;text-align: center;">
                    直播已结束</div> -->
                <div ng-click="readReview()" class="button"
                    style="border-radius: 20px;height: 40px;line-height: 40px;min-height: 40px;width: 180px;margin-left: calc(50% - 90px);margin-top: 12px;border:2px solid rgb(249, 155, 29);color:rgb(249, 155, 29);background:none;font-size: 17px;font-weight: 500;">
                    查看回放</div>
            </div>

            <div class="liveMenu"
                style="margin-top: 40px; margin-left: calc(50% - 90px); height:50px;width: 180px;border-radius: 25px;z-index: 9997; ">
                <div class="button" ng-click="editLive(1)"
                    style="background: none;min-height: 30px;line-height:30px;height:30px;margin-top: 7px;margin-left: 18px;">
                    <img src="img/edit_live.png" style="width: 26px;height: 26px;" />
                </div>
                <div class="button"
                    style="min-width: 1px;width: 1px;min-height: 28px;line-height:28px;height:28px;background-color: #f3f4f6;padding: 0px;margin-left: 15px;margin-top: 11px;">
                </div>
                <div class="button" ng-disabled="status!=0" ng-click="editLive(2)"
                    style="background: none;min-height: 30px;line-height:30px;height:30px;margin-top: 7px;margin-left: 10px;">
                    <img src="img/delete_live.png" style="width: 26px;height: 26px;" />
                </div>
            </div>

        </div>

        <div style="height: 40px;width: 100%;"></div>

    </ion-content>





</ion-view>