<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <button class="button button-icon icon " ng-click="hidePlaybackModal()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;"
                alt="" />
        </button>
        <h1 class="title bar-follower-font">查看回放</h1>
    </ion-header-bar>

    <ion-content >
        <div class="list">
            <div class="item" style="font-size: 18px;font-weight: 500;border: none;height: 50px;">
                {{details.title}}
            </div>
            <video id="myVideo"  preload="auto" autoplay="autoplay" style="width: 100%;margin:10px 0px;" controls>
                <source ng-src="{{mobLookbackUrl}}" type="video/mp4" />
            </video>

            <div style="margin-top: 5px;border: none;" class="item">
                <div style="font-size: 15px;color: #999;">
                    <span>{{details.liveDay}}</span>
                    <span style="margin-left: 10px;">{{details.startTime.substr(0,5)}}-{{details.endTime.substr(0,5)}}</span>
                </div>
                <div style="color: #333;font-size: 16px;margin-top: 7px;">
                    <span>{{schoolName}}</span>
                    <span style="margin-left: 10px;">{{details.speaker}}</span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>