<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar bar-header bar-follower">
        <button class="button button-icon icon " ng-click="goBack()">
            <img src="img/icon/icon-arrow_left.png" class="header-icon" alt=""/>
        </button>
        <h1 class="title bar-follower-font">{{areaName}}设备分布</h1>
    </ion-header-bar>

    <ion-content class="has-header">

        <div ng-style="{height: chartHeight+ 'px'}" id="bar-chart"></div>

        <div ng-if="areas.length==0" class="empty-list-tip" style="margin-top: 5%;margin-bottom: 5%">
            <img src="img/empty_content.png">
            <p>暂无数据</p>
        </div>

        <p class="chart-remark" ng-if="areas.length!=0">注：<span ng-if="deep!=MAX">点击上图中横条，可查看下一级区域的分布情况；</span>统计值是设备总数，没有设备的区域或学校不显示在列表中</p>

    </ion-content>
</ion-view>
