<ion-view cache-view="false" hide-nav-bar="true">
	<ion-header-bar class="bar bar-header bar-follower">
		<h1 class="title bar-follower-font">登录</h1>
	</ion-header-bar>
	<ion-content scroll="true" padding="false" class="has-header" ng-click="hideKeyBoard()">
		<div class="spacer" style="height: 15px;"></div>
		<img src="img/logo.png" class="login_logo">

		<form name="loginForm" class="list " ng-submit="login()" novalidate style="margin: 40px 10% 0 10%">

			<label class="item item-input login_input_frame">
				<span class="login_input_label">账号</span>
				<input name="input_user" type="text" placeholder="请输入您的账号" class="login_input"
					   ng-model="loginModel.username"
					   maxlength="15" required ng-class="isIOS?'input_ios_placeholder':''">
			</label>
			<div class="spacer" style="height: 20px;"></div>
			<label class="item item-input login_input_frame">
				<span class="login_input_label">密码</span>
				<input name="input_pwd" type="password" placeholder="请输入您的密码" class="login_input"
					   ng-model="loginModel.password"
					   maxlength="32" required ng-pattern="/^[a-zA-Z0-9]+$/"
					   ng-class="isIOS?'input_ios_placeholder':''">
			</label>

			<div class="spacer" style="height: 20px;"></div>
			<button id="login-button" class=" button button-block" type="submit">登录</button>
		</form>

		<!-- <div class="button-positive" ng-click="test()"> test</div> -->
	</ion-content>
</ion-view>
