body {
font-family: '微软雅黑'!important;
}
#main.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before{
    background:#2bcab2;
    border-color:#2bcab2;
}
.tab-item{
    opacity: 1.0 !important;
}

.list-title-set{
 font-size:17px;
 color:#333;
}
.list-content-set{
    font-size:15px;
    color:#666;
}
.list-date-set{
    font-size:small;
    color:#999;
}


::-webkit-scrollbar {
    width: 0; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
}

.header-icon {
    max-width: 25px;
    max-height: 25px;
    padding-top: 7px;
    margin-bottom: 7px;
}

.btn-follower {
    background-color: #2bcab2;
    color: white;
}

.btn-follower:hover {
    color: white;
    text-decoration: none;
}

.tabs-striped .tab-item.activated, .tabs-striped .tab-item.active, .tabs-striped .tab-item.tab-item-active {
    border-color: #2bcab2;;
}

.intro_page {
    height: 100%;
    text-align: center;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

.xView-grey {
    background: rgb(243, 245, 244);
}

/* guide pages */
#intro_page1 {
    background: url('../img/guide1.jpg') no-repeat center center fixed;
}

#intro_page2 {
    background: url('../img/guide2.jpg');
}

#intro_page3 {
    background: url('../img/guide3.jpg');
}

#intro_page4 {
    background: url('../img/guide4.jpg');
}

#intro_img_final {
    margin-top: 20%;
    height: 30% !important;
    max-height: 30% !important;
}

#intro_img_final_txt {
    height: 4% !important;
    max-height: 4% !important;
}

/* header bar */

.bar-follower {
    top: 0 !important;
    background-color: #2bcab2;
}

.btn-enroll {
    border: 1px solid #ccc;
    color: #fff !important;
}

.bar {
    background-image: none;
}

.no-border-radius {
    border-radius: 0 0 0 0 !important;
    border-left: 0;
    border-right: 0;
}

/*content*/
.bar-follower-font {
    color: #fff;
    font-size: 18px !important;
    left: 80px !important;
    right: 80px !important;
}

.ion-ios-arrow-right {
    color: rgb(150, 150, 150);
    font-size: 16px !important;
}

.item {
    border-radius: 5px;
    font-size: 15px;
}

.out {
    color: #4e4d4d;
    border: 1px solid #d5d5d5;
    background: none;
}

/* tab icon */

.tab-item i.icon {
    margin-top: 3px;
}

.notice-on {
    background: url(../img/icon/home1.png) no-repeat center top;
    background-size: 25px 23px;
    height: 25px !important;
}

.notice-off {
    background: url(../img/icon/home.png) no-repeat center top;
    background-size: 25px 23px;
    height: 25px !important;
}

.communicate-on {
    background: url(../img/icon/contact1.png) no-repeat center top;
    background-size: 27px 23px;
    height: 25px !important;
}

.communicate-off {
    background: url(../img/icon/contact.png) no-repeat center top;
    background-size: 27px 23px;
    height: 25px !important;
}

.school-on {
    background: url(../img/icon/school1.png) no-repeat center top;
    background-size: 24px 23px;
    height: 25px !important;
}

.school-off {
    background: url(../img/icon/school.png) no-repeat center top;
    background-size: 24px 23px;
    height: 25px !important;
}

.setting-on {
    background: url(../img/icon/settings1.png) no-repeat center top;
    background-size: 25px 23px;
    height: 25px !important;
}

.setting-off {
    background: url(../img/icon/settings.png) no-repeat center top;
    background-size: 25px 23px;
    height: 25px !important;
}

.general-on {
    background: url(../img/icon/edit-graph-report-g.png) no-repeat center top;
    background-size: 25px 23px;
    height: 25px !important;
}

.general-off {
    background: url(../img/icon/edit-graph-report.png) no-repeat center top;
    background-size: 25px 23px;
    height: 25px !important;
}

.usage-on {
    background: url(../img/icon/use_on.png) no-repeat center top;
    background-size: 25px 23px;
    height: 25px !important;
}

.usage-off {
    background: url(../img/icon/use.png) no-repeat center top;
    background-size: 25px 23px;
    height: 25px !important;
}
.assets-on{
    background: url(../img/icon/assets_on.png) no-repeat center top;
    background-size: 25px 23px;
    height: 25px !important;  
}
.assets-off{
    background: url(../img/icon/assets_off.png) no-repeat center top;
    background-size: 25px 23px;
    height: 25px !important;
}

/* login page */
.login_logo {
    height: 128px;
    display: block;
    margin: auto;
}

.login_input_frame {
    border: 1px solid silver;
    border-radius: 10px !important;
    height: 40px !important;
}

.login_input_label {
    display: table;
    padding: 7px 10px 7px 0px;
    max-width: 200px;
    width: 20%;
    color: #2bcab2;
    font-size: 16px;
}

.login_input {
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.input_ios_placeholder {
    line-height: 22px !important;
    padding-top: 4px !important;
}

#login-button {
    height: 40px !important;
    min-height: 40px !important;
    color: #fff;
    border-radius: 25px;
    background-color: #2bcab2;
}

/*footer*/
.tabs-striped.tabs-stable .tabs {
    border-top: 1px solid #d5d5d5 !important;
    background: #fcfcfc;
}

.tabs-striped .tabs {
    border-top: 1px solid #d5d5d5 !important;
}

.tabs-striped.tabs-stable .tab-item.tab-item-active,
.tabs-striped.tabs-stable .tab-item.active,
.tabs-striped.tabs-stable .tab-item.activated {
    border: none;
    color: #2bcab2 !important;
    margin-top: 0;;
}

/* icon */
.icon-submit {
    max-width: 27px;
    max-height: 17px;
    background: url(../img/icon/icon-submit.png) no-repeat center top;
    padding: 0 20px 0 20px !important;
    margin-top: 3px;
}

.icon-arrow-left {
    background: url(../img/icon/icon-arrow_left.png) no-repeat center top;
    padding: 0 20px 0 20px !important;
    margin-top: 3px;
}

.icon-edit {
    background: url(../img/icon/icon-edit.png) no-repeat center top;
    padding: 0 10px 0 10px !important;
    margin-top: 3px;
}

.icon-folder {
    background: url(../img/icon/icon-folder.png) no-repeat center top;
    padding: 0 20px 0 15px !important;
    margin-top: 3px;
}

/* school page buttons */
.tab-button-yellow {
    color: #fff;
    border-radius: 10px;
    background: #f8b551;
    border: 1px solid #fff;
    font-size: small;
}

.jdt {
    background: #f8b551;
    font-size: 14px;
}

.zd {
    background: #2bcab2;
    font-size: 14px;
}

.theme-btn {
    color: #2bcab2;
    font-size: 14px;
    margin-bottom: -8px;
}

.qxsc {
    background: #ef473a;
    font-size: 14px;
}

.item-thumbnail-left {
    min-height: 80px;
    padding-left: 90px;
}

.item-thumbnail-left .item-content {
    padding-left: 80px;
    min-height: 80px;
}

.item-complex .item-content {
    padding-right: 10px;
}

/* communication page buttons */
.tab-button {
    color: #fff;
    border-radius: 10px;
    background: #2bcab2;
    border: 1px solid #fff;
    min-width: 80px !important;
    font-size: 15px !important;
}

.btn {
    background: #ffffff;
}

.btn:hover {
    background: #f8b551;
    color: #ffffff;
}

.btn.active, .btn.activated {
    background: #f8b551;
    color: #ffffff;
}

.activated_btn_orange {
    background: #f8b551;
    color: #ffffff;
}

.tab-button:hover {
    background: #ffffff;
    color: #2bcab2;
}

.tab-button.active, .tab-button.activated {
    background: #ffffff;
    color: #2bcab2;
}

.activated_btn_green {
    background: #ffffff;
    color: #2bcab2;
}

/*notice*/
.box-border {
    border-radius: 0;
}

.box-border img {
    max-width: 60px !important;
    max-height: 60px !important;
}

.box-border p {
    color: #828282;
}

.date-label {
    margin-right: 5px;
    font-size: x-small;
    position: absolute;
    right: 5px;
    bottom: 7px;

    color: grey;
}
.main-date-label{
    margin-right: 5px;
    font-size: x-small;
    top:45px;
    margin-top: 6px;
    color: #999;
}

.list-button {
    height: 30px !important;
    min-height: 30px !important;
    line-height: 0px !important;
    color: #fff;
    border-radius: 5px;
    float: right;
}

.date-label-top {
    margin-right: 5px;
    font-size: small;
    position: absolute;
    right: 5px;
    top: 16px;
    color: grey;
}

.author-label-below-date {
    margin-right: 5px;
    font-size: small;
    position: absolute;
    right: 5px;
    top: 36px;
    color: grey;
}

.school-news-type-btn {
    min-height: 20px;
    line-height: 20px;
    padding: 0 2px;
    font-size: 14px;
    border-radius: 8px;
}

.half-full {
    width: 50%;
}

/*about*/
.address {
    background: none;
}

/*user*/
.popup-container .popup {
    border-radius: 5px;
}

/* profile */
.input {
    padding: 5px 20px 5px 5px;
    margin: 0;
    border: 1px solid #beceeb;
    border-radius: 3px;
}

.clear {
    display: none;
    position: absolute;
    margin: 6px 0 0 -28px;
    background: url(../img/icon/close.png);
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
}

.input::-ms-clear {
    display: none;
}

.input:valid + .clear {
    display: inline;
}

/*news_detail*/
.text-title {
    padding: 5px;
    text-align: left;
    font-size: 17px;
    position: relative;
    color:#333;

}

.text-main {
    font-size: 16px;
    color: #666;
    /* text-indent: 34px; */
    line-height: 25px;
}
.short-text-main{
     font-size: 16px;
    color: #666;
    line-height: 25px;
    margin-top:8px;
}


.text-attach {
    padding-left: 5px;
    font-size: 14px;
    color: #999;
}

.text-body {
    border-bottom: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
}

.text-body img {
    max-width: 100%;
}

/* auto */
.platform-ios .manual-ios-statusbar-padding {
    padding-top: 20px;
}

.manual-remove-top-padding {
    padding-top: 0px;
}

.manual-remove-top-padding .scroll {
    padding-top: 0px !important;
}

ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
    margin-left: -10px;
    margin-right: -10px;
}

ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
}

/* float button style */
.float-button {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 3px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    background-color: #2bcab2 !important;
    color: white !important;
    border:none;
}

.float-text {
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-radius: 5%;
    padding: 10px;
    position: fixed;
    bottom: 15px;
    right: 80px;
    z-index: 9999;
    background-color: #33cd5f;
    color: #ffffff;
}

.selectedItem {
    border: 2px solid #33cd5f;
    font-weight: bold;
}

/* view large image */
.zoom-pane {
    width: 100% !important;
    height: 100% !important;
}

.zoom-pane .scroll {
    min-height: 100% !important;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.zoom-pane img {
    width: 100% !important;
    vertical-align: middle !important;
}

.image-modal {
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    background: black !important;
}

.swiper-pagination-bullet {
    background: white;
}

.top-round-border {
    border-radius: 5px 5px 0 0;
}

.all-round-border {
    border-radius: 5px 5px 5px 5px;
}

.no-top-round-border {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.tabs-striped.tabs-stable .tab-item .badge {
    opacity: 1;
}

/* chat list*/
.badge-container {
    position: relative;
}

.chat_avatar {
    border-radius: 50%;
    max-height: 45px !important;
    max-width: 45px !important;
    min-height: 45px !important;
    min-width: 45px !important;
}

/* chat detail */
.bar-footer {
    overflow: visible !important;
}

.bar-footer textarea {
    resize: none;
    height: 25px;
}

#userMessagesView {
    background-color: #f3f4f5;
}

/* fixes an ios bug bear */
button.ion-android-send {
    padding-top: 2px;
}

/* add this to keep your footer buttons down
at the bottom as the textarea resizes */
.footer-btn-wrap {
    position: relative;
    height: 100%;
    width: 55px;
    top: 6px;
}

.footer-btn {
    position: absolute !important;
    bottom: 0;
}

img.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
}

img.profile-pic.left {
    left: 10px;
    top: 10px;
}

img.profile-pic.right {
    right: 10px;
    top: 10px;
}

span.name {

}

.ion-email {
    float: right;
    font-size: 32px;
    vertical-align: middle;
}

.message {
    font-size: 14px;
    min-width: 25px;
}

.bar.item-input-inset .item-input-wrapper input {
    width: 100% !important;
}

.message-wrapper {
    position: relative;
}

.message-wrapper:last-child {
    margin-bottom: 10px;
}

.chat-username {
    display: block;
    position: relative;
    vertical-align: top;
    max-width: 70%;
    font-size: 11px;
    color: gray;
}

.chat-username.left {
    margin: 5px 45px -9px 70px;
}

.chat-bubble {
    border-radius: 5px;
    display: inline-block;
    padding: 10px 10px;
    position: relative;
    vertical-align: top;
    max-width: 70%;
}

.chat-bubble:before {
    content: "\00a0";
    display: block;
    height: 15px;
    position: absolute;
    top: 11px;
    transform: rotate(45deg) skew(0deg);
    -moz-transform: rotate(45deg) skew(0deg);
    -ms-transform: rotate(45deg) skew(0deg);
    -o-transform: rotate(45deg) skew(0deg);
    -webkit-transform: rotate(45deg) skew(0deg);
    width: 15px;
}

.chat-bubble.left {
    background-color: #fff;
    float: left;
    margin: 10px 45px 5px 70px;
}

.chat-bubble.left:before {
    background-color: #fff;
    border-right: 0;
    border-top: 0;
    left: -7.8px;
}

.chat-bubble.right {
    background-color: #fff;
    border: 1px solid #01c476;
    float: right;
    margin: 10px 70px 5px 45px;
}

.chat-bubble.right:before {
    background-color: #fff;
    border: 1px solid #01c476;
    border-left: 0;
    border-bottom: 0;
    right: -7.8px;
}

.chat-bubble.right a.autolinker {
    color: #fff;
    font-weight: bold;
}

.user-messages-top-icon {
    font-size: 28px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
    right: 5px;
}

.chat-input {
    width: 85% !important;
    height: 35px;
    max-height: 100px;
    font-size: 16px;
}

.chat-emotions-footer-btn {
    position: absolute !important;
    bottom: -1px;
    right: 0;
}

.chat-emotions {
    width: 100%;
    height: 100px;
}

.bold {
    font-weight: bold;
}

.cf {
    clear: both !important;
}

a.autolinker {
    color: #3b88c3;
    text-decoration: none;
}

/* loading */
.loader-center {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.loader {
    font-size: 64px;
}

.one-line {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.multi-lines {
    white-space: normal !important;
}

.button-no-padding {
    border-radius: 0;
    min-width: 40px;
    font-size: 14px;
    padding: 0 0 !important;
    background: inherit;
}

.no_border_top {
    border-top: 0 !important;
}

.no_border_bottom {
    border-bottom: 0 !important;
}

.type_select {
    color: #ffffff;
    padding-left: 3px;
    border: 0;
    background: transparent;
    appearance: none;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari 和 Chrome */
}

.class_select {
    color: #ffffff;
    border: 0;
    font-size: 16px;
    background: transparent;
    appearance: none;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari 和 Chrome */
}

.class_select_in_input {
    color: #000000;
    border: 0;
    font-size: 16px;
    background: transparent;
    appearance: none;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari 和 Chrome */
}

.chat_group_bottom_line {
    border-bottom: 1px solid #dcdcdc !important;
    margin-bottom: 1px;
}

.button-goon {
    background: orange;
    color: white;
    width: 60%;
}

.chat-input::-webkit-input-placeholder {
    padding-top: 3px;
}

.chat-input:-moz-placeholder { /* Firefox 18- */
    padding-top: 3px;
}

.chat-input::-moz-placeholder { /* Firefox 19+ */
    padding-top: 3px;
}

.chat-input:-ms-input-placeholder {
    padding-top: 3px;
}

.people-select-triangle-close {
    float: left;
    height: 10px;
    width: 7px;
    margin-right: 5px;
    margin-top: 4px;
}

.people-select-triangle-open {
    float: left;
    height: 7px;
    width: 10px;
    margin-right: 5px;
    margin-top: 4px;
}

.platform-android .popover.popover-bottom {
    margin-top: -10px;
}

.bar-button-hide {
    visibility: hidden;
    cursor: default;
}

.flex-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.pointer_events_positive {
    color: #2bcab2 !important;
    font-size: 22px;
}

.pointer_events_none {
    pointer-events: none;
    color: #aaaaaa !important;
    font-size: 22px;
}

.color-success-vertical {
    background: -webkit-linear-gradient(top, #2bcab2, #05f69e);
    background: -o-linear-gradient(bottom, #2bcab2, #05f69e);
    background: -moz-linear-gradient(bottom, #2bcab2, #05f69e);
    background: linear-gradient(to bottom, #2bcab2, #05f69e);
}

.color-success {
    background: -webkit-linear-gradient(left, #2bcab2, #05f69e);
    background: -o-linear-gradient(right, #2bcab2, #05f69e);
    background: -moz-linear-gradient(right, #2bcab2, #05f69e);
    background: linear-gradient(to right, #2bcab2, #05f69e);
}

.color-fail {
    background: -webkit-linear-gradient(left, #fd8950, #fe4552);
    background: -o-linear-gradient(right, #fd8950, #fe4552);
    background: -moz-linear-gradient(right, #fd8950, #fe4552);
    background: linear-gradient(to right, #fd8950, #fe4552);
}

.setting-icon {
    top: 16px !important;
    height: 18px !important;
    width: 20px !important;
}

.checkbox-icon {
    height: 20px;
    width: 20px;
}

.checkbox-square .checkbox-icon:after, .checkbox-square input:after, .platform-android .checkbox-platform .checkbox-icon:after, .platform-android .checkbox-platform input:after {
    width: 10px;
    top: 15%;
}

.checkbox-icon:after {
    width: 10px;
    top: 30%;
}

.checkbox {
    left: 15px !important;
    margin-top: -18px !important;
}

.empty-list-tip {
    margin-top: 30%;
    display: block;
    text-align: center;
}

.empty-list-tip img {
    vertical-align: middle;
    width: 40%;
}

.empty-list-tip p {
    color: #666;
}

.pic-grid {
    overflow: hidden;
    height: 30vw;
    width: 30vw;
    max-width: 30vw;
    min-width: 30vw;
    padding: 2px;
}

.pic-grid img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/**/
#item-style {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#item-text {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.btn-type {
    font-size: small;
    line-height: normal;
    min-height: 30px;
    border-radius: 15px;
    border-color: #2bcab2 !important;
    color: #2bcab2 !important;
    margin: 8px 10px !important;
    background: none;
    padding: 2px 15px;
}

.btn-text_style {
    background: #2bcab2;
    color: #FFFFFF;
    font-size: small;
    line-height: normal;
    min-height: 30px;
    border-radius: 15px;
    margin: 8px 10px !important;
    padding: 2px 15px;
}

.btn-text_no_style {
    color: #FFFFFF;
    font-size: small;
    line-height: normal;
    min-height: 25px;
    border-radius: 15px;
    padding: 2px 15px;
}

.btn-text_style:hover {
    color: #FFFFFF;
    background: #2bcab2;
}

.tab-btn:first-child {
    border-radius: 16px 0 0 16px !important;
}

.tab-btn:last-child {
    border-radius: 0 16px 16px 0 !important;
}

#item-search {
    padding-bottom: 0px;
    border-radius: 21px !important;
    background: rgb(243, 245, 244);
}

#search-icon {
    color: #2bcab2;
}

.btn-type-positive {
    font-size: small;
    line-height: normal;
    min-height: 25px;
    border-radius: 15px;
    border-color: #0d73fe !important;
    color: #0d73fe !important;
    margin: 8px 10px !important;
    background: none;
    padding: 0 10px;
}

.btn-text_style-positive {
    background: #0d73fe;
    color: #FFFFFF;
    font-size: small;
    line-height: normal;
    min-height: 25px;
    border-radius: 15px;
    margin: 8px 10px !important;
    padding: 0 10px;
}

.btn-white {
    font-weight: 800;
    font-size: small;
    line-height: normal;
    min-height: 30px;
    border-radius: 15px;
    border-color: #fff;
    color: #fff;
    background: none;

    /* padding: 2px 15px; */
    padding-left: 4px;
    padding-right: 4px;
}

.btn-white:hover {
    color: #FFFFFF;
    background: #2bcab2;
}

.main-row {
    margin-top: 0 !important;
    background-color: #ffffff;
    padding: 0;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.main-item-title {
    border-top: 0;
    background-color: #ffffff !important;
    padding: 10px 20px;
}
.main-item-vote{
    border-top: 0;
    background-color: #ffffff !important;
    padding: 0px 20px;
    background-image: url('../img/main/vote.jpg');
    background-size: cover;
    height: 53px;
    line-height: 53px;
}

.text-style-btn {
    margin: 10px 0;
}

.text-style-btn span {
    font-size: small;
    color: rgb(0, 98, 198);
}

.main-item {
    padding: 10px 15px;
}

.main-item h4 {
    color: #2bcab2;
}

.main-item span {
    font-size: small;
}

.color-orange {
    color: darkorange !important;
}

.color-positive {
    color: rgb(0, 98, 198) !important;
}

.color-xgenban {
    color: #2bcab2 !important;
}

.border-r {
    border-right: rgb(221, 221, 221) 1px solid;
}

.border-b {
    border-bottom: rgb(221, 221, 221) 1px solid;
}

.border-t {
    border-top: rgb(221, 221, 221) 1px solid;
}

.chart-remark {
    padding: 15px;
    border-top: 1px solid #bbb;
    color: #999;
}

.terminal-list-item {
    position: relative;
    padding: 5px;
    margin-top: 10px;
}

.terminal-list-item h5 {
    position: absolute;
    bottom: -10px;
    width: 95%;
    text-align: center;
    background-color: #dddddd;
    padding: 3px;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.terminal-list-item span {
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: center;
    background-color: #dddddd;
    padding: 3px;
    color: #666;
}

.terminal-online {
    background-color: #2ccc71 !important;
    color: white !important;
}

.notice-badge{
    position: relative !important;
	left:8px !important;
    height: 20px;
	min-width: 20px !important;
	font-size: 11px;
	border-radius: 50%;
	top: -1px !important;
    line-height: 20px;
    text-align: center;
    min-height: 18px;
    color: white;
    background-color: red;
    font-weight: 500;
    /* padding: auto auto;
    align-items:center; */

}
.title-badge{
    position: relative !important;
	left:14px !important;
	height: 20px;
    min-height: 18px;
	min-width: 20px;
	font-size: 11px;
	border-radius: 50%;
	top: -62px !important;
	line-height: 20px;
    text-align: center;
    padding: 0px 1px !important;

}


.icon-market {
    background: url(../img/main/main_market.png) no-repeat center top;
    background-size:25px 25px;
    padding: 10px !important;
    top: 12px !important;
    right: 12px !important;
}


.market-item {
    border: 0;
    border-top: solid 3px #f8b551;
    min-height: 130px !important;
    margin-top: 15px;
}

.market-item img{
    top: 25px !important;
}

.market-item h2{
    margin-top: 15px;
    margin-left: 20px;
}

.market-item p{
    margin-left: 20px;
    margin-top: 5px;
    white-space: normal;
}

.market-item span{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    border-bottom-left-radius: 10px;
    font-weight: bold;
}

.market-item .applied {
    color: #666;
    background-color: #ccc;
}

.market-item .apply {
    color: white;
    background-color: #f8b551;
}

.normal-bg {
    background: limegreen !important;
}

.warning-bg {
	background: orange !important;
}

.normal-color {
	color: limegreen !important;
}

.warning-color {
	color: orange !important;
}

.warning-count-item {
    float:left;
    width: 30px;
    height: 35px;
    background-color: orange;
    /*为了给after伪元素自动继承*/
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    padding: 8px;border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    word-break: break-all;
}

.warning-count-item::after {
    content: '';
    position: absolute;
    top: 0;
    right: -24px;
    width: 20px;
    height: 20px;
    border-width: 0 0 20px 20px;
    border-style: solid;
    border-bottom-color: inherit;
    /*自动继承父元素的border-bottom-color*/
    border-left-color: transparent;
    border-radius: 0 0 60px 0;
}

/** 通过对小正方形旋转45度解决 **/
.warning-count-item::before {
    content: '';
    position: absolute;
    left: 11px;
    bottom: -3px;
    width: 8px;
    height: 10px;
    margin-top: -10px;
    background: inherit;
    /*自动继承父元素的背景*/
    transform: rotate(45deg);
}