.timeline-event {
    margin-bottom: 0px !important;
}

/* timeline-badge.read {
    background-color: #a5a5a5 !important;
} */

timeline-badge {
    top: 25px !important;
    width: 24px !important;
    height: 24px !important;
    line-height: 24px!important;
    font-size: 1em !important;
    background-color: #FCFCFC !important;
    left: 52px !important;
    box-shadow: none !important;
}


.timeline:before {
    width: 1px !important;
    left: 65px !important;
    margin-top: 40px !important;
    /* background-color: white!important; */
    color: none !important;
    border-left:1px dashed #ddd!important;
}
#repair_timeline :before{
    background-color: white!important;
}

timeline-panel {
    width: calc(100% - 52px);
    float: left !important;
    margin-left: 72px !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    color: #2bcab2 !important;
}



timeline-panel:before {
    visibility: hidden !important;
}

timeline-panel:after {
    visibility: hidden !important;
    display: none !important;
}
.tm-title>button>img{
    display: none;
}
timeline-panel>div{
    width: 100% !important;
    padding-right:8px !important;
    margin-top: -5px;
}

/**  资产申请 */
#assets_badge{
    top: 24px !important;
    width: 8px !important;
    height: 8px !important;
    line-height: 8px!important;
    border-radius: 4px !important;
    font-size: 1em !important;
    /* background-color: #2bcab2 !important; */
    left: 101px !important;
    z-index: 100;
}

#assets_timeline .timeline:before{
    width: 1px !important;
    left: 105px !important;
    margin-top: 32px !important;
    background-color: white !important;
    border-left:1px solid #ddd;  
}
#assets_timeline_panel{
    width: calc(100% - 92px);
   float: left !important; 
   margin-left: 112px !important; 
   background: none !important;
   border: none !important;
   box-shadow: none !important; 
}
#assets_timeline_panel >div{
    width: 100% !important;
    margin-top: 12px !important;
    padding-right:8px !important;
}
/*** 审批管理 时间轴 */
.approval-time-label{
    position: relative;
    float: left;
    background: white;
}
.approval-timeline-badge{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    position: relative;
    left: 60px;
    float: left;
    margin-top: 16px;
}
.approval-timeline-content{

    background-color: white;
    min-height: 61px;
    padding: 10px;
    margin-left: 64px;
    width: calc(100% - 64px);
    border-left: 1px dashed #ddd;
    padding-left: 18px;
   padding-bottom: 15px;
}
.approval-timeline-content:before{
    border-left: 1px dashed #ddd;
}
/** 
资产扫码
*/
.myTimeLine{
    padding:0px 13px;
}
.myTimeLabel{
    position: relative;
    float: left;
    background: white;
    width:80px;
    margin-top: 30px;
}
.myTimeLineBadge{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    left: 5px;
    float: left;
   top:25px;
    border: 1.5px solid orange;
    text-align: center;
    color:orange;
    font-size:16px;
    font-weight: 500;
    padding-top:2px;
    background:white;
}
.myTimeLineContent{

    background-color: white;
    min-height: 61px;
    padding: 10px;
    margin-left: 100px;
    width: calc(100% - 113px);
    border-left: 1px solid #ddd;
    padding-left: 23px;
    padding-bottom: 15px;
}
.myTimeLineContent:before{
    border-left: 1px solid #ddd;
}




