<ion-view hide-nav-bar="true" class="xView-grey">
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">资产详情</h1>
    </ion-header-bar>


    <ion-content overflow-scroll="true" style="background:white;">
        <div class="row row-wrap"
            style="background-color: white;height:46px;position: relative;padding:0px; ">
            <div class="col col-50" style="text-align: center;padding-top:4px;padding-bottom:0px;height:46px;"
                ng-click="selectTypeClick(1)">
                <div style="font-size: 17px;margin-top: 6px;" ng-style="{'color':selectType==1?'orange':'#666'}">资产详情
                </div>
                <div ng-if="selectType==1"
                    style="background: orange;height:2px;width:calc(50% - 60px);position: absolute;left: 30px;bottom: 0px;">
                </div>
            </div>
            <div class="col col-50" style="text-align: center;padding-top:4px;" ng-click="selectTypeClick(2)">
                <div style="font-size:17px;margin-top: 6px;" ng-style="{'color':selectType==2?'orange':'#666'}">流转明细
                </div>
                <div ng-if="selectType==2"
                    style="background: orange;height:2px;width:calc(50% - 60px);position: absolute;right: 30px;bottom: 0px;">
                </div>
            </div>
        </div>
        <div style="width:100%;height:10px;background:#f3f4f6;"></div>
        <ion-list ng-if="selectType==1">
            <div class="item"
                style="border:none;height:45px;font-size:16px;margin:0px;border-bottom:1px solid #ddd;padding:10px 13px;">
                <div style="color:#666;float: left;max-width:100px;">资产ID</div>
                <div style="color:#333;float:right;">A12919391399412</div>
            </div>

            <div class="item"
                style="border:none;height:45px;font-size:16px;margin:0px;border-bottom:1px solid #ddd;padding:10px 13px;">
                <div style="color:#666;float: left;max-width:100px;">资产类别</div>
                <div style="color:#333;float:right;">教学一体机</div>
            </div>

            <div class="item"
                style="border:none;height:45px;font-size:16px;margin:0px;border-bottom:1px solid #ddd;padding:10px 13px;">
                <div style="color:#666;float: left;max-width:100px;">资产名称</div>
                <div style="color:#333;float:right;">中电86寸一体机</div>
            </div>

            <div class="item"
                style="border:none;height:45px;font-size:16px;margin:0px;border-bottom:1px solid #ddd;padding:10px 13px;">
                <div style="color:#666;float: left;max-width:100px;">增加方式</div>
                <div style="color:#333;float:right;">上级发放</div>
            </div>

            <div class="item"
                style="border:none;height:45px;font-size:16px;margin:0px;border-bottom:1px solid #ddd;padding:10px 13px;">
                <div style="color:#666;float: left;max-width:100px;">型号</div>
                <div
                    style="color:#333;float:right;max-width: calc(100% - 120px);white-space: nowrap;overflow: hidden;text-overflow : ellipsis;">
                    Au9999999999999999999</div>
            </div>

            <div class="item"
                style="border:none;height:45px;font-size:16px;margin:0px;border-bottom:1px solid #ddd;padding:10px 13px;">
                <div style="color:#666;float: left;max-width:100px;">资产单价</div>
                <div style="color:#333;float:right;">10000元</div>
            </div>

            <div class="item"
                style="border:none;height:45px;font-size:16px;margin:0px;border-bottom:1px solid #ddd;padding:10px 13px;">
                <div style="color:#666;float: left;max-width:100px;">供货商</div>
                <div
                    style="color:#333;float:right;max-width: calc(100% - 120px);white-space: nowrap;overflow: hidden;text-overflow : ellipsis;">
                    深圳中电数码显示有限公司</div>
            </div>
            <div class="item"
                style="border:none;height:45px;font-size:16px;margin:0px;border-bottom:1px solid #ddd;padding:10px 13px;">
                <div style="color:#666;float: left;max-width:100px;">生产日期</div>
                <div style="color:#333;float:right;">2019-10-21</div>
            </div>

            <div class="item"
                style="border:none;height:45px;font-size:16px;margin:0px;border-bottom:1px solid #ddd;padding:10px 13px;">
                <div style="color:#666;float: left;max-width:100px;">入库日期</div>
                <div style="color:#333;float:right;">2019-10-21</div>
            </div>

            <div class="item"
                style="border:none;height:45px;font-size:16px;margin:0px;border-bottom:1px solid #ddd;padding:10px 13px;">
                <div style="color:#666;float: left;max-width:100px;">存放地点</div>
                <div
                    style="color:#333;float:right;max-width: calc(100% - 120px);white-space: nowrap;overflow: hidden;text-overflow : ellipsis;">
                    仓库</div>
            </div>

            <div class="item"
                style="border:none;height:45px;font-size:16px;margin:0px;border-bottom:1px solid #ddd;padding:10px 13px;">
                <div style="color:#666;float: left;max-width:100px;">状态</div>
                <div style="color:#333;float:right;">在库</div>
            </div>

            <div class="item"
                style="border:none;height:45px;font-size:16px;margin:0px;border-bottom:1px solid #ddd;padding:10px 13px;">
                <div style="color:#666;float: left;max-width:100px;">使用部门</div>
                <div style="color:#333;float:right;">DT</div>
            </div>

            <div class="item"
                style="border:none;height:45px;font-size:16px;margin:0px;border-bottom:1px solid #ddd;padding:10px 13px;">
                <div style="color:#666;float: left;max-width:100px;">使用人</div>
                <div style="color:#333;float:right;">老师</div>
            </div>

            <div style="height:40px;width:100%;"></div>
        </ion-list>

        <ion-list ng-if="selectType==2">
            <div style="width:100%;height:20px;"></div>
           <div class="myTimeLine" ng-repeat="event in events track by $index">
               <div class="myTimeLabel" style="font-size: 14px;color:#666;">{{event.createTime}}</div>
               <div class="myTimeLineBadge">{{$index+1}}</div>
               <div class="myTimeLineContent">
                   <div  style="font-size: 16px;color:#333;">{{event.title}}</div>
                   <div style="font-size: 15px;color:#666;margin-top:7px;" ng-if="event.statue===0">
                    <span>登记人:</span>
                    <span style="color:orange;margin-left:5px;">{{event.resignMen}}</span></div>
                   <div style="font-size: 15px;color:#666;margin-top:7px;" ng-if="event.statue!==0">
                    <span>使用部门:</span>
                    <span style="color:#666;margin-left:5px;">{{event.usePart}}</span>
                    <span style="color:#666;font-size:15px;margin-left:15px;">使用人:</span>
                    <span style="color:#666;margin-left:5px;">{{event.useMan}}</span>
                </div>
                   <div style="color:#666;font-size:15px;margin-top:7px;">增加方式:<span style="margin-left:5px;">{{event.addType}}</span></div>
               </div>


           </div>
        </ion-list>
    </ion-content>
</ion-view>