<ion-view>
        <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
            <button class="button button-icon icon " ng-click="closeIdModal()">
                <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt="" />
            </button>
            <h1 class="title bar-follower-font">资产ID</h1>
        </ion-header-bar>
    
        <ion-content style="background-color: #F3F5F4;">
    
         <div class="item" ng-repeat="assetsId in assetsApplyIds">{{assetsId}}</div>
        </ion-content>
    
    </ion-view>