<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <button class="button button-icon icon " ng-click="goBack()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
        </button>
        <h1 class="title bar-follower-font">查看设备</h1>
    </ion-header-bar>
    <ion-content class="has-header">

        <div class="item item-input no-border-radius" ng-if="cityChoosable || areaChoosable">
            <div class="input-label" style="width: 15%">
                区域：
            </div>
            <select class="button btn-type" ng-model="selected.city" ng-options="item.id as item.areaName for item in cities" ng-change="onSelectionChange(true)" ng-if="cityChoosable" style="min-width: 91px;max-width: 110px;">
                <option value="" selected>选择市</option>
            </select>
            <select class="button btn-type" ng-model="selected.area" ng-options="item.id as item.areaName for item in areas" ng-change="onSelectionChange()" ng-if="cityChoosable || areaChoosable" style="min-width: 91px;max-width: 110px;">
                <option value="" selected>选择县区</option>
            </select>
        </div>
        <div class="item item-input no-border-radius" ng-if="!schoolAdmin">
            <div class="input-label" style="width: 15%">
                学校：
            </div>
            <select class="button btn-type" ng-model="selected.school" ng-options="item.id as item.schoolName for item in schools" ng-change="onSchoolSelected(true)" style="min-width: 220px;max-width: 220px;">
                <option value="" selected>选择学校</option>
            </select>
        </div>

        <ion-refresher
                pulling-text="下拉刷新..."
                on-refresh="onSchoolSelected(true)">
        </ion-refresher>

        <div class="row main-row no-border-radius">
            <div ng-repeat="item in list" class="col-50 terminal-list-item" style="text-align: center"
                 ng-click="goDetail(item.id)">
                <span ng-class="item.terminalStatus==1?'':'terminal-online'">{{item.terminalStatus==1?'离':'在'}}线</span>
                <img ng-src="{{item.thumbnail}}"  style="width: 100%;min-height:100px; "/>
                <h5 ng-class="item.terminalStatus==1?'':'terminal-online'">{{item.infoName}}</h5>
            </div>
        </div>

        <div ng-if="!selected.school" class="empty-list-tip" style="margin-top: 10%">
            <img src="img/select_school.png">
            <p style="margin-top: 10px;">选择学校后可查看设备明细</p>
        </div>

        <div ng-if="selected.school && list.length === 0" class="empty-list-tip" style="margin-top: 10%">
            <img src="img/empty_content.png">
            <p ng-if="!loading">暂无数据</p>
            <p ng-if="loading"><ion-spinner ng-if="loading" icon="spiral"></ion-spinner></p>
        </div>

        <ion-infinite-scroll
                spinner="spiral"
                ng-if="listHasMore"
                on-infinite="onSchoolSelected()"
                distance="10%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
