<ion-view hide-nav-bar="true" class="xView-grey">
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">资产扫码</h1>
    </ion-header-bar>
    <ion-content class="has-header">

        <div class="button" ng-click="goToDetail()"> 查看详情</div>
    </ion-content>
</ion-view>