<ion-view hide-nav-bar="true" cache-view="true" style="background-color: #FCFCFC;">
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">增加进度</h1>
        <button class="button button-icon " style="color: white;font-size: 15px;padding-top: 3px;" ng-click="confirm()"
            ng-disabled="repairProgressForm.$invalid">
            <!-- <img src="img/icon/icon-submit.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt="" /> -->
            确定
        </button>
    </ion-header-bar>

    <form name="repairProgressForm" novalidate>
        <ion-content style="margin:0px 12px;">
            <div style="margin-top: 1px;">

                <div
                    style="font-size: 16px;margin-top:6px;color: #616161;margin-top: 18px;width:38px;margin-left:15px;">
                    进度</div>
                <div class="row"
                    style="flex-wrap: wrap;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;width: 100%;margin-left:0px;padding:0px 5px!important;">
                    <div class="col-26" style="position:relative;margin-left: 0px;margin-top: 15px;text-align: center;"
                        ng-if="!isNotice">
                        <div class="button repair_statue"
                            ng-style="{'background-color':select.status==4?'#377EF5':'white','color':select.status==4?'white':'#377EF5'}"
                            ng-click="changeSelectStatus(4)">处理中</div>
                    </div>

                    <div class="col-26"
                        style="position:relative;margin-left: 15px;margin-top: 15px;text-align: center;">
                        <div class="button repair_statue" style="width:92px !important;"
                            ng-style="{'background-color':select.status==8?'#377EF5':'white','color':select.status==8?'white':'#377EF5'}"
                            ng-click="changeSelectStatus(8)">通知售后</div>
                    </div>

                    <div class="col-26"
                        style="position:relative;margin-left: 15px;margin-top: 15px;text-align: center;">
                        <div class="button repair_statue"
                            ng-style="{'background-color':select.status==closedNum?'#377EF5':'white','color':select.status==closedNum?'white':'#377EF5'}"
                            ng-click="changeSelectStatus(closedNum)">关闭</div>
                    </div>
                </div>
            </div>


            <div class="repair_vendor_list" ng-if="select.status==8">
                <select ng-disabled="isNotice||isAssociated" ng-if="manufacturersList&&manufacturersList.length > 0"
                    class="vendor_select" ng-style="{'color':select.manufacturersContactId?'#333':'#999'}"
                    ng-model="select.manufacturersContactId" ng-change="loadData()" ng-options="item.id as item.manufacturersName for item in manufacturersList" required>
                    <option value="" selected>请选择厂家</option>
                    <!-- <option style='display: none'></option>
                    <option ng-selected="item.id===select.manufacturersContactId" value={{item.id}}
                        ng-repeat="item in manufacturersList">{{item.manufacturersName}}</option> -->
                </select>
                <span style="font-size: small;padding-left: 1px;color:#666;" ng-if="manufacturersList&&manufacturersList.length > 0">▼</span>
                <!-- <div ng-if="manufacturersList.length > 0&&!select.manufacturersContactId"
                    style="color:#999;z-index:-1;position: relative;top:-22px;left:6px;font-size:16px;">请选择厂家</div> -->
                <span style="color:#999;margin-left:6px;" ng-if="!manufacturersList||manufacturersList.length === 0">暂无厂家</span>
            </div>


            <div class="repair_vendor_list" ng-if="select.status==8" >
                <select ng-disabled="isNotice||isAssociated" ng-if="saleMerbers&&saleMerbers.length > 0"
                    class="vendor_select" ng-style="{'color':select.saleMerberId?'#333':'#999'}"
                    ng-model="select.saleMerberId" ng-options="item.id as item.contactName for item in saleMerbers" ng-change="loadData2()" required>
                    <option value="" selected>请选择售后人员</option>
                    <!-- <option style='display: none'></option>
                    <option ng-selected="item.id===select.saleMerberId" value={{item.id}}
                        ng-repeat="item in saleMerbers">{{item.contactName}}</option> -->
                </select>
                <span style="font-size: small;padding-left: 1px;color:#666;" ng-if="saleMerbers&&saleMerbers.length > 0">▼</span>
                <!-- <div ng-if="saleMerbers.length > 0&&!select.saleMerberId"
                    style="color:#999;z-index:-1;position: relative;top:-22px;left:6px;font-size:16px;">请选择售后人员</div> -->
               <span style="color:#999;margin-left:6px;" ng-if="!saleMerbers||saleMerbers.length === 0">暂无售后人员</span>
            </div>

            <div style="border-radius: 10px;background-color:#F3F4F6; margin-top: 22px;">
                <textarea name="chatInput"
                    style="width:100%;height: 160px;padding: 8px 8px;background-color:#F3F4F6;font-size:16px;border-radius: 10px;"
                    placeholder="进度说明，必填" maxlength="300" required ng-model="select.content">
                </textarea>
            </div>

            <div class="item item-text-wrap" ng-if="select.status!=8"
                style="padding: 5px !important;border: 0px;margin-top: 14px;background-color:#FCFCFC;">
                <button class="button" ng-repeat="btn in progressStatues" style="color:white;"
                    ng-class="select.key==btn.key?'repair_btn_select':'repair_btn_normal'"
                    ng-click="select.content=select.content+btn.value;select.key=btn.key">
                    {{btn.value}}
                </button>
            </div>

        </ion-content>
    </form>



</ion-view>