<ion-view>
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <button class="button button-icon icon " ng-click="closeModal()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt="" />
        </button>
        <h1 class="title bar-follower-font">审核通过</h1>
    </ion-header-bar>
    <form name="passForm" novalidate>
        <ion-content style="background-color: #F3F5F4;">

            <div class="item" style="margin:13px 0px 0px 0px;font-size: 16px;border: none;height:50px;" ng-click="openModal(1)">
                <div style="color: #222;float: left;">资产类别</div>
                <div style="margin-left:78px;">{{assetsDetail.assetType.assetInfoName}}</div>
            </div>

            <div class="item" style="margin:0px 0px;font-size: 16px;height:50px;border-width:1px 0px 0px 0px;" ng-click="openModal(2)">
                <div style="color: #222;float: left;">资产名称</div>
                <div style="margin-left:78px;">{{assetsDetail.assetName.assetInfoName}}</div>
            </div>

            <div class="item " style="margin:0px 0px;font-size: 16px;height:50px;border-width:1px 0px 0px 0px;">
                <div style="color: #222;float: left;">申请数量</div>
                <div style="margin-left:78px;">{{assetsDetail.applyAmount}}</div>
            </div>

            <div class="item " style="margin:0px 0px;font-size: 16px;height:50px;border-width:1px 0px 0px 0px;">
                <div style="color: #222;float: left;">审批数量</div>
                <input placeholder="请输入" type='number' pattern="[0-9]*" style="float:right;text-align:right;font-size: 15px;border: none;height:24px;align-items: center;margin-right:10px;"
                    id="focusItem" ng-model="select.count" required />
            </div>

            <div class="item" style="margin:13px 0px;font-size: 16px;border: none;">
                <div style="color:#222;font-size: 16px;">审批意见</div>
                <textarea name="chatInput" style="width:100%;height: 100px;font-size:15px; padding: 7px 8px;background-color:#F3F4F6;border-radius: 8px;margin-top:15px;"
                    placeholder="必填,200字以内" maxlength="200" ng-model="select.content" required>
                    </textarea>
            </div>


            <div class="button" ng-click="applyPass()" style="width:calc(100% - 180px);margin-left: 90px;margin-top:45px;height: 40px;line-height: 40px;min-height: 40px;border-radius: 8px;font-size:17px;background-color:#2bcab2 ;color:white;font-weight: 500" ng-disabled="passForm.$invalid">确定</div>
        </ion-content>
    </form>
</ion-view>