<ion-view>
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">审批管理</h1>
    </ion-header-bar>

    <ion-content style="background-color: #F3F5F4;">
        <ion-row class="row row-wrap" style="font-size:1em;">
            <div style="height:30px;line-height:30px;min-width: 56px;text-align: center;margin-top: 5px;border-radius: 15px;"
                ng-style="{'color':!select.selectIndex2?'white':'#666','background-color':!select.selectIndex2?'orange':'none'}"
                ng-click="tab2Click('')">全部</div>
            <div style="height:30px;line-height:30px;min-width: 56px;text-align: center;margin-top: 5px;border-radius: 15px;"
                ng-style="{'color':select.selectIndex2==1?'white':'#666','background-color':select.selectIndex2==1?'orange':'none'}"
                ng-click="tab2Click(1)">通过</div>
            <div style="height:30px;line-height:30px;min-width: 60px;text-align: center;margin-top: 5px;border-radius: 15px;"
                ng-style="{'color':select.selectIndex2==3?'white':'#666','background-color':select.selectIndex2==3?'orange':'none'}"
                ng-click="tab2Click(3)">不通过</div>
            <div style="height:30px;line-height:30px;min-width: 60px;text-align: center;margin-top: 5px;border-radius: 15px;"
                ng-style="{'color':select.selectIndex2==2?'white':'#666','background-color':select.selectIndex2==2?'orange':'none'}"
                ng-click="tab2Click(2)">审批中</div>
        </ion-row>

        <ion-refresher pulling-text="下拉刷新..." on-refresh="refreshData()">
        </ion-refresher>
        <ion-list>
            <ion-item class="item" style="padding:10px 12px;border-radius: 5px;border: none;margin:10px;" ng-repeat="item in  recordList "
                ng-click="goToDetail(item.id)">
                <h2 style="white-space: nowrap;overflow: hidden;text-overflow : ellipsis;margin-top: 6px;margin-bottom: 6px;"
                    class="list-title-set">{{item.title}}&nbsp;</h2>
                <div style="width:100%; background-color:  #ddd;height: 1px;margin-top: 8px;"></div>
                <div style="font-size: small;color: #999;margin-top: 7px;">
                    <span style="color:#999;" ng-style="{'margin-left':'0px'}">{{item.submitTime.substr(0,16)}}</span>
                </div>
                <!-- 
                <div style="margin-top:7px;color:#666;" ng-if="select.selectIndex1!=0">
                    <span>申请人:</span>
                    <span style="color:orange;">刘松</span>
                </div> -->
                <div style="margin-top:7px;color:#666;">
                    <span>当前状态:</span>
                    <span>{{currentApprovalStatus(item.progress)}}</span>
                </div>

                <div style="margin-top:7px;color:#666;margin-bottom: 7px;overflow: hidden;white-space: nowrap;overflow: hidden;text-overflow : ellipsis;">
                    <span>正在进行的流程:</span>
                    <span>{{item.currUserName}}&nbsp;[{{currentApprovalStatus(item.progress)}}]</span>
                </div>

            </ion-item>
            <div class="empty-list-tip" ng-if="!recordList||recordList&&recordList.length==0|| filtered.length==0">
                <img src="img/empty_content.png">
                <p>暂无审批信息</p>
            </div>
        </ion-list>
        <ion-infinite-scroll ng-if="isMoreData" on-infinite="loadMore()" immediate-check="false" distance="0.5%"></ion-infinite-scroll>
        <div class="load_no_more" ng-if="!isMoreData&&recordList&&recordList.length>9"> 没有更多了</div>

    </ion-content>
</ion-view>