<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <!-- <button class="button button-icon icon " ng-click="closeProtocolModal()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;"
                alt="" />
        </button> -->
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">隐私政策</h1>
    </ion-header-bar>
    <ion-content style="padding: 15px;">
        <div style="font-size: 15px;color:#333;">
            <div style="text-indent: 30px;">
                本应用尊重并保护所有使用服务用户的个人隐私权。为了给您提供更准确、更有个性化的服务，本应用会按照本隐私权政策的规定使用和披露您的个人信息。但本应用将以高度的勤勉、审慎义务对待这些信息。除本隐私权政策另有规定外，在未征得您事先许可的情况下，本应用不会将这些信息对外披露或向第三方提供。本应用会不时更新本隐私权政策。 您在同意本应用服务使用协议之时，即视为您已经同意本隐私权政策全部内容。本隐私权政策属于本应用服务使用协议不可分割的一部分。
            </div>
            <div style="margin-top:10px;font-size:16px;font-weight: 500;"> 1.适用范围</div>
            <div> &nbsp;&nbsp;&nbsp;a)在您注册本应用帐号时，您根据本应用要求提供的个人注册信息；
            </div>
            <div> &nbsp;&nbsp;&nbsp;b)本应用收集到的您在本应用发布的有关信息数据，包括但不限于参与活动、成交信息及评价详情；
            </div>
            <div> &nbsp;&nbsp;&nbsp;c)违反法律规定或违反本应用规则行为及本应用已对您采取的措施。
            </div>
            <div style="margin-top:10px;font-size:16px;font-weight: 500;">2.信息的使用</div>
            <div>&nbsp;&nbsp;&nbsp;在您使用本软件相关服务时，本软件将会获得您以下信息：
            </div>
            <div>
                &nbsp;&nbsp;&nbsp;a)本应用不会向任何无关第三方提供、出售、出租、分享或交易您的个人信息，除非事先得到您的许可，或该第三方和本应用（含本应用关联公司）单独或共同为您提供服务，且在该服务结束后，其将被禁止访问包括其以前能够访问的所有这些资料。
            </div>
            <div>&nbsp;&nbsp;&nbsp;b)本应用亦不允许任何第三方以任何手段收集、编辑、出售或者无偿传播您的个人信息。任何本应用平台用户如从事上述活动，一经发现，本应用有权立即终止与该用户的服务协议。
            </div>
            <div>
                &nbsp;&nbsp;&nbsp;c)在您使用本软件注册服务时，我们会搜集您的班级ID、学籍号、姓名和家长手机号等信息，帮助我们完善学生档案信息并进行用户身份认证，我们将对您的这些隐私会加以最大程度的保护。如果您不提供这些信息，我们将无法提供相关服务。
            </div>
            <div>&nbsp;&nbsp;&nbsp;d)相册访问和摄像权限，当您使用本软件发布信息服务时，我们需要获得您设备的相册访问和摄像权限，以便您上传图片或视频，如果您拒绝提供这些权限，将无法使用上传图片或视频服务。
            </div>
            <div>&nbsp;&nbsp;&nbsp;e)在获得您的数据之后，本软件会将其上传至服务器，主要用于教学应用中做数据分析及呈现，以便您能够更好地使用服务。
            </div>
            <div style="margin-top:10px;font-size:16px;font-weight: 500;"> 3.信息披露</div>
            <div>&nbsp;&nbsp;&nbsp;在如下情况下，本应用将依据您的个人意愿或法律的规定全部或部分的披露您的个人信息：
            </div>
            <div> &nbsp;&nbsp;&nbsp;a)本软件不会将您的信息披露给不受信任的第三方。</div>
            <div> &nbsp;&nbsp;&nbsp;b)根据法律的有关规定，或者行政或司法机构的要求，向第三方或者行政、司法机构披露；</div>
            <div>&nbsp;&nbsp;&nbsp; c)如您出现违反中国有关法律、法规或者相关规则的情况，需要向第三方披露；</div>
            <div style="margin-top:10px;font-size:16px;font-weight: 500;"> 4.信息存储和交换</div>
                    <div>&nbsp;&nbsp;&nbsp;a)本软件收集的有关您的信息和资料将保存在本软件及（或）其关联公司的服务器上，这些信息和资料可能传送至您所在国家、地区或本软件收集信息和资料所在地的境外并在境外被访问、存储和展示。</div>    
            <div style="margin-top:10px;font-size:16px;font-weight: 500;"> 5.Cookie的使用</div>
                    <div>&nbsp;&nbsp;&nbsp;a)在您未拒绝接受cookies的情况下，本应用会在您的计算机上设定或取用cookies ，以便您能登录或使用依赖于cookies的本应用平台服务或功能。本应用使用cookies可为您提供更加周到的个性化服务，包括推广服务。</div>  
                    <div>&nbsp;&nbsp;&nbsp;b)您有权选择接受或拒绝接受cookies。您可以通过修改浏览器设置的方式拒绝接受cookies。但如果您选择拒绝接受cookies，则您可能无法登录或使用依赖于cookies的本应用网络服务或功能。</div>      
                    <div>&nbsp;&nbsp;&nbsp;c)通过本应用所设cookies所取得的有关信息，将适用本政策。</div>    
            <div style="margin-top:10px;font-size:16px;font-weight: 500;"> 6.信息安全</div>
            <div>
                &nbsp;&nbsp;&nbsp;a)本应用帐号均有安全保护功能，请妥善保管您的用户名及密码信息。本应用将通过对用户密码进行加密等安全措施确保您的信息不丢失，不被滥用和变造。尽管有前述安全措施，但同时也请您注意在信息网络上不存在“完善的安全措施”。
            </div>
            <div>
                &nbsp;&nbsp;&nbsp;b)在使用本软件网络服务进行网上交易时，您不可避免的要向交易对方或潜在的交易对方披露自己的个人信息，如联络方式或者邮政地址。请您妥善保护自己的个人信息，仅在必要的情形下向他人提供。如您发现自己的个人信息泄密，请您立即联系我们的电话：<a
                    ng-href="tel:400-100-8738">400-100-8738</a>，以便本软件采取相应措施。
            </div>
            <div style="margin-top:10px;font-size:16px;font-weight: 500;"> 7.信息注销</div>
            <div> &nbsp;&nbsp;&nbsp;a)如您确定不再使用本软件服务，想注销账户,请联系我们的电话：<a ng-href="tel:400-100-8738">400-100-8738</a>。
            </div>
            <!-- <div style="margin-top:10px;font-size:16px;font-weight: 500;"> 6.应用内相关SDK的使用情况介绍</div>
            <div> &nbsp;&nbsp;&nbsp;a)支付宝支付(AliPaySDK)，用于给app内的缴费功能提供支付宝支付，用于家长角色；</div>
            <div> &nbsp;&nbsp;&nbsp;b)微信支付(WeChatSDK):用于给app内的缴费功能提供微信支付，用于家长角色；</div>
            <div> &nbsp;&nbsp;&nbsp;c)腾讯直播SDK(TXLiveAVSDK)，用于app与终端设备之间的视频通讯，用于家长角色；</div>
            <div> &nbsp;&nbsp;&nbsp;d)友盟统计:用于统计用户对部分功能使用次数，例如登录、注册等，用于管理员、老师家长和角色；</div>
            <div> &nbsp;&nbsp;&nbsp;e)极光推送：用于app的消息推送，需要用户同意开启通知功能，用于管理员、老师和家长角色；</div> -->
    
            <div style="width: 100%;height: 40px;"></div>
        </div>

        <div style="width: 100%;height: 40px;"></div>
    </ion-content>
</ion-view>