<ion-view>
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="goBack()">
			<img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
		</button>
		<h1 class="title bar-follower-font">{{pageTitle}}</h1>
		<button class="button button-icon " ng-click="save()" ng-if="visibleArea === 'name'"
				ng-disabled="infoForm.$invalid">
			<img src="img/icon/icon-submit.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
		</button>
	</ion-header-bar>
	<form name="infoForm" novalidate>
		<ion-content class="has-header">

			<div ng-if="visibleArea === 'name'" style="padding: 5px;">
				<input name="input_name" class="input" style="width: 100%;height: 40px; border-color: #d5d5d5;" maxlength="10" required
					   ng-model="user.name" ng-pattern="/^[\u4E00-\u9FA5A-Za-z]+$/"/><a class="clear" style="margin-top: 12px;" ng-click="user.name='';"></a>
			</div>
			<style>
				.input-label {
					width: 45%;
				}
			</style>
			<div class="list" ng-if="visibleArea === 'password'">
				<label class="item item-input" style="border-radius:0;">
					<span class="input-label">当前密码</span>
					<input name="input_old_pwd" type="password" class="input" style="width: 100%" maxlength="32"
						   placeholder="请输入当前密码"
						   required ng-model="pwd._old"></a>
				</label>
				<label class="item item-input" style="border-radius: 0;">
					<span class="input-label">新密码</span>
					<input name="input_pwd" type="password" class="input" style="width: 100%" maxlength="32"
						   placeholder="请输入新密码"
						   required ng-model="pwd._new"></a>
				</label>
				<label class="item item-input"
					   style="border-radius:0;">
					<span class="input-label">重复输入新密码</span>
					<input name="input_pwd_confirm" type="password" class="input" style="width: 100%" maxlength="32"
						   placeholder="请再次输入新密码"
						   required ng-model="pwd._confirm"></a>
				</label>

				<div style="width: 100%;text-align: center;margin-top: 20px">
					<button class="button button-balanced" style="width: 70%;" ng-click="save()"
							ng-disabled="infoForm.$invalid">确定
					</button>
				</div>
			</div>

			<ion-list class="list" ng-if="visibleArea === 'children'">
				<p style="padding: 15px;" ng-if="user.student.length>1">请点击下方"<span style="color: #0c60ee;border: 0">选定</span>"以设置要查看的孩子信息</p>
				<ion-item class="item item-thumbnail-left item-avatar box-border" collection-repeat="child in user.student" style="position: relative">
					<img src="img/icon/person.png" ng-src="{{child.logo}}" >
					<h2>{{child.student_name}}</h2>
					<p>{{child.school.schoolName}}</p>
					<p>{{child.classno.className}}</p>

					<button class="button" ng-if="user.student.length>1" ng-click="setDefaultChild(child)" ng-class="defaultChildID!=child.id?'btn-text_style-positive':'btn-type-positive'" style="position: absolute;right: 0;top: 3px;">
						{{defaultChildID!=child.id?'选定':'已选定'}}
					</button>
					<button class="button btn-type" ng-click="selectImage(child)" style="position: absolute;right: 0;bottom: 3px;min-height: 25px;padding: 0 10px;">
						更改头像
					</button>
				</ion-item>

			</ion-list>

		</ion-content>
	</form>

</ion-view>
