<ion-view>
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="goBack()">
			<img src="img/icon/icon-arrow_left.png"  style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
		</button>
		<h1 class="title bar-follower-font" >完善信息</h1>
	</ion-header-bar>
	<ion-content padding="true" class="has-header">
		<div class="item" ng-click="selectImage() " >
			<span style="height:50px;line-height: 50px;">头像</span>
			<i style="margin-top: 15px;float: right" class="icon ion-ios-arrow-right"></i>
			<img ng-src="{{user.logo}}" style="width:60px; height:60px; border-radius:50%; overflow:hidden;display:inline-block; margin: auto 20px auto auto; float: right;"/>
		</div>

		<div class="item" style="border-bottom-left-radius: 0;border-bottom-right-radius: 0; margin-top: 20px;" ng-click="openEditView('name')">
			<span>姓名</span>
			<i style="float: right" class="icon ion-ios-arrow-right"></i>
			<span style="float: right;margin-right: 20px">{{user.name}}</span>
		</div>

		<label class="item item-input item-select" style="border-top-left-radius: 0;border-top-left-radius: 0;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;">
			<div class="input-label">
				性别
			</div>
			<select ng-model="user.sex" style=" appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; -webkit-appearance:none;" ng-change="onSexChange(user.sex)">
				<option selected value="MALE">男</option>
				<option value="FEMALE">女</option>
			</select>
		</label>


		<button class="button" style="margin: 25px 5% 0 5%;width: 90%;background:#fe6c68;color: #ffffff; " ng-click="openEditView('password')">
			修改密码
		</button>
	</ion-content>
</ion-view>
