<ion-view>
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">
            <select class="class_select" ng-model="selected.defaultRole"
                ng-options="item.key as item.value  for item in roleArray" ng-change="chooseRole()" required>
            </select>
            <span style="font-size: small;padding-left: 1px;">▼</span>
        </h1>
        <button class="button button-icon " ng-click="goIntroduce()"
            style="font-size: 15px;color: white;padding-top: 3px;">
            说明
        </button>
    </ion-header-bar>

    <ion-content style="background:#f3f4f6;" delegate-handle="mainScroll">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="refreshData()">
        </ion-refresher>
        <div style="background:white;height:45px;padding:15px;" ng-if="selected.defaultRole==2">
            <select style="margin-left:20px;text-align: right;" class="grade_select" ng-model="selected.gradeId"
                ng-options="item.id as item.name  for item in gradeList" ng-change="updateGrade()">
            </select>
            <span style="font-size: small;padding-left: 1px;color:#333;">▼</span>

            <select style="margin-left:40px;" class="grade_select" ng-model="selected.class_id"
                ng-options="item.id as item.name  for item in recordClassList" ng-change="updateClass()">
            </select>
            <span style="font-size: small;padding-left: 1px;color:#333;">▼</span>
        </div>
        <div style="background:white;height:62px;padding-top:10px;" >
            <div class="item item-input" id="item-search"
                style="margin-bottom: 5px;margin:0px 15px 15px 15px;background:white !important; ">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="{{selected.defaultRole==2?'搜索本班学生':'搜索本校老师'}}" ng-model="selected.add_search" maxlength="20"
                    class="input" /><img ng-if="selected.add_search.length>0" src="img/icon/close.png"
                    ng-click="selected.add_search='';" style="width: 16px;height: 16px;margin-right: 10px;" />
            </div>
        </div>
    
        <ion-list class="list" ng-if="selected.defaultRole==3">
            <div class="item" ng-repeat="item in filtered = (teacherList | filter: {userName: selected.add_search})"
                style="margin:10px;border-radius:5px !important;border:none;padding:0px;">
                <img src="img/icon/person.png" ng-src="{{item.userImgSrc?item.userImgSrc:item.userImgthumb}}"
                    style="width: 64px;height: 64px;margin:12px;float: left;object-fit: cover;"
                    ng-click="viewImages( item, $index,$event)" on-img-cache />
                <div style="float: left;margin-top: 18px;">
                    <h2>{{item.userName}}<span style="color:#666;font-weight:400;margin-left:5px;"></span></h2>
                    <div style="font-size:15px;margin-top:3px;"
                        ng-style="{'color':item.regcStatus===0?'#3C73CE':item.regcStatus===1?'orange':item.regcStatus===2?'#666':'red'}">
                        {{getTypeStr(item.regcStatus)}}</div>
                    <div ng-if="item.regcStatus===2" style="font-size:13px;color:#999;margin-top:1px;">
                        {{item.regcTime.substr(0,16)}}</div>
                </div>

                <div ng-if="item.regcStatus!=1" class="button button-clear"
                    ng-style="{'background':item.regcStatus===0?'#2bcab2':'orange'}"
                    style="font-size:14px;color:white;height:30px;border-radius: 15px;min-height:30px;line-height: 30px;position: absolute;top: calc(50% - 15px);right:10px;padding: 0px 10px;"
                    ng-click="selectImg(item)">
                    {{item.regcStatus===0?'立即采集':'重新采集'}}
                </div>
                <input type="file" accept="image/*" id="capture" name="file" class="mFileInput" style="display:none;"
                    onchange="angular.element(this).scope().getFiles(this.files)" />
            </div>

            <!-- <div ng-if="filtered&&filtered.length==0" style="display: block;padding: 5% 10%">
                <div ng-if="selected.defaultRole==3">• 未找到该教师</div>
            </div> -->
           
        </ion-list>

        <ion-list class="list" ng-if="selected.defaultRole==2">
            <div class="item" ng-repeat="item in filtered = (stuList | filter: {userName: selected.add_search})"
                style="margin:10px;border-radius:5px !important;border:none;padding:0px;">
                <img src="img/icon/person.png" ng-src="{{item.userImgSrc?item.userImgSrc:item.userImgthumb}}"
                    style="width: 64px;height: 64px;margin:12px;float: left;object-fit: cover;"
                    ng-click="viewImages( item, $index,$event)" on-img-cache />
                <div style="float: left;margin-top: 18px;">
                    <h2>{{item.userName}}<span style="color:#666;font-weight:400;margin-left:5px;"></span></h2>
                    <div style="font-size:15px;margin-top:3px;"
                        ng-style="{'color':item.regcStatus===0?'#3C73CE':item.regcStatus===1?'orange':item.regcStatus===2?'#666':'red'}">
                        {{getTypeStr(item.regcStatus)}}</div>
                    <div ng-if="item.regcStatus===2" style="font-size:13px;color:#999;margin-top:1px;">
                        {{item.regcTime.substr(0,16)}}</div>
                </div>

                <div ng-if="item.regcStatus!=1" class="button button-clear"
                    ng-style="{'background':item.regcStatus===0?'#2bcab2':'orange'}"
                    style="font-size:14px;color:white;height:30px;border-radius: 15px;min-height:30px;line-height: 30px;position: absolute;top: calc(50% - 15px);right:10px;padding: 0px 10px;"
                    ng-click="selectImg(item)">
                    {{item.regcStatus===0?'立即采集':'重新采集'}}
                </div>
                <input type="file" accept="image/*" id="capture" name="file" class="mFileInput" style="display:none;"
                    onchange="angular.element(this).scope().getFiles(this.files)" />
            </div>

            <div ng-if="filtered&&filtered.length==0" style="display: block;padding: 5% 10%">
                <div ng-if="selected.defaultRole==2">• 该班未找到该学生</div>
                <!-- <div ng-if="selected.defaultRole==3">• 未找到该教师</div> -->
            </div>
            <div ng-if="selected.defaultRole==2&&!stuList||stuList.length === 0" class="empty-list-tip"
                style="margin-top: 10%">
                <img src="img/empty_content.png">
                <p ng-if="!loading">该班暂无学生信息</p>
                <p ng-if="loading">
                    <ion-spinner ng-if="loading" icon="spiral"></ion-spinner>
                </p>
            </div>
        </ion-list>
    </ion-content>
</ion-view>