<div class="button" ng-click="resetClass()" style="height: 33px;line-height:33px;width: 60px;border-radius: 5px;background-color: #fff;color:#2bcab2;position: absolute;right: 14px;top: 7px;min-height: 33px;">重置</div>
<div  style="padding:0px;background-color: white;">
    <ion-scroll scrollX="false" scrollY="true" scrollbar-y="false" direction="y" class="list" ng-style="{'height':scrollHeight}" style="width: 85px;float: left;min-height: 330px;">
        <a class="item" ng-click="selectGrade(grade)" ng-repeat="grade in gradeList" ng-style="{'color':select.grade_id===grade.id?'#2bcab2':'#666','border-right':select.grade_id===grade.id?'solid #2bcab2 3px':'solid #ddd 1px'}" style="height:60px;border: none;border-bottom: 1px solid #ddd;margin: 0px !important;white-space: nowrap;overflow: hidden;font-size: 16px;font-size: 500;">
             {{grade.name}}
        </a>
        <div  style="height: 25px;border:none;margin:0px;border-right: 1px solid #ddd;"></div>
    </ion-scroll>

    <ion-scroll  scrollX="false" scrollY="true" scrollbar-y="false" class="list" ng-style="{'height':scrollHeight}" style="width: calc(100% - 85px);margin-left: 85px;margin-bottom: 15px;min-height: 330px;">
        <div class="row  row-wrap" style="padding:3px;">
            <div ng-repeat = "item in classList" ng-click="selectClass(item)"  ng-style="{'background':select.class_id===item.id?'#2bcab2':'#eee','color':select.class_id===item.id?'white':'#666'}" style="width: 85px;height: 40px;line-height: 40px;border-radius: 5px;text-align: center;margin-left: calc(33% - 57px);margin-top: 20px;white-space: nowrap;overflow: hidden;">
               {{item.name}}
            </div>
        </div>
       
    </ion-scroll>


    
     
</div>
