<ion-view class="xView-grey">
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">电子班牌列表</h1>
        <button class="button button-icon " style="color: white;font-size: 15px;padding-top: 3px;"
            ng-click="filterClass()"> 筛选 </button>
    </ion-header-bar>

    <div ng-style="{'top':getDeviceType()==='iphoneX'?'88px':getDeviceType()==='iphone'?'64px':'44px','height':selectClassName?'130px':'110px'}"
        style="padding-top:0px;border-top-width:0px;position: relative;">
        <div style="background-color: #2bcab2;padding:7px 13px;">
            <h3 ng-if="select.className"  ng-click="filterClass()" style="font-size: 18px;color: white;">{{select.className}}</h3>
            <div style="height:44px;">
                <div class="item item-input" id="item-search"
                    style="margin-bottom: 5px;margin:0px;background-color:white !important; ">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="设备编号或场所名称" ng-change="onChangeText()" ng-model="select.add_search"
                        maxlength="30" class="input" /><img ng-if="select.add_search.length>0" src="img/icon/close.png"
                        ng-click="select.add_search='';" style="width: 16px;height: 16px;margin-right: 10px;" />
                </div>
            </div>
        </div>
        <div style="margin: 0px 0px;padding: 0px 13px;background-color: white;height: 40px;color:#666;">

            <ion-checkbox class="checkbox-energized"
                style="font-size: 16px;border: 0;top: 6px; padding: 5px 5px 7px 50px;color: #333;width: 100px;"
                ng-click="selectAll()" id="selectAllBtn" ng-model="select.all">全选</ion-checkbox>
            <div style="float: right;margin-left: 14px;margin-top: -24px;">
                <span>已选设备:</span>
                <span><span style="color:orange">{{select.selectNum}}</span>/{{allCount}}</span>
            </div>


        </div>

    </div>

    <ion-content ng-style="{'margin-top': selectClassName?'130px':'110px'}">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="loadData()">
        </ion-refresher>
        <ion-list>
            <ion-checkbox class="item checkbox-energized"
                style="padding: 3px 3px 3px 38px;border-radius: 5px !important;margin: 10px;border-color:#fff !important;"
                ng-repeat="item in filtered = (list | filterPartOrSn:select.add_search)" ng-model="item.isChecked"
                ng-click="onCheckedChange(item)">
                <div style="width: calc(100% - 63px);">
                    <h2
                        style="margin-left: 20px;margin-top: 10px;color: #333;font-size: 16px;font-weight: 500;white-space: nowrap;overflow: hidden;text-overflow : ellipsis;">
                        {{item.sn}}
                        <!-- <span style="float: right;margin-right: 10px;color: green;font-size: small"
                        ng-if="item.processing">关机中...</span> -->
                    </h2>
                    <div style="margin: 8px 10px 8px 20px;color:#666;">
                        {{item.showModeStr}}
                    </div>

                    <div style="margin: 8px 10px 10px 20px;">
                        <span style="color:#666;font-size: 16px;" ng-if="item.classNo.className">
                            {{item.classNo.className}}</span>
                        <span style="color: #999;font-size: 15px;"
                            ng-style="{'margin-left':item.classNo.className?'10px':'0px'}">{{item.schoolSite.site_name}}</span>

                    </div>


                </div>

                <div style="width: 1px;background: #ddd;position: absolute;right: 59px;top:0px;bottom: 0px;"></div>


                <div ng-style="{'color':item.stateStr==='在线'?'orange':'#999'}"
                    style="font-size: 15px;position: absolute;right: 14px;top: calc(50% - 10px);height: 20px;line-height: 20px;">
                    {{item.stateStr}}
                </div>

            </ion-checkbox>

            <div ng-if="filtered.length == 0" class="empty-list-tip">
                <img src="img/empty_content.png">
                <p>暂无设备</p>
            </div>
            <div class="spacer" style="width: 300px; height: 60px;"></div>
        </ion-list>
    </ion-content>

    <ion-footer-bar ng-if="list.length > 0" style="height: 62px;border: none;background: #f3f4f6;padding: 0px;">

        <div class="row" style="padding: 0px;">
            <div ng-disabled="!select.isLight" class="button"
                ng-style="{'background':select.isLight?'#2bcab2':'#ddd','color':select.isLight?'white':'#555'}"
                ng-click="setFunc(0)"
                style="width: 110px;font-size: 15px;margin-top: 11px;margin-left:calc(25% - 70px);height:40px;line-height:40px;">
                显示模式设置
            </div>

            <div ng-disabled="!select.isLight" class="button"
                ng-style="{'background':select.isLight?'#2bcab2':'#ddd','color':select.isLight?'white':'#555'}"
                ng-click="setFunc(1)"
                style="width: 85px;font-size: 15px;margin-top: 11px;margin-left:calc(25% - 70px);height:40px;line-height:40px;">
                锁定设置
            </div>

            <div ng-disabled="!select.isLight" class="button"
                ng-style="{'background':select.isLight?'#2bcab2':'#ddd','color':select.isLight?'white':'#555'}"
                ng-click="setFunc(2)"
                style="width:85px;font-size: 15px;margin-top: 11px;margin-left:calc(25% - 70px);height:40px;line-height:40px;">
                关机
            </div>
        </div>


    </ion-footer-bar>

</ion-view>