<ion-scroll scrollX="false" scrollY="true" scrollbar-y="false" direction="y" class="list">
  <div class="row row-wrap" style="padding:0px;margin-top:10px;background-color: white;">
    <div ng-repeat="item in displayList" ng-click="chooseDisplayModel(item)"
      ng-style="{'background':select.displayKey===item.key?'#2bcab2':'#eee','color':select.displayKey===item.key?'white':'#666'}"
      style="border-radius: 5px;width:80px;font-size: 15px;margin-left:calc(25% - 60px);margin-top:15px;height:38px;line-height: 38px;text-align: center;">
      {{item.value}}
    </div>

    <div class="row" style="margin-top: 25px;margin-bottom: 20px;">
      <div class="button" ng-click="confirmDisplay()"
        style="height:40px;background:#2bcab2;color:white;width:85px;border-radius:5px;margin-left:calc(50% - 100px);">
        确定</div>
      <div class="button" ng-click="cancelDisplay()"
        style="height:40px;background:#ddd;color:#666;width:85px;border-radius:5px;margin-left:30px ;">取消</div>
    </div>

  </ion-scroll>