<ion-scroll scrollX="false" scrollY="true" scrollbar-y="false" direction="y" class="list">

    <div class="row row-wrap" style="padding:0px;margin-top:5px;background-color: white;">
        <div class="banpaiLockItem" ng-click="select.isSchoolSet=select.isSchoolSet===1?0:1"
            ng-style="{'background':select.isSchoolSet===1?'#2bcab2':'#eee','color':select.isSchoolSet===1?'white':'#666'}">
            1.学校班级信息</div>
        <div class="banpaiLockItem" ng-click="select.isDisplayStyle=select.isDisplayStyle===1?0:1"
            ng-style="{'background':select.isDisplayStyle===1?'#2bcab2':'#eee','color':select.isDisplayStyle===1?'white':'#666'}">
            2.显示风格</div>
        <div class="banpaiLockItem" ng-click="select.isDisplayModel=select.isDisplayModel===1?0:1"
            ng-style="{'background':select.isDisplayModel===1?'#2bcab2':'#eee','color':select.isDisplayModel===1?'white':'#666'}">
            3.显示模式</div>
        <div class="banpaiLockItem" ng-click="select.isMoreSet=select.isMoreSet===1?0:1"
            ng-style="{'background':select.isMoreSet===1?'#2bcab2':'#eee','color':select.isMoreSet===1?'white':'#666'}">
            4.更多设置</div>
        <div class="banpaiLockItem" ng-click="select.isSystemBtn=select.isSystemBtn===1?0:1"
            ng-style="{'background':select.isSystemBtn===1?'#2bcab2':'#eee','color':select.isSystemBtn===1?'white':'#666'}">
            5.系统按钮</div>

        <div style="width: calc(100% - 30px);height: 1px;background-color: #ddd;margin-top:20px;margin-left: 15px;">
        </div>
        <div style="text-align: center;width: 100%;margin-top: -2px;">
              <img ng-click="isShowAllTip=!isShowAllTip" ng-src="{{isShowAllTip?'img/arrow_up.png':'img/arrow_down.png'}}"
        style="width: 32px;height: 22px;" />
        </div>
      

        <div style="font-size: 14px;color:#666;margin-left: 15px;margin-top: 20px;">
            <div  ng-style="{'white-space':isShowAllTip ?'normal':'nowrap'}">
                <div > 锁定1:不能在班牌上修改绑定的学校班级场所 </div>
                <!-- <div style="margin-left: 44px;overflow: hidden;text-overflow : ellipsis;"></div> -->
            </div>
           

        </div>
        <div ng-if="isShowAllTip">
            <div style="font-size: 14px;color:#666;margin-left: 15px;margin-top: 8px;">
                锁定2: 不能在班牌上修改皮肤风格
            </div>
            <div style="font-size: 14px;color:#666;margin-left: 15px;margin-top: 8px;">
                锁定3: 不能在班牌上切换显示模式
            </div>
            <div style="font-size: 14px;color:#666;margin-left: 15px;margin-top: 8px;margin-right: 15px;">
                <div style="float: left;"> 锁定4: </div>
                <div style="margin-left: 44px;">不能在班牌上设置风采自动轮播和上课模式自动切换</div>
            </div>
            <div style="font-size: 14px;color:#666;margin-left: 15px;margin-top: 8px;">
                锁定5: 默认隐藏班牌左下角的按钮
            </div>
        </div>



        <div class="row" style="margin-top: 29px;margin-bottom: 20px;">
            <div class="button" ng-click="confirmLock()"
                style="height:40px;background:#2bcab2;color:white;width:85px;border-radius:5px;margin-left:calc(50% - 100px);">
                确定</div>
            <div class="button" ng-click="cancelLock()"
                style="height:40px;background:#eee;color:#666;width:85px;border-radius:5px;margin-left:30px ;">取消</div>
        </div>

    </div>

</ion-scroll>