ion-tabs.tabs-color-active-positive .tab-item.tab-item-active{color:#2bcab2 !important;}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated{
    color:#2bcab2 !important;
}
/* .button.active, .button.activated{
    border-color:none !important;
} */
div > #toast-container.toaste-top-right{
    width: 0px;
    height: 0px;
}
#gallery-img .row{
    height:109px !important;
}
.popup-container.popup-showing{
    visibility:visible !important;
}
.gallery-view .image-container {
    /* height:100px!important; */
    min-height: 100px !important;
    
  }
  .gallery-view .image-container img{
      min-height:101px !important;
      max-height:109px !important;
  }
.item{
    border-radius:0px !important;
}
 /**  user sugest 用户反馈*/
 .feedback-left{
    padding-top:0px !important;
    
    }
    .feedback-right{
    /* position: relative;
    top:20px;
    bottom: 20px; */
    }
    .load_no_more{
        color: darkgray;
         text-align: center;
         font-size: 15px;
         width: 100%;
     }
    
      img.feedback-pic {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: relative;
        /* bottom: 10px; */
    }
    /** 头像*/
    img.feedback-pic.left {
        float: left;
        left: 10px;
        top:25px;
    }
    img.feedback-pic.right {
        float: right;
        right: 10px;
        top:0px;
    }
      .feedback-username{
        display: block;
        position: relative;
        vertical-align: top;
        max-width: 70%;
        font-size: 11px;
        color: gray;
      }
      .feedback-username.left {
        float: left;
        top:0px;
        left:22px;
        margin-top: 10px;
    }
    .feedback-message {
        color: black;
        max-width: 65%;
        min-height: 40px;
        min-width: 40px;
        position: relative;
        align-items: center;
        display: flex;
        word-break:break-all;
        word-wrap:break-word;
       
      
    }
    .feedback-message.left {
        background-color: #fff;
        float: left;
        left:-30px;
        /* left:0px; */
        top:30px;
        padding:4px 9px 4px ;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-bottom: 40px;
        border-radius: 4px;
    }
    
    .feedback-message:before {
        content: "\00a0";
        display: block;
        height: 15px;
        position: absolute;
        top: 11px;
        transform:             rotate( 45deg ) skew( 0deg );
        -moz-transform:    rotate( 45deg ) skew( 0deg );
        -ms-transform:     rotate( 45deg ) skew( 0deg );
        -o-transform:      rotate( 45deg ) skew( 0deg );
        -webkit-transform: rotate( 45deg ) skew( 0deg );
        width:  15px;
    }
    .feedback-message.left:before {
        background-color: #fff;
        border-right: 0;
        border-top: 0;
        left: -7.8px;
    }
    
    .feedback-message.right {
        background-color: #03c475;
        float: right;
        margin: 0px 24px 5px 45px;
        padding-right: 10px;
        padding-left: 7px;
        top:3px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 4px;
    }
    
    .feedback-message.right:before {
        background-color: #03c475;
        border: 1px solid #03c475;
        /* border-left-width: 0px; */
        border-left: 0;
        border-bottom: 0;
        right: -7.2px;
       
    }
    .feedback-message.leftPic {
        /* background-color: #fff; */
        float: left;
        left:-38px;
        top:30px;
        /* padding:3px 8px 3px ; */
        padding-top: 3px;
        padding-bottom: 33px;
        max-height: 150px;
    }
    .feedback-message.rightPic {
        float: right;
        right:16px;
        top:3px;
        padding:3px 8px 3px ;
        max-height: 134px;
    }
    
    .feedback-time{
        color: gray;font-size: 13px;
        width: 100%;
       text-align: center;
        position: relative;
    }
    .feedback-time.right{
        margin-bottom: 8px;
        margin-top: 3px;
        top:0px;
    }
    .feedback-time.left{
        margin-bottom: 5px;
        margin-top: 8px;
        top:5px;
       
    }
    /***  foot view*/
    .feedback-foot{
        width: 100%;
        height: 100px;
        background-color: #f8f7f7;
        border-top: 1px solid #cfcece;
        position: absolute;
        bottom: 0px;
        border-top-width: 0px;
    }
    .img-switch{
        width: 3rem;
        height: 3rem;
        margin-top: 0.6rem;
    }
    .feedback-footer-btn{
        position: absolute;
        width: 58px;
        margin-right: 0px !important;
        right: -9px;
        
    }
    .feedback-footer-btn-img{
        position: absolute;
        width: 55px;
        background-color: white;
        top:0px;
      
    }
    .swiper-pagination-bullet{
    background-color: gray;
    }
    .button-xgreen {
        height: 40px !important;
        min-height: 40px !important;
        color: #fff;
        border-radius:5px;
        background-color: #2bcab2; 
    }
    .popup-container{
        /* top:3% !important; */
        bottom:20% !important;
        /* background: white !important;
         */
      }
    .popup-container  .popup{
        width:87.5% !important;
        background-color: white !important;
        max-height: 75%;
        overflow-x:hidden;
        overflow-y: scroll;
      
       
      }
      .button-cancel{
          background-color:#E5E5E5;
           height: 40px !important;
          min-height: 40px !important;
          color: #666666;
          border-radius:5px;
      }
      .popup-body{
         border-width: 0px;
      }
      .dateSelectAlert.popup{
          top:30% !important;
          margin-top: 20px !important;
      }
      .dateSelectAlert .popup-head{
          background-color: #2bcab2;
          color:white;
      }
      .dateSelectAlert .popup-head{
          padding-bottom: 8px;
          padding-top: 8px;
      }
      .dateSelectAlert .popup-head .popup-title {
        color:white;
        /* max-height:30px!important;
        height:30px; */
      }
      .dateSelectAlert .popup-head .popup-title >div>img{
         width:16px;
         height:26px;
      }
      .dateSelectAlert .popup-head .popup-title >div>span{
       margin-left:10px;
       margin-right: 10px;
        position: relative;
        /* top:-7px; */
     }
     .dateSelectAlert .item-input.input-label{
         width:50px !important;
     }
     .exam_scroll_view{
        display: inline;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; 
        /* padding:0px;*/
    }
    .exam_scroll_view .scroll{
        height:42px !important;
       line-height:42px !important;
    
    }
    .float-scroll{
        position: fixed;
        right: 0px;
        left:0px;
        z-index: 99999;
       
    }
    #grade-btn{
        min-height: 36px !important;
        align-items: center;
        padding-bottom: 5px;
        line-height: 35px;
        
    }
    .alert-startDate{
        color: red;
    }
    .abnormal_notice_time{
    width: calc(100% - 140px);
    height: 52px;
    line-height: 52px;
    background-color: white;
    border: 1px solid  #ff8a36;
    border-width: 1.5px;
     margin-left: 70px;
     margin-top: 25%;
     border-radius: 4px;
    }
    .abnormal_notice_bg{
        background-image: url('../img/noticeBg.jpg');
        background-size: cover;
    }

    .abnormal_notice_content{
        width: calc(100% - 70px);
        height: 280px;
        background-color: white;
         margin-left: 35px;
         margin-top: 30px;
         border-radius: 8px;
    }
    .abnormal_notice_text{
        width: calc(100% - 40px);
        padding-top: 30px;
        margin-left: 20px;
        line-height: 25px;
        font-size: 16px;
        color: #ff8a36;
    }

    /*** equipment repair */
    .repair_statue{
      
        /* margin-left: 15px; */
        width:80px;
        height: 32px;
        min-height:32px;
        line-height: 32px;
        border-radius: 16px;
        border: 1px solid #377EF5;
        font-size: 15px;
    }
    .repair_btn_normal {
        font-size: 15px;
        line-height: normal;
        min-height: 34px;
        border-radius: 17px;
        border-color: #9C9C9C !important;
        color: #9C9C9C !important;
        margin: 8px 8px !important;
        background: none;
        padding: 2px 15px;
    }
    
    .repair_btn_select {
        background: #2bcab2;
        color: #FFFFFF;
        font-size: 15px;
        line-height: normal;
        min-height: 34px;
        border-radius: 17px;
        margin: 8px 8px !important;
        padding: 0px 15px;
    }
    .repair_vendor_list{
        border:1px solid #ddd;
        border-radius: 5px;
        padding:7px;
        width:100%;
        margin-top:25px;
        height:38px;

    }
    .vendor_select {
        /* color: #333; */
        border: 0;
        font-size: 16px;
        background: transparent;
        appearance:none;
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari 和 Chrome */
        width: calc(100% - 20px);
        font-size:15px;
    }

    .vote-enter{
        float: right;
        margin-top: -38px;
        width: 71px;
        background-color: rgb(59, 114, 206);
        height:26px;
        line-height: 26px;
        text-align: right;
        color: white;
        font-size: 13px;
        align-items: center;
        border-radius: 13px;
    }

    /** 版本说明 */
    #versionIntroContent>ul>li>img{
      width: 100% !important;
    }
    #notice-detail img{
        width: 100% !important;
        height:auto;
      }
      /** 资产申领 */
  .assets-status-label{
    color:white;
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    border-radius: 11px;
    text-align: center;
    margin-top: 12px;
    max-width:80px;
    margin-bottom: 0px;
    float: left;
    padding:0px 10px; 
  }
  .assets-detail-info{
    font-size: 16px;
    background-color:white;
    height: 44px;
    line-height: 44px;
    border-bottom: 1px #ddd solid;
    padding-left: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow : ellipsis;
  }

  .main-item {
	margin-top: 15px;
	position: relative;
	text-align: center;
}

.main-item img {
	width: 45px;
	height: 45px;
	overflow: hidden;
	display: block;
	margin: auto;
}

/*** 授权提醒 */

.auth_alert .popup .popup-head {
    background-image: url('../img/main/auth_alert_bg.jpg');
    background-size: cover;
    height: 140px;
    line-height: 140px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom:none;
}
.auth_alert .popup .popup-head>h3 {
    /* line-height: 40px; */
    margin-top: 0px;
    color: white;
    font-size: 17px;
}
.auth_alert .popup .popup-head>h3 .logo{
    width:72px;
    height: 72px;
    border-radius: 5px;
    background:white;
    margin-top: 15px;
    margin-left: calc(50% - 36px);
}
.auth_alert .popup .popup-head>h3 .logo >img{
    width:60px;
    height:60px;
    margin: 6px;
}
.auth_alert .popup-body{
    background: #fff !important;
    border-radius:5px;
    max-height: 360px;
} 

.approval_alert>div {
    width: 200px;
}

.approval_alert .popup .popup-head {
    background-image: url('../img/others/alert_bg.jpg');
    background-size: cover;
    height: 72px;
    line-height: 72px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom:none;
}
.approval_alert .popup .popup-head>h3 {
    /* line-height: 40px; */
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
}
.approval_alert .popup-body{
    background: #fff !important;
    border-radius:5px;
    max-height: 320px;
} 
.person-grid {
	overflow: hidden;
    padding: 2px;
    height:50px;
    line-height:50px;
    min-width:110px;
    max-width:110px;
    width:110px;
    top:0px;
    /* margin-left:10px; */
}
.name-tab{
    height:35px;
    line-height:35px;
    background-color:#2bc2b2;
    color:white;
    text-align:center;
    width:85px;
    object-fit: cover;
    margin-top:10px;
    border-radius:3px;
}
.grade_select{
    /* background: white; */
    border: none;
    font-size: 16px;
    background: transparent;
    appearance: none;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari 和 Chrome */
}
/** 人像采集*/
#intro-checkbox {
    /* padding:auto !important; */
    padding-left: 18px !important;

}
#intro-checkbox .checkbox {
    width:24px;
}

.banpaiSetAlert.popup{
    top:30% !important;
    margin-top: 20px !important;
}
.banpaiSetAlert .popup-head{
    background-color: #2bcab2;
    color:white;
    background: -webkit-linear-gradient(left,#6EF6D8 , #2bcab2 ); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right,  #6EF6D8 , #2bcab2 ); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right,#6EF6D8 , #2bcab2 ); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right,#6EF6D8 , #2bcab2 ); /*标准的语法 */
}
.banpaiSetAlert .popup-head{
    padding-bottom: 14px;
    padding-top: 14px;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
}
.banpaiSetAlert .popup-head .popup-title {
  color:white !important;
  text-align: left ;
  font-size: 18px;
  /* max-height:30px!important;
  height:30px; */
}


.banpaiSetAlert .popup-head .popup-title >div>span{
 margin-left:10px;
 margin-right: 10px;
  position: relative;
}
.banpaiSetAlert .popup-body{
 padding: 0px;
 border-bottom-left-radius:5px;
 border-bottom-right-radius: 5px;
}
.banpaiLockItem{
    border-radius: 5px;
    width:120px;
    font-size: 15px;
    margin-left:calc(33% - 80px);
    margin-top:15px;
    height:38px;
    line-height: 38px;
    text-align: center; 
}
.liveMenu{
    /* box-shadow: 0 0 0 50vmax rgba(0,1,1,0.8); */
    border: 1px solid #f3f4f6;
}




    
   